Repository DashHub-ai/DashHub, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, ci, app: backend, app: chat, package: commons, package: commons-front, package: sdk, package: ui

feat(backend): add prototype gemini integration
  apps/backend/src/modules/ai-connector/clients/ai-gemini-proxy.ts
  apps/backend/src/modules/ai-connector/clients/ai-proxy.ts
Labels: app: backend

fix(backend): improve typing
  apps/backend/src/modules/messages/messages.service.ts
Labels: app: backend

fix(backend): improve buggy favorites reload
  apps/backend/src/modules/api/controllers/dashboard/favorites.controller.ts
  apps/backend/src/modules/users-favorites/users-favorites.firewall.ts
  apps/backend/src/modules/users-favorites/users-favorites.repo.ts
  apps/chat/src/app.tsx
  apps/chat/src/modules/favorites/favorite-star-button.tsx
  packages/sdk/src/modules/dashboard/favorites/dto/index.ts
  packages/sdk/src/modules/dashboard/favorites/dto/sdk-search-all-favorites.dto.ts
  packages/sdk/src/modules/dashboard/favorites/favorites.sdk.ts
  packages/sdk/src/react-integration/favorites/hooks/use-sdk-toggle-favorite.ts
  packages/sdk/src/react-integration/favorites/sdk-favorites-provider.tsx
Labels: app: backend, app: chat, package: sdk

fix(chat): remove big action from external api card
  apps/chat/src/modules/ai-external-apis/grid/ai-external-api-card.tsx
Labels: app: chat

feat(chat): gray only cards cta
  apps/chat/src/modules/apps/grid/app-card-big-actions.tsx
Labels: app: chat

feat(backend): add DB relations for ai external apis in apps
  apps/backend/src/migrations/0050-add-external-api-to-apps.ts
  apps/backend/src/migrations/index.ts
  apps/backend/src/modules/ai-external-apis/ai-external-apis.service.ts
  apps/backend/src/modules/ai-external-apis/ai-external-apis.tables.ts
  apps/backend/src/modules/ai-external-apis/elasticsearch/ai-external-apis-es-index.repo.ts
  apps/backend/src/modules/ai-external-apis/elasticsearch/ai-external-apis-es-search.repo.ts
  apps/backend/src/modules/apps/apps.repo.ts
  apps/backend/src/modules/apps/apps.tables.ts
  apps/backend/src/modules/apps/elasticsearch/apps-es-search.repo.ts
  packages/sdk/src/modules/dashboard/ai-external-apis/dto/index.ts
  packages/sdk/src/modules/dashboard/ai-external-apis/dto/sdk-ai-external-api-schema-only-relation.dto.ts
  packages/sdk/src/modules/dashboard/apps/dto/sdk-app.dto.ts
Labels: app: backend, package: sdk

feat(sdk): extend create / update API signatures
  packages/sdk/src/modules/dashboard/apps/dto/sdk-create-app.dto.ts
  packages/sdk/src/modules/dashboard/apps/dto/sdk-update-app.dto.ts
Labels: package: sdk

fix(chat): compiler crash
  apps/chat/src/routes/apps/create/create-app.route.tsx
Labels: app: chat

feat(backend): upsert internal external api when updating app
  apps/backend/src/modules/ai-external-apis/ai-external-apis.firewall.ts
  apps/backend/src/modules/ai-external-apis/ai-external-apis.service.ts
  apps/backend/src/modules/apps/apps.service.ts
Labels: app: backend

feat(chat): add external api schema editor
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/ai-external-api-creator/creator/index.ts
  apps/chat/src/modules/ai-external-api-creator/creator/use-ai-external-api-default-value.tsx
  apps/chat/src/modules/ai-external-api-creator/schema/ai-schema-creator.tsx
  apps/chat/src/modules/apps-creator/creator/app-create-form.tsx
  apps/chat/src/modules/apps-creator/update/app-update-form.tsx
  apps/chat/src/routes/ai-external-apis/create/create-ai-external-api.route.tsx
Labels: app: chat

fix(backend): not working removal of schema from integration
  apps/backend/src/modules/apps/apps.service.ts
Labels: app: backend

feat(backend): extend chat es index to include external api id
  apps/backend/src/modules/chats/chats.repo.ts
  apps/backend/src/modules/chats/chats.tables.ts
  apps/backend/src/modules/chats/elasticsearch/chats-es-search.repo.ts
  packages/sdk/src/modules/dashboard/chats/dto/sdk-chat.dto.ts
  packages/sdk/src/modules/dashboard/chats/dto/sdk-create-chat.dto.ts
Labels: app: backend, package: sdk

fix(sdk): wrong pick
  apps/backend/src/modules/ai-external-apis/ai-external-apis.service.ts
  apps/backend/src/modules/ai-external-apis/elasticsearch/ai-external-apis-es-search.repo.ts
  apps/backend/src/modules/messages/messages.service.ts
  apps/backend/src/modules/prompts/ai-external-apps/create-ai-external-api-async-functions.ts
  packages/sdk/src/modules/dashboard/chats/dto/sdk-create-chat.dto.ts
Labels: app: backend, package: sdk

fix(backend): add missing embedding errors connector errors
  apps/backend/src/modules/messages/messages.service.ts
Labels: app: backend

fix(backend): no longer fetch categories agg if search apps
  apps/backend/src/modules/apps/elasticsearch/apps-es-search.repo.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.service.ts
  apps/chat/src/modules/apps/grid/apps-container.tsx
  apps/chat/src/modules/apps/promoted-apps/promoted-apps-container.tsx
  packages/sdk/src/modules/dashboard/apps/dto/sdk-search-apps.dto.ts
Labels: app: backend, app: chat, package: sdk

feat(chat): improve align of badges
  apps/chat/src/modules/ai-external-apis/chat/external-ai-api-chat-badge.tsx
  apps/chat/src/modules/chats/conversation/messages/chat-message.tsx
  apps/chat/src/modules/chats/conversation/messages/content/chat-message-content.tsx
  apps/chat/src/modules/chats/conversation/messages/content/hydrate/hydrate-with-app-chat-badges.tsx
Labels: app: chat

feat(backend): add support for 3072 dimensional embedding layers
  apps/backend/src/modules/projects-embeddings/elasticsearch/projects-embeddings-es-index.repo.ts
Labels: app: backend

fix(backend): not working constant API parameters
  apps/backend/src/modules/prompts/ai-external-apps/create-ai-external-api-async-functions.ts
Labels: app: backend

fix(chat): adjust translations
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
Labels: app: chat

feat(chat): improve style of attached apps
  apps/chat/src/modules/chats/conversation/chat-attached-app.tsx
Labels: app: chat

feat(backend): add timezone AI context
  apps/backend/src/modules/prompts/context/create-context-prompt.ts
  apps/backend/src/modules/prompts/context/features/create-date-time-context-prompt.ts
  apps/backend/src/modules/prompts/context/features/index.ts
Labels: app: backend

feat(backend): add missing timezone data
  apps/backend/src/modules/prompts/context/features/create-date-time-context-prompt.ts
Labels: app: backend

fix(backend): drop `max_number_of_users` table column from organization
  apps/backend/src/migrations/0051-drop-max-number-of-users-from-organization.ts
  apps/backend/src/migrations/index.ts
  apps/backend/src/modules/organizations/elasticsearch/organizations-es-index.repo.ts
  apps/backend/src/modules/organizations/elasticsearch/organizations-es-search.repo.ts
  apps/backend/src/modules/organizations/organizations.tables.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/organizations/form/create/use-organization-create-form.tsx
  apps/chat/src/modules/organizations/form/shared/organization-shared-form-fields.tsx
  apps/chat/src/modules/organizations/form/update/use-organization-update-form.tsx
  apps/chat/src/modules/organizations/table/organizations-table-container.tsx
  packages/sdk/src/modules/dashboard/organizations/dto/sdk-organization.dto.ts
Labels: app: backend, app: chat, package: sdk

feat(global): init base commercial folder structure
  .gitignore
  apps/backend/src/commercial.stub/.gitkeep
  apps/chat/src/commercial.stub/.gitkeep
  externals/.gitkeep
  package.json
Labels: app: backend, app: chat

feat(global): add more stubs
  apps/backend/package.json
  apps/backend/src/commercial.stub/.gitkeep
  apps/backend/src/commercial.stub/is-premium-enabled.ts
  apps/backend/tsconfig.json
  apps/chat/src/commercial.stub/.gitkeep
  apps/chat/src/commercial.stub/is-premium-enabled.ts
  apps/chat/tsconfig.json
Labels: app: backend, app: chat

feat(backend): add is premium check during boot
  apps/backend/src/modules/boot/boot.service.ts
Labels: app: backend

fix(backend): update stubs
  apps/backend/src/commercial.stub/index.ts
Labels: app: backend

feat(backend): adjust example
  apps/backend/.env.example
Labels: app: backend

fix(global): reorder deps
  apps/backend/package.json
  apps/chat/package.json
Labels: app: backend, app: chat

feat(global): faster ci
  .github/workflows/lint-and-test.yml
Labels: ci

feat(global): add license to packages
  packages/commons-front/package.json
  packages/commons/package.json
  packages/sdk/package.json
Labels: package: commons, package: commons-front, package: sdk

feat(global): build packages before publish
  package.json
  packages/commons-front/package.json
  packages/sdk/package.json
Labels: package: commons-front, package: sdk

feat(global): extend package jsons
  packages/commons-front/package.json
  packages/commons/package.json
  packages/sdk/package.json
Labels: package: commons, package: commons-front, package: sdk

feat(global): publish commons packages
  package.json
  packages/commons-front/package.json
  packages/commons/package.json
  packages/sdk/package.json
  turbo.json
Labels: package: commons, package: commons-front, package: sdk

feat(global): add minor async utils
  .changeset/README.md
  .changeset/config.json
  apps/backend/tsconfig.json
  apps/chat/tsconfig.json
  package-lock.json
  package.json
  packages/commons-front/package.json
  packages/commons/CHANGELOG.md
  packages/commons/package.json
  packages/commons/src/helpers/try-parse-zod-schema.ts
  packages/sdk/package.json
  turbo.json
Labels: app: backend, app: chat, package: commons, package: commons-front, package: sdk

feat(global): adjust package.json flags
  apps/backend/package.json
  apps/chat/package.json
Labels: app: backend, app: chat

feat(commons): add `once` helper
  packages/commons/CHANGELOG.md
  packages/commons/package.json
  packages/commons/src/helpers/cache/index.ts
  packages/commons/src/helpers/cache/once.ts
Labels: package: commons

feat(sdk): make apiUrl optional
  apps/backend/src/modules/prompts/ai-external-apps/create-ai-external-api-async-functions.ts
  packages/sdk/src/modules/dashboard/ai-external-apis/dto/sdk-ai-external-api-schema.dto.ts
Labels: app: backend, package: sdk

feat(sdk): bump version
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: package: sdk

feat(sdk): add fallback for UUID
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/sdk/src/shared/dto/sdk-table-row-uuid.dto.ts
Labels: package: sdk

.github/labeler.yml:

'infra':
- changed-files:
  - any-glob-to-any-file: ['hetzner/**/*', 'config/**/*', 'infra/**/*', 'aws/**/*']

'ci':
- changed-files:
  - any-glob-to-any-file: ['.github/**/*']

'app: backend':
- changed-files:
  - any-glob-to-any-file: ['apps/backend/**/*']

'app: chat':
- changed-files:
  - any-glob-to-any-file: ['apps/chat/**/*']

'package: commons':
- changed-files:
  - any-glob-to-any-file: ['packages/commons/**/*']

'package: commons-front':
- changed-files:
  - any-glob-to-any-file: ['packages/commons-front/**/*']

'package: sdk':
- changed-files:
  - any-glob-to-any-file: ['packages/sdk/**/*']

'package: ui':
- changed-files:
  - any-glob-to-any-file: ['packages/ui/**/*']
