Repository DashHub-ai/DashHub, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, ci, app: backend, app: chat, package: commons, package: commons-front, package: sdk, package: ui

fix(global): update site urls
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  turbo.json
Labels: ci

fix(chat): change base url for assets
  apps/chat/vite.config.ts
Labels: app: chat

feat(chat): move root users management to choose organization view
  apps/backend/src/modules/users/elasticsearch/users-es-search.repo.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/organizations/table/organizations-table-container.tsx
  apps/chat/src/modules/users/table/users-table-container.tsx
  apps/chat/src/modules/users/table/users-table-row.tsx
  apps/chat/src/routes/choose-organization/choose-organization.route.tsx
  packages/sdk/src/modules/dashboard/users/dto/sdk-search-users.dto.ts
  packages/sdk/src/modules/dashboard/users/dto/sdk-user.dto.ts
Labels: app: backend, app: chat, package: sdk

feat(chat): move assistants editor to separate route
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/layouts/page-with-navigation.layout.tsx
  apps/chat/src/layouts/parts/index.ts
  apps/chat/src/layouts/parts/layout-breadcrumbs.tsx
  apps/chat/src/layouts/parts/layout-header.tsx
  apps/chat/src/modules/apps-creator/creator/app-create-form-modal.tsx
  apps/chat/src/modules/apps-creator/creator/app-create-form.tsx
  apps/chat/src/modules/apps-creator/creator/index.ts
  apps/chat/src/modules/apps-creator/creator/steps/app-create-form-step1.tsx
  apps/chat/src/modules/apps-creator/creator/steps/app-create-form-step2.tsx
  apps/chat/src/modules/apps-creator/creator/steps/index.ts
  apps/chat/src/modules/apps-creator/creator/use-app-create-modal.tsx
  apps/chat/src/modules/apps-creator/update/app-update-form-modal.tsx
  apps/chat/src/modules/apps-creator/update/app-update-form.tsx
  apps/chat/src/modules/apps-creator/update/index.ts
  apps/chat/src/modules/apps-creator/update/use-app-update-modal.tsx
  apps/chat/src/modules/apps/grid/app-card.tsx
  apps/chat/src/modules/apps/grid/apps-container.tsx
  apps/chat/src/router.tsx
  apps/chat/src/routes/apps-editor/apps-editor.route.tsx
  apps/chat/src/routes/apps-editor/index.ts
  apps/chat/src/routes/apps/apps.route.tsx
  apps/chat/src/routes/apps/create/create-app.route.tsx
  apps/chat/src/routes/apps/create/index.ts
  apps/chat/src/routes/apps/index.ts
  apps/chat/src/routes/apps/update/index.ts
  apps/chat/src/routes/apps/update/update-app.route.tsx
  apps/chat/src/routes/index.ts
  apps/chat/src/routes/use-sitemap.tsx
  apps/chat/src/ui/components/card/card-action-buttons.tsx
Labels: app: chat

feat(chat): add missing files
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/apps-creator/creator/app-create-form.tsx
  apps/chat/src/modules/apps-creator/update/app-update-form.tsx
  apps/chat/src/routes/apps/create/create-app.route.tsx
  apps/chat/src/routes/apps/update/update-app.route.tsx
Labels: app: chat

feat(backend): move prompts to separate module
  apps/backend/src/modules/messages/helpers/index.ts
  apps/backend/src/modules/messages/messages.service.ts
  apps/backend/src/modules/prompts/context/create-action-buttons-prompt.ts
  apps/backend/src/modules/prompts/context/create-context-prompt.ts
  apps/backend/src/modules/prompts/context/create-quotes-prompt.ts
  apps/backend/src/modules/prompts/context/index.ts
  apps/backend/src/modules/prompts/index.ts
  apps/backend/src/modules/prompts/message/create-attached-files-message-prefix.ts
  apps/backend/src/modules/prompts/message/create-reply-ai-message-prefix.ts
  apps/backend/src/modules/prompts/message/index.ts
  apps/backend/src/modules/prompts/system/create-attach-app-system-message.ts
  apps/backend/src/modules/prompts/system/index.ts
Labels: app: backend

feat(backend): add personality to the bot
  apps/backend/src/modules/prompts/context/create-action-buttons-prompt.ts
  apps/backend/src/modules/prompts/context/create-context-prompt.ts
  apps/backend/src/modules/prompts/context/features/create-action-buttons-context-prompt.ts
  apps/backend/src/modules/prompts/context/features/create-quotes-context-prompt.ts
  apps/backend/src/modules/prompts/context/features/index.ts
  apps/backend/src/modules/prompts/context/features/wrap-with-feature-prompt-header.ts
  apps/backend/src/modules/prompts/context/index.ts
  apps/backend/src/modules/prompts/context/personas/create-default-persona-context-prompt.ts
  apps/backend/src/modules/prompts/context/personas/index.ts
  apps/backend/src/modules/prompts/context/personas/wrap-with-persona-prompt-header.ts
  apps/backend/src/modules/prompts/message/create-attached-files-message-prefix.ts
Labels: app: backend

feat(chat): improve chat style
  apps/chat/src/layouts/page-with-navigation.layout.tsx
  apps/chat/src/modules/chats/conversation/chat-background.tsx
  apps/chat/src/modules/chats/conversation/chat-conversation-panel.tsx
  apps/chat/src/modules/chats/conversation/files/files-cards-list.tsx
  apps/chat/src/modules/chats/conversation/index.ts
  apps/chat/src/modules/chats/conversation/messages/buttons/toolbar-small-action-button.tsx
  apps/chat/src/modules/chats/conversation/messages/chat-message-ai-actions.tsx
  apps/chat/src/modules/chats/conversation/messages/chat-message-replied-message.tsx
  apps/chat/src/modules/chats/conversation/messages/chat-message-variants.tsx
  apps/chat/src/modules/chats/conversation/messages/chat-message.tsx
  apps/chat/src/routes/chat/chat.route.tsx
Labels: app: chat

feat(chat): improve chat style
  apps/chat/src/modules/chats/conversation/messages/chat-message-content.tsx
  apps/chat/src/modules/chats/conversation/messages/chat-message.tsx
Labels: app: chat

feat(chat): remove border from chat config
  apps/chat/src/modules/chats/conversation/config-panel/chat-config-panel.tsx
Labels: app: chat

fix(chat): drop internal conversation
  apps/chat/src/modules/chats/index.ts
  apps/chat/src/modules/chats/internal-conversation/index.ts
  apps/chat/src/modules/chats/internal-conversation/internal-conversation-panel.tsx
Labels: app: chat

fix(chat): not working quotes
  apps/backend/src/modules/api/controllers/dashboard/chats.controller.ts
  apps/backend/src/modules/messages/messages.service.ts
  apps/backend/src/modules/prompts/message/create-reply-ai-message-prefix.ts
  apps/chat/src/modules/chats/conversation/messages/chat-message-replied-message.tsx
  apps/chat/src/modules/chats/conversation/messages/chat-message.tsx
Labels: app: backend, app: chat

feat(chat): simplify chat input
  apps/chat/src/modules/chats/start-chat/start-chat-form.tsx
Labels: app: chat

feat(chat): improve style of app badges
  apps/chat/src/modules/apps/chat/app-chat-badge.tsx
  apps/chat/src/modules/chats/conversation/content-parse/hydrate-with-app-chat-badges.tsx
  apps/chat/src/modules/projects-embeddings/chat/project-embedding-chat-badge.tsx
Labels: app: chat

fix(chat): buggy all apps counter
  apps/chat/src/modules/apps-categories/sidebar/apps-categories-sidebar.tsx
  apps/chat/src/modules/apps-categories/sidebar/items/app-category-button.tsx
  apps/chat/src/modules/apps/grid/apps-container.tsx
Labels: app: chat

feat(backend): add internal app projects
  apps/backend/src/migrations/0036-add-projects-to-apps.ts
  apps/backend/src/migrations/index.ts
  apps/backend/src/modules/apps/apps.firewall.ts
  apps/backend/src/modules/apps/apps.repo.ts
  apps/backend/src/modules/apps/apps.service.ts
  apps/backend/src/modules/apps/apps.tables.ts
  apps/backend/src/modules/apps/elasticsearch/apps-es-index.repo.ts
  apps/backend/src/modules/apps/elasticsearch/apps-es-search.repo.ts
  apps/backend/src/modules/projects/projects.repo.ts
  apps/backend/src/modules/projects/projects.service.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/modules/permissions/share-resource/autocomplete/search-users-groups-input.tsx
  apps/chat/src/modules/permissions/share-resource/list/resource-permissions-list.tsx
  packages/sdk/src/modules/dashboard/apps/dto/sdk-app.dto.ts
  packages/sdk/src/modules/dashboard/apps/dto/sdk-create-app.dto.ts
  packages/sdk/src/modules/dashboard/apps/dto/sdk-update-app.dto.ts
Labels: app: backend, app: chat, package: sdk

feat(chat): improve styling a little bit
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/apps-creator/update/app-update-form.tsx
  apps/chat/src/modules/chats/conversation/files/file-card.tsx
  apps/chat/src/modules/projects/files/project-file-card.tsx
  apps/chat/src/routes/apps/create/create-app.route.tsx
  apps/chat/src/routes/apps/update/update-app.route.tsx
  apps/chat/src/ui/components/card/card-base.tsx
  apps/chat/src/ui/components/pagination/toolbar/pagination-search-toolbar-item.tsx
  apps/chat/src/ui/components/pagination/toolbar/pagination-toolbar.tsx
Labels: app: chat

feat(chat): reduce reset filters button size
  apps/chat/src/ui/components/predefined/buttons/reset-filters-button.tsx
Labels: app: chat

feat(backend): update RAG to support files in apps
  apps/backend/src/modules/messages/messages.service.ts
  apps/backend/src/modules/projects-embeddings/elasticsearch/projects-embeddings-es-search.repo.ts
  apps/backend/src/modules/projects-embeddings/helpers/create-relevant-embeddings-prompt.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.service.ts
  apps/backend/src/modules/prompts/system/create-attach-app-system-message.ts
  packages/sdk/src/modules/dashboard/projects-embeddings/dto/sdk-project-embedding.dto.ts
Labels: app: backend, package: sdk

fix(chat): revert add app button
  apps/chat/src/modules/chats/conversation/input-toolbar/chat-input-toolbar.tsx
Labels: app: chat

feat(chat): add support for error handling
  apps/backend/src/migrations/0037-add-corrupted-flag-to-messages.ts
  apps/backend/src/migrations/index.ts
  apps/backend/src/modules/messages/elasticsearch/messages-es-search.repo.ts
  apps/backend/src/modules/messages/messages.service.ts
  apps/backend/src/modules/messages/messages.tables.ts
  apps/chat/src/modules/chats/conversation/hooks/use-optimistic-response-creator.tsx
  apps/chat/src/modules/chats/conversation/hooks/use-reply-conversation-handler.tsx
  apps/chat/src/modules/chats/conversation/messages/chat-message.tsx
  packages/sdk/src/modules/dashboard/messages/dto/sdk-message.dto.ts
Labels: app: backend, app: chat, package: sdk

feat(chat): handle errors during save of file
  apps/backend/src/modules/projects-embeddings/generators/text-ai-embedding.generator.ts
  apps/chat/src/modules/projects/files/use-file-upload.ts
Labels: app: backend, app: chat

feat(chat): simplify chat view, add models to apps
  apps/backend/src/migrations/0038-add-ai-model-to-apps.ts
  apps/backend/src/migrations/index.ts
  apps/backend/src/modules/apps/apps.repo.ts
  apps/backend/src/modules/apps/apps.service.ts
  apps/backend/src/modules/apps/apps.tables.ts
  apps/backend/src/modules/apps/elasticsearch/apps-es-search.repo.ts
  apps/backend/src/modules/messages/messages.service.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/apps-creator/creator/use-app-create-form.tsx
  apps/chat/src/modules/apps-creator/shared/app-shared-form-fields.tsx
  apps/chat/src/modules/apps-creator/update/use-app-update-form.tsx
  apps/chat/src/modules/chats/conversation/chat-conversation-panel.tsx
  apps/chat/src/modules/chats/conversation/config-panel/chat-config-panel.tsx
  apps/chat/src/modules/chats/conversation/input-toolbar/chat-input-toolbar.tsx
  apps/chat/src/routes/apps/create/create-app.route.tsx
  apps/chat/src/ui/components/collapsible-panel.tsx
  packages/sdk/src/modules/dashboard/apps/dto/sdk-app.dto.ts
  packages/sdk/src/modules/dashboard/apps/dto/sdk-create-app.dto.ts
  packages/sdk/src/modules/dashboard/apps/dto/sdk-update-app.dto.ts
Labels: app: backend, app: chat, package: sdk

fix(chat): hide permissions from your chats
  apps/chat/src/modules/chats/grid/chat-card.tsx
  apps/chat/src/modules/chats/grid/chats-container.tsx
  apps/chat/src/modules/chats/history/chats-history-section.tsx
Labels: app: chat

fix(chat): improve alignment
  apps/chat/src/modules/permissions/card/card-record-permissions-row.tsx
  apps/chat/src/modules/permissions/card/shared-with/card-record-permissions.tsx
  apps/chat/src/ui/components/card/card-footer.tsx
Labels: app: chat

feat(chat): add app promotion priority
  apps/backend/src/migrations/0039-add-promotion-to-apps.ts
  apps/backend/src/migrations/index.ts
  apps/backend/src/modules/apps/apps.tables.ts
  apps/backend/src/modules/apps/elasticsearch/apps-es-index.repo.ts
  apps/backend/src/modules/apps/elasticsearch/apps-es-search.repo.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/apps-creator/shared/app-shared-form-fields.tsx
  apps/chat/src/routes/apps/create/create-app.route.tsx
  packages/sdk/src/modules/dashboard/apps/dto/sdk-app.dto.ts
  packages/sdk/src/modules/dashboard/apps/dto/sdk-search-apps.dto.ts
  packages/sdk/src/shared/dto/sdk-search-sort.dto.ts
Labels: app: backend, app: chat, package: sdk

fix(chat): type fixes
  packages/sdk/src/shared/dto/sdk-search-sort.dto.ts
Labels: package: sdk

fix(chat): typo in `AppsCategoriesTableContainer`
  apps/chat/src/modules/apps-categories/table/apps-categories-table-container.tsx
Labels: app: chat

feat(backend): unassign user from all external projects if archived
  apps/backend/src/modules/elasticsearch/repo/elasticsearch-index.repo.ts
  apps/backend/src/modules/permissions/permissions.repo.ts
  apps/backend/src/modules/permissions/permissions.service.ts
  apps/backend/src/modules/users/users.service.ts
  apps/chat/src/modules/permissions/card/card-record-creator.tsx
  apps/chat/src/modules/permissions/card/card-record-permissions-row.tsx
  apps/chat/src/modules/permissions/card/shared-with/card-record-permissions.tsx
  apps/chat/src/modules/permissions/share-resource/list/resource-permissions-list.tsx
  apps/chat/src/ui/components/card/card-footer.tsx
Labels: app: backend, app: chat

fix(chat): add wrapping of toolbar in chat message
  apps/chat/src/modules/chats/conversation/messages/chat-message.tsx
Labels: app: chat

feat(sdk): add `UsersMeSdk`
  packages/sdk/src/modules/dashboard/users/index.ts
  packages/sdk/src/modules/dashboard/users/users-me.sdk.ts
  packages/sdk/src/modules/dashboard/users/users.sdk.ts
Labels: package: sdk

feat(backend): add users me controller
  apps/backend/src/modules/api/controllers/dashboard/dashboard.controller.ts
  apps/backend/src/modules/api/controllers/dashboard/index.ts
  apps/backend/src/modules/api/controllers/dashboard/users-me.controller.ts
  apps/backend/src/modules/users/users.firewall.ts
Labels: app: backend

feat(sdk): add profile subscribe context
  apps/chat/src/app.tsx
  packages/sdk/src/react-integration/index.ts
  packages/sdk/src/react-integration/me/hooks/index.ts
  packages/sdk/src/react-integration/me/hooks/use-sdk-subscribe-me-or-throw.ts
  packages/sdk/src/react-integration/me/index.ts
  packages/sdk/src/react-integration/me/sdk-me-context.tsx
  packages/sdk/src/react-integration/me/sdk-me-provider.tsx
Labels: app: chat, package: sdk

feat(chat): add user settings form
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/layouts/navigation/logged-in/logged-in-user-item.tsx
  apps/chat/src/modules/index.ts
  apps/chat/src/modules/users-me/form/index.ts
  apps/chat/src/modules/users-me/form/update-me-form.tsx
  apps/chat/src/modules/users-me/form/use-update-me-form.tsx
  apps/chat/src/modules/users-me/index.ts
  apps/chat/src/router.tsx
  apps/chat/src/routes/settings/index.ts
  apps/chat/src/routes/settings/layout/index.ts
  apps/chat/src/routes/settings/layout/settings.layout.tsx
  apps/chat/src/routes/settings/pages/index.ts
  apps/chat/src/routes/settings/pages/me-settings.route.tsx
  apps/chat/src/routes/settings/settings.route.tsx
  apps/chat/src/routes/use-sitemap.tsx
  apps/chat/src/ui/components/content-card.tsx
Labels: app: chat

feat(backend): add users avatars support
  apps/backend/src/migrations/0040-add-users-avatars.ts
  apps/backend/src/migrations/index.ts
  apps/backend/src/modules/api/controllers/dashboard/users-me.controller.ts
  apps/backend/src/modules/api/controllers/dashboard/users.controller.ts
  apps/backend/src/modules/permissions/permissions.firewall.ts
  apps/backend/src/modules/users/users.boot.ts
  apps/backend/src/modules/users/users.firewall.ts
  apps/backend/src/modules/users/users.repo.ts
  apps/backend/src/modules/users/users.service.ts
  apps/backend/src/modules/users/users.tables.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/users-me/form/update-me-form.tsx
  apps/chat/src/modules/users/form/shared/user-shared-form-fields.tsx
  packages/commons/src/types/distributive-omit.type.ts
  packages/commons/src/types/distributive-overwrite.type.ts
  packages/commons/src/types/index.ts
  packages/sdk/src/modules/dashboard/users/dto/sdk-create-user.dto.ts
  packages/sdk/src/modules/dashboard/users/dto/sdk-update-user.dto.ts
  packages/sdk/src/modules/dashboard/users/dto/sdk-user.dto.ts
  packages/sdk/src/modules/dashboard/users/users-me.sdk.ts
  packages/sdk/src/modules/dashboard/users/users.sdk.ts
Labels: app: backend, app: chat, package: commons, package: sdk

fix(chat): not working avatar change on update form modal
  apps/chat/src/modules/users/form/update/user-update-form-modal.tsx
Labels: app: chat

feat(chat): display avatar in navigation header
  apps/chat/src/layouts/navigation/logged-in/logged-in-button.tsx
Labels: app: chat

feat(backend): add avatars to permissions list
  apps/backend/src/modules/permissions/permissions.repo.ts
  apps/backend/src/modules/permissions/permissions.tables.ts
  apps/backend/src/modules/permissions/record-protection/map-raw-es-doc-to-sdk-permissions.ts
  apps/backend/src/modules/permissions/record-protection/map-raw-json-agg-relation-to-sdk-permissions.ts
  apps/backend/src/modules/permissions/record-protection/prepend-creator-if-non-public-permissions.ts
  apps/backend/src/modules/share-resource/share-resource.service.ts
  packages/sdk/src/modules/dashboard/share-resource/dto/sdk-search-share-resource-users-groups.dto.ts
  packages/sdk/src/modules/dashboard/users/dto/sdk-user-list-item.dto.ts
Labels: app: backend, package: sdk

feat(chat): show avatars on permissions list
  apps/chat/src/modules/permissions/list/permission-user-avatar.tsx
  apps/chat/src/ui/components/avatar/avatar.tsx
  apps/chat/src/ui/components/avatar/colorized-avatar.tsx
  apps/chat/src/ui/components/tooltip/tooltip.tsx
Labels: app: chat

fix(backend): not working upserting records with files
  apps/backend/src/modules/api/controllers/dashboard/apps.controller.ts
  apps/backend/src/modules/api/controllers/dashboard/users-me.controller.ts
  apps/backend/src/modules/api/controllers/dashboard/users.controller.ts
  apps/backend/src/modules/api/helpers/extract-file-or-list-item.ts
  apps/chat/src/modules/chats/conversation/chat-attached-app.tsx
  packages/sdk/src/shared/dto/sdk-optional-file-upload.dto.ts
Labels: app: backend, app: chat, package: sdk

.github/labeler.yml:

'infra':
- changed-files:
  - any-glob-to-any-file: ['hetzner/**/*', 'config/**/*', 'infra/**/*', 'aws/**/*']

'ci':
- changed-files:
  - any-glob-to-any-file: ['.github/**/*']

'app: backend':
- changed-files:
  - any-glob-to-any-file: ['apps/backend/**/*']

'app: chat':
- changed-files:
  - any-glob-to-any-file: ['apps/chat/**/*']

'package: commons':
- changed-files:
  - any-glob-to-any-file: ['packages/commons/**/*']

'package: commons-front':
- changed-files:
  - any-glob-to-any-file: ['packages/commons-front/**/*']

'package: sdk':
- changed-files:
  - any-glob-to-any-file: ['packages/sdk/**/*']

'package: ui':
- changed-files:
  - any-glob-to-any-file: ['packages/ui/**/*']
