Repository DashHub-ai/DashHub, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, ci, app: backend, app: chat, package: commons, package: commons-front, package: sdk, package: ui

feat(chat): realign message content files
  apps/chat/src/modules/chats/conversation/index.ts
  apps/chat/src/modules/chats/conversation/messages/chat-message-replied-message.tsx
  apps/chat/src/modules/chats/conversation/messages/chat-message.tsx
  apps/chat/src/modules/chats/conversation/messages/content/chat-message-content.tsx
  apps/chat/src/modules/chats/conversation/messages/content/index.ts
  apps/chat/src/modules/chats/conversation/messages/content/parser/hydrate-result.ts
  apps/chat/src/modules/chats/conversation/messages/content/parser/hydrate-with-app-chat-badges.tsx
  apps/chat/src/modules/chats/conversation/messages/content/parser/hydrate-with-chat-actions.tsx
  apps/chat/src/modules/chats/conversation/messages/content/parser/hydrate-with-projects-embeddings-badges.tsx
  apps/chat/src/modules/chats/conversation/messages/content/parser/hydrate-with-web-search-sources.tsx
  apps/chat/src/modules/chats/conversation/messages/content/parser/index.ts
  apps/chat/src/modules/chats/conversation/messages/content/parser/message-markdown.tsx
  apps/chat/src/modules/chats/conversation/messages/content/parser/use-content-hydration.ts
  apps/chat/src/modules/chats/conversation/messages/index.ts
Labels: app: chat

feat(chat): add support for code blocks
  apps/chat/package.json
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/chats/conversation/messages/chat-message.tsx
  apps/chat/src/modules/chats/conversation/messages/content/chat-message-content.tsx
  apps/chat/src/modules/chats/conversation/messages/content/chat-message-markdown.tsx
  apps/chat/src/modules/chats/conversation/messages/content/parser/index.ts
  apps/chat/src/modules/chats/conversation/messages/content/parser/message-markdown.tsx
  apps/chat/src/modules/chats/conversation/messages/content/widgets/chat-code-block.tsx
  apps/chat/src/modules/chats/conversation/messages/content/widgets/index.ts
  yarn.lock
Labels: app: chat

feat(chat): improve styling of code blocks
  apps/chat/src/modules/chats/conversation/messages/content/chat-message-content.tsx
  apps/chat/src/modules/chats/conversation/messages/content/hydrate/hydrate-result.ts
  apps/chat/src/modules/chats/conversation/messages/content/hydrate/hydrate-with-app-chat-badges.tsx
  apps/chat/src/modules/chats/conversation/messages/content/hydrate/hydrate-with-chat-actions.tsx
  apps/chat/src/modules/chats/conversation/messages/content/hydrate/hydrate-with-projects-embeddings-badges.tsx
  apps/chat/src/modules/chats/conversation/messages/content/hydrate/hydrate-with-web-search-sources.tsx
  apps/chat/src/modules/chats/conversation/messages/content/hydrate/index.ts
  apps/chat/src/modules/chats/conversation/messages/content/hydrate/use-content-hydration.ts
  apps/chat/src/modules/chats/conversation/messages/content/index.ts
  apps/chat/src/modules/chats/conversation/messages/content/sanitize-content-preserving-code-blocks.ts
  apps/chat/src/modules/chats/conversation/messages/content/widgets/chat-code-block.tsx
Labels: app: chat

feat(chat): add dynamic preview of code blocks
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/chats/conversation/chat-conversation-panel.tsx
  apps/chat/src/modules/chats/conversation/hooks/use-autofocus-conversation-input.tsx
  apps/chat/src/modules/chats/conversation/messages/content/chat-message-content.tsx
  apps/chat/src/modules/chats/conversation/messages/content/chat-message-markdown.tsx
  apps/chat/src/modules/chats/conversation/messages/content/widgets/chat-code-block.tsx
  apps/chat/src/modules/chats/conversation/messages/content/widgets/chat-code-browser-preview.tsx
  apps/chat/src/modules/chats/conversation/messages/content/widgets/chat-code-toolbar-button.tsx
  packages/commons-front/src/hooks/index.ts
  packages/commons-front/src/hooks/use-portal-root.tsx
  packages/commons/src/types/index.ts
  packages/commons/src/types/size.type.ts
Labels: app: chat, package: commons, package: commons-front

feat(chat): improve a little bit prompt
  apps/backend/src/modules/prompts/context/create-context-prompt.ts
  apps/backend/src/modules/prompts/context/create-critical-context-prompt.ts
  apps/backend/src/modules/prompts/context/features/create-html-preview-context-prompt.ts
  apps/backend/src/modules/prompts/context/features/index.ts
Labels: app: backend

feat(chat): better centerize diagrams
  apps/backend/src/modules/prompts/context/features/create-html-preview-context-prompt.ts
Labels: app: backend

feat(backend): improve charts
  apps/backend/src/modules/prompts/context/features/create-html-preview-context-prompt.ts
Labels: app: backend

feat(backend): improve charts
  apps/backend/src/modules/prompts/context/features/create-html-preview-context-prompt.ts
Labels: app: backend

feat(backend): improve charts
  apps/backend/src/modules/prompts/context/features/create-html-preview-context-prompt.ts
Labels: app: backend

feat(backend): improve charts prompts
  apps/backend/src/modules/prompts/context/features/create-html-preview-context-prompt.ts
  apps/chat/src/modules/chats/conversation/messages/content/widgets/chat-code-block.tsx
Labels: app: backend, app: chat

feat(backend): improve analyze of CSV files
  apps/backend/src/modules/projects-embeddings/generators/csv-ai-embedding.generator.ts
  apps/backend/src/modules/prompts/context/features/create-html-preview-context-prompt.ts
Labels: app: backend

feat(backend): improve diagram generator prompt
  apps/backend/src/modules/prompts/context/features/create-html-preview-context-prompt.ts
  apps/backend/src/modules/prompts/message/create-attached-files-message-prefix.ts
Labels: app: backend

feat(backend): init organization ai settings table schema
  apps/backend/src/migrations/0045-add-organizations-ai-settings-table.ts
  apps/backend/src/migrations/index.ts
  apps/backend/src/modules/database/database.tables.ts
  apps/backend/src/modules/messages/messages.service.ts
  apps/backend/src/modules/organizations-ai-settings/index.ts
  apps/backend/src/modules/organizations-ai-settings/organizations-ai-settings.repo.ts
  apps/backend/src/modules/organizations-ai-settings/organizations-ai-settings.service.ts
  apps/backend/src/modules/organizations-ai-settings/organizations-ai-settings.tables.ts
  apps/backend/src/modules/users-ai-settings/users-ai-settings.service.ts
Labels: app: backend

feat(backend): add extended personalities context support in chats
  apps/backend/src/modules/messages/messages.service.ts
  apps/backend/src/modules/prompts/context/create-context-prompt.ts
  apps/backend/src/modules/prompts/context/personas/create-custom-persona-context-prompt.ts
Labels: app: backend

feat(backend): add organization chat personality settings
  apps/backend/src/modules/organizations-ai-settings/organizations-ai-settings.tables.ts
  apps/backend/src/modules/organizations/elasticsearch/organizations-es-index.repo.ts
  apps/backend/src/modules/organizations/elasticsearch/organizations-es-search.repo.ts
  apps/backend/src/modules/organizations/organizations.repo.ts
  apps/backend/src/modules/organizations/organizations.tables.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/organizations/form/create/organization-create-form-modal.tsx
  apps/chat/src/modules/organizations/form/shared/organization-ai-settings-form-field.tsx
  apps/chat/src/modules/organizations/form/shared/organization-shared-form-fields.tsx
  apps/chat/src/modules/organizations/table/organizations-table-container.tsx
  packages/sdk/src/modules/dashboard/organizations/dto/ai-settings/index.ts
  packages/sdk/src/modules/dashboard/organizations/dto/ai-settings/sdk-organization-ai-settings.dto.ts
  packages/sdk/src/modules/dashboard/organizations/dto/ai-settings/sdk-upsert-organization-ai-settings.dto.ts
  packages/sdk/src/modules/dashboard/organizations/dto/index.ts
  packages/sdk/src/modules/dashboard/organizations/dto/sdk-organization.dto.ts
Labels: app: backend, app: chat, package: sdk

feat(chat): add my organization form
  apps/backend/src/modules/api/controllers/dashboard/organizations.controller.ts
  apps/backend/src/modules/organizations/elasticsearch/organizations-es-search.repo.ts
  apps/backend/src/modules/organizations/organizations.firewall.ts
  apps/backend/src/modules/organizations/organizations.service.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/index.ts
  apps/chat/src/modules/organizations-my/index.ts
  apps/chat/src/modules/organizations-my/my-organization-form.tsx
  apps/chat/src/modules/users-me/form/index.ts
  apps/chat/src/modules/users-me/form/use-update-me-form.tsx
  apps/chat/src/modules/users-me/index.ts
  apps/chat/src/modules/users-me/update-me-form.tsx
  apps/chat/src/router.tsx
  apps/chat/src/routes/settings/layout/settings.layout.tsx
  apps/chat/src/routes/settings/pages/index.ts
  apps/chat/src/routes/settings/pages/my-organization-settings.route.tsx
  apps/chat/src/routes/use-sitemap.tsx
  packages/sdk/src/modules/dashboard/organizations/organizations.sdk.ts
Labels: app: backend, app: chat, package: sdk

fix(chat): not working settings route on root account
  apps/chat/src/router.tsx
  apps/chat/src/routes/settings/layout/settings.layout.tsx
Labels: app: chat

feat(backend): add organization scope projects
  apps/backend/src/migrations/0046-add-projects-to-organizations-ai-settings.ts
  apps/backend/src/migrations/index.ts
  apps/backend/src/modules/organizations-ai-settings/organizations-ai-settings.tables.ts
Labels: app: backend

feat(backend): add automatic creation of organization projects
  apps/backend/src/migrations/0046-add-projects-to-organizations-ai-settings.ts
  apps/backend/src/modules/organizations-ai-settings/organizations-ai-settings.repo.ts
  apps/backend/src/modules/organizations-ai-settings/organizations-ai-settings.service.ts
  apps/backend/src/modules/organizations/organizations.repo.ts
  apps/backend/src/modules/organizations/organizations.service.ts
  apps/backend/src/modules/projects/projects.service.ts
  apps/backend/src/modules/users/users.repo.ts
  apps/backend/src/modules/users/users.service.ts
  apps/chat/src/modules/organizations-my/my-organization-form.tsx
Labels: app: backend, app: chat

feat(chat): add knowledge files
  apps/backend/src/modules/organizations/elasticsearch/organizations-es-search.repo.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/organizations-my/my-organization-form.tsx
  apps/chat/src/modules/organizations/form/shared/organization-ai-settings-form-field.tsx
  apps/chat/src/routes/settings/pages/my-organization-settings.route.tsx
  packages/sdk/src/modules/dashboard/organizations/dto/ai-settings/sdk-organization-ai-settings.dto.ts
  packages/sdk/src/modules/dashboard/organizations/dto/sdk-create-organization.dto.ts
  packages/sdk/src/modules/dashboard/organizations/dto/sdk-update-organization.dto.ts
Labels: app: backend, app: chat, package: sdk

fix(chat): improve typings
  apps/chat/src/modules/organizations/form/shared/organization-shared-form-fields.tsx
Labels: app: chat

feat(backend): make knowledge files prototype
  apps/backend/src/modules/messages/messages.service.ts
  apps/backend/src/modules/organizations-ai-settings/index.ts
  apps/backend/src/modules/organizations-ai-settings/organizations-ai-settings.repo.ts
  apps/backend/src/modules/organizations-ai-settings/organizations-ai-settings.service.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.service.ts
  apps/backend/src/modules/prompts/embeddings/create-relevant-embeddings-prompt.ts
  apps/backend/src/modules/prompts/embeddings/utils/types.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/management/.gitkeep
  apps/chat/src/modules/organizations-my/my-organization-form.tsx
  apps/chat/src/router.tsx
  apps/chat/src/routes/management/layout/management.layout.tsx
  apps/chat/src/routes/management/pages/index.ts
  apps/chat/src/routes/management/pages/organization-management.route.tsx
  apps/chat/src/routes/use-sitemap.tsx
Labels: app: backend, app: chat

feat(backend): improve summarize content prompt
  apps/backend/src/modules/projects-embeddings/generators/text-ai-embedding.generator.ts
Labels: app: backend

feat(backend): improve summarize content prompt
  apps/backend/src/modules/projects-embeddings/generators/text-ai-embedding.generator.ts
Labels: app: backend

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

feat(chat): init blank sidebar layout
  apps/chat/src/layouts/index.ts
  apps/chat/src/layouts/page-with-sidebar.layout.tsx
  apps/chat/src/layouts/sidebar/index.ts
  apps/chat/src/layouts/sidebar/sidebar.tsx
  apps/chat/src/routes/apps/apps.route.tsx
  apps/chat/src/routes/apps/create/create-app.route.tsx
  apps/chat/src/routes/apps/update/update-app.route.tsx
  apps/chat/src/routes/chat/chat.route.tsx
  apps/chat/src/routes/choose-organization/choose-organization.route.tsx
  apps/chat/src/routes/experts/experts.route.tsx
  apps/chat/src/routes/home/home.route.tsx
  apps/chat/src/routes/management/layout/management.layout.tsx
  apps/chat/src/routes/pinned-messages/pinned-messages.route.tsx
  apps/chat/src/routes/project/project.route.tsx
  apps/chat/src/routes/projects/projects.route.tsx
  apps/chat/src/routes/settings/layout/settings.layout.tsx
Labels: app: chat

feat(chat): init sidebar template
  apps/chat/fonts/geist/geist-mono-variable-vf.ttf
  apps/chat/fonts/geist/geist-mono-variable-vf.woff2
  apps/chat/fonts/geist/geist-variable-vf.ttf
  apps/chat/fonts/geist/geist-variable-vf.woff2
  apps/chat/fonts/geist/style.css
  apps/chat/index.html
  apps/chat/src/layouts/index.ts
  apps/chat/src/layouts/page-with-sidebar.layout.tsx
  apps/chat/src/layouts/sidebar/index.ts
  apps/chat/src/layouts/sidebar/logged-in/index.ts
  apps/chat/src/layouts/sidebar/logged-in/logged-in-button.tsx
  apps/chat/src/layouts/sidebar/logged-in/logged-in-user-item.tsx
  apps/chat/src/layouts/sidebar/section-all-link.tsx
  apps/chat/src/layouts/sidebar/sidebar-links.tsx
  apps/chat/src/layouts/sidebar/sidebar-section.tsx
  apps/chat/src/layouts/sidebar/sidebar.tsx
  apps/chat/tailwind.config.ts
Labels: app: chat

feat(chat): remove old header
  apps/chat/src/layouts/index.ts
  apps/chat/src/layouts/navigation/links/index.ts
  apps/chat/src/layouts/navigation/links/navigation-item.tsx
  apps/chat/src/layouts/navigation/links/navigation-links.tsx
  apps/chat/src/layouts/navigation/links/stay-tuned-navigation-item.tsx
  apps/chat/src/layouts/navigation/navigation-logged-as-bar.tsx
  apps/chat/src/layouts/navigation/navigation.tsx
  apps/chat/src/layouts/page-with-navigation.layout.tsx
  apps/chat/src/layouts/page-with-sidebar.layout.tsx
  apps/chat/src/layouts/sidebar/index.ts
  apps/chat/src/layouts/sidebar/links/index.ts
  apps/chat/src/layouts/sidebar/links/sidebar-links-skeleton.tsx
  apps/chat/src/layouts/sidebar/links/sidebar-links.tsx
  apps/chat/src/layouts/sidebar/sidebar-section.tsx
  apps/chat/src/layouts/sidebar/sidebar.tsx
  apps/chat/src/layouts/sidebar/use-sidebar-toggled-storage.tsx
  apps/chat/src/routes/settings/pages/me-settings.route.tsx
  apps/chat/src/routes/settings/pages/my-organization-settings.route.tsx
  apps/chat/src/ui/components/content-card.tsx
  apps/chat/src/ui/components/side-layout/side-layout.tsx
Labels: app: chat

feat(chat): realign homepage
  apps/chat/src/layouts/navigation/navigation.tsx
  apps/chat/src/layouts/page-with-sidebar.layout.tsx
  apps/chat/src/layouts/sidebar/links/sidebar-links.tsx
  apps/chat/src/layouts/sidebar/logged-in/logged-in-button.tsx
  apps/chat/src/layouts/sidebar/sidebar-workspace-selector.tsx
  apps/chat/src/layouts/sidebar/sidebar.tsx
  apps/chat/src/modules/chats/conversation/chat-conversation-with-sidebar.tsx
  apps/chat/src/modules/chats/conversation/config-panel/chat-config-panel.tsx
  apps/chat/src/modules/chats/conversation/config-panel/share-chat-row.tsx
  apps/chat/src/modules/chats/index.ts
  apps/chat/src/modules/chats/sidebar/chats-history-sidebar-section.tsx
  apps/chat/src/modules/chats/sidebar/index.ts
  apps/chat/src/routes/chat/chat.route.tsx
  apps/chat/src/ui/components/controls/select.tsx
Labels: app: chat

feat(chat): improve share button alignment
  apps/chat/src/layouts/navigation/index.ts
  apps/chat/src/layouts/navigation/navigation-toolbar-portal.tsx
  apps/chat/src/layouts/navigation/navigation.tsx
  apps/chat/src/layouts/sidebar/sidebar.tsx
  apps/chat/src/modules/chats/conversation/config-panel/chat-config-panel.tsx
  apps/chat/src/modules/chats/conversation/config-panel/share-chat-navigation-row.tsx
  apps/chat/src/modules/chats/grid/chats-container.tsx
  apps/chat/src/modules/chats/history/chats-history-section.tsx
Labels: app: chat

feat(chat): change layout of projects page
  apps/backend/src/modules/projects/elasticsearch/projects-es-index.repo.ts
  apps/backend/src/modules/projects/elasticsearch/projects-es-search.repo.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/layouts/page-with-sidebar.layout.tsx
  apps/chat/src/modules/projects/index.ts
  apps/chat/src/modules/projects/sidebar/index.ts
  apps/chat/src/modules/projects/sidebar/projects-history-sidebar-section.tsx
  apps/chat/src/routes/project/project-content.tsx
  apps/chat/src/routes/project/project-share-row.tsx
  apps/chat/src/routes/project/project.route.tsx
  packages/sdk/src/modules/dashboard/projects/dto/sdk-search-projects.dto.ts
Labels: app: backend, app: chat, package: sdk

feat(chat): adjust layout
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/layouts/parts/layout-header.tsx
  apps/chat/src/layouts/sidebar/index.ts
  apps/chat/src/layouts/sidebar/section-all-link.tsx
  apps/chat/src/layouts/sidebar/sidebar-section-all-link.tsx
  apps/chat/src/layouts/sidebar/sidebar-section.tsx
  apps/chat/src/layouts/sidebar/sidebar.tsx
  apps/chat/src/modules/chats/sidebar/chats-history-sidebar-section.tsx
  apps/chat/src/modules/projects/sidebar/projects-history-sidebar-section.tsx
  apps/chat/src/routes/apps/create/create-app.route.tsx
  apps/chat/src/routes/apps/update/update-app.route.tsx
Labels: app: chat

fix(chat): improve links truncate
  apps/chat/src/layouts/sidebar/links/sidebar-links.tsx
Labels: app: chat

fix(chat): add tabs
  apps/chat/src/layouts/navigation/index.ts
  apps/chat/src/layouts/navigation/navigation-tabs.tsx
  apps/chat/src/layouts/navigation/navigation.tsx
  apps/chat/src/modules/chats/conversation/config-panel/share-chat-navigation-row.tsx
Labels: app: chat

feat(chat): restore old navigation
  apps/chat/src/layouts/navigation/links/index.ts
  apps/chat/src/layouts/navigation/links/navigation-item.tsx
  apps/chat/src/layouts/navigation/links/navigation-links.tsx
  apps/chat/src/layouts/navigation/links/stay-tuned-navigation-item.tsx
  apps/chat/src/layouts/navigation/navigation.tsx
Labels: app: chat

feat(chat): add back button
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/layouts/navigation/navigation.tsx
  apps/chat/src/layouts/page-with-sidebar.layout.tsx
  apps/chat/src/layouts/parts/layout-header.tsx
  apps/chat/src/layouts/sidebar/sidebar-section-all-link.tsx
  apps/chat/src/modules/chats/conversation/chat-conversation-panel.tsx
  apps/chat/src/routes/chat/chat.route.tsx
  apps/chat/src/routes/project/project.route.tsx
Labels: app: chat

feat(chat): improve projects layout
  apps/chat/src/layouts/navigation/navigation.tsx
  apps/chat/src/layouts/sidebar/sidebar-section.tsx
  apps/chat/src/modules/projects/files/project-file-card.tsx
  apps/chat/src/modules/projects/files/project-files-list-container.tsx
  apps/chat/src/routes/project/project-content.tsx
Labels: app: chat

feat(chat): improve layout
  apps/chat/src/layouts/navigation/navigation.tsx
Labels: app: chat

feat(chat): improve layout
  apps/chat/src/routes/project/project-content.tsx
Labels: app: chat

.github/labeler.yml:

'infra':
- changed-files:
  - any-glob-to-any-file: ['hetzner/**/*', 'config/**/*', 'infra/**/*', 'aws/**/*']

'ci':
- changed-files:
  - any-glob-to-any-file: ['.github/**/*']

'app: backend':
- changed-files:
  - any-glob-to-any-file: ['apps/backend/**/*']

'app: chat':
- changed-files:
  - any-glob-to-any-file: ['apps/chat/**/*']

'package: commons':
- changed-files:
  - any-glob-to-any-file: ['packages/commons/**/*']

'package: commons-front':
- changed-files:
  - any-glob-to-any-file: ['packages/commons-front/**/*']

'package: sdk':
- changed-files:
  - any-glob-to-any-file: ['packages/sdk/**/*']

'package: ui':
- changed-files:
  - any-glob-to-any-file: ['packages/ui/**/*']
