Repository DashHub-ai/DashHub, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, ci, app: backend, app: chat, package: commons, package: commons-front, package: sdk, package: ui

feat(sdk): add translate string typings
  package-lock.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/sdk/src/shared/dto/index.ts
  packages/sdk/src/shared/dto/sdk-translated-string.dto.ts
Labels: package: sdk

feat(sdk): bump package
  package-lock.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/sdk/src/shared/dto/sdk-offset-pagination.dto.ts
Labels: package: sdk

feat(sdk): add sort pagination utility
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/sdk/src/shared/dto/sdk-search-sort.dto.ts
Labels: package: sdk

feat(sdk): improve pagination utility
  package-lock.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/sdk/src/shared/dto/index.ts
  packages/sdk/src/shared/dto/sdk-search-filters.dto.ts
  packages/sdk/src/shared/dto/sdk-search-phrase-filters.dto.ts
Labels: package: sdk

feat(sdk): improve search tools
  package-lock.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/sdk/src/shared/dto/sdk-search-phrase-filters.dto.ts
Labels: package: sdk

fix(backend): improve not working docker-compose
  docker-compose.yml
  dockerfiles/app-dev.dockerfile
  package-lock.json
  package.json
Labels: none

fix(backend): adjust docker copy syntax
  dockerfiles/app-dev.dockerfile
Labels: none

fix(global): broken CI
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
Labels: ci

fix(global): adjust package lock
  package-lock.json
Labels: none

fix(global): add missing husky
  package.json
Labels: none

fix(global): adjust deploy command
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
Labels: ci

fix(global): adjust CI envs
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
Labels: ci

feat(global): upgrade turbo dependency
  package-lock.json
  package.json
Labels: none

fix(commons): typo in `createTreeFromList`
  package.json
  packages/commons/src/helpers/tree/create-tree-from-list.ts
Labels: package: commons

feat(backend): add ability to pass license key to configuration
  apps/backend/package.json
  apps/backend/src/commercial.stub/index.ts
  apps/backend/src/commercial.stub/is-premium-enabled.ts
  apps/backend/src/commercial.stub/modules/agents-library-api-controller.ts
  apps/backend/src/commercial.stub/modules/index.ts
  apps/backend/src/modules/api/controllers/root.controller.ts
  apps/backend/src/modules/boot/boot.service.ts
  apps/backend/src/modules/config/helpers/config.dto.ts
  apps/backend/src/modules/config/helpers/try-read-env-or-panic.ts
  apps/backend/tsconfig.commercial.json
  apps/backend/tsconfig.json
  apps/backend/vite.config.ts
  apps/chat/package.json
  apps/chat/tsconfig.json
  apps/chat/vite.config.ts
  package-lock.json
Labels: app: backend, app: chat

fix(backend): prevent race conditions during boot
  apps/backend/package.json
  apps/backend/src/commercial.stub/license-utils.ts
  apps/backend/src/modules/boot/boot.service.ts
  apps/backend/src/modules/config/config.service.ts
  apps/chat/package.json
  apps/chat/src/commercial.stub/index.ts
  apps/chat/src/commercial.stub/license-utils.ts
  package-lock.json
Labels: app: backend, app: chat

feat(sdk): add premium features token payload
  apps/backend/src/commercial.stub/license-utils.ts
  apps/backend/src/modules/auth/services/auth-jwt.service.ts
  packages/sdk/src/modules/auth/dto/sdk-jwt.dto.ts
Labels: app: backend, package: sdk

feat(chat): add agents library to chat app
  apps/chat/src/app.tsx
  apps/chat/src/commercial.stub/index.ts
  apps/chat/src/commercial.stub/proxy-sdk-agents-library-provider.tsx
  apps/chat/vite.config.ts
Labels: app: chat

feat(chat): add agents library tabs
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/routes/apps/apps.route.tsx
  apps/chat/src/ui/components/index.ts
  apps/chat/src/ui/components/section-tabs/index.ts
  apps/chat/src/ui/components/section-tabs/section-tab-button.tsx
  apps/chat/src/ui/components/section-tabs/section-tabs.tsx
Labels: app: chat

fix(chat): improve spacings
  apps/chat/src/layouts/page-with-sidebar.layout.tsx
  apps/chat/src/routes/apps/apps.route.tsx
Labels: app: chat

feat(chat): add commercial i18n stubs support
  apps/chat/src/app.tsx
  apps/chat/src/commercial.stub/i18n-commercial-provider.tsx
  apps/chat/src/commercial.stub/index.ts
  apps/chat/src/commercial.stub/proxy-sdk-agents-library-provider.tsx
  apps/chat/src/commercial.stub/shared/commercial-component-stub.tsx
  apps/chat/src/commercial.stub/shared/index.ts
Labels: app: chat

feat(chat): improve commercial mocks
  apps/chat/src/commercial.stub/agents-library/agents-library-container.tsx
  apps/chat/src/commercial.stub/agents-library/index.ts
  apps/chat/src/commercial.stub/agents-library/proxy-sdk-agents-library-provider.tsx
  apps/chat/src/commercial.stub/index.ts
  apps/chat/src/routes/apps/apps.route.tsx
Labels: app: chat

fix(global): drop externals support
  .gitignore
  apps/backend/package.json
  apps/backend/src/commercial.stub/index.ts
  apps/backend/src/commercial.stub/modules/agents-library-api-controller.ts
  apps/backend/src/modules/api/controllers/root.controller.ts
  apps/backend/tsconfig.commercial.json
  apps/backend/tsconfig.json
  apps/backend/vite.config.ts
  apps/chat/package.json
  apps/chat/tsconfig.json
  apps/chat/vite.config.ts
  externals/.gitkeep
  package-lock.json
  package.json
Labels: app: backend, app: chat

fix(backend): bump agents library sdk
  apps/backend/package.json
  apps/chat/package.json
  package-lock.json
Labels: app: backend, app: chat

feat(chat): force clear url params just before clicking the tab
  apps/chat/src/ui/components/section-tabs/section-tabs.tsx
Labels: app: chat

feat(global): add commercial deployment support
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
Labels: ci

feat(global): bump agents library sdk
  apps/backend/package.json
  apps/chat/package.json
  package-lock.json
Labels: app: backend, app: chat

feat(backend): add more stubs
  apps/backend/src/commercial.stub/database.ts
  apps/backend/src/commercial.stub/index.ts
  apps/backend/src/commercial.stub/migrations.ts
  apps/backend/src/modules/database/database.tables.ts
  apps/backend/src/modules/database/migrate/database-migrate.service.ts
  packages/commons/src/types/index.ts
  packages/commons/src/types/prefix-object-keys.type.ts
Labels: app: backend, package: commons

fix(backend): improve stubs paths
  apps/backend/src/modules/database/migrate/database-migrate.service.ts
Labels: app: backend

fix(backend): improve stubs paths
  apps/backend/src/modules/database/database.tables.ts
Labels: app: backend

feat(sdk): add install SDK entrypoint
  packages/sdk/src/modules/dashboard/apps/apps.sdk.ts
Labels: package: sdk

feat(sdk): adjust SDK typings
  apps/backend/src/commercial.stub/modules/agents-library-api.controller.ts
  apps/backend/src/commercial.stub/modules/apps-commercial.controller.ts
  apps/backend/src/commercial.stub/modules/index.ts
  apps/backend/src/modules/api/controllers/dashboard/apps.controller.ts
  apps/backend/src/modules/config/helpers/try-read-env-or-panic.ts
  packages/sdk/src/modules/dashboard/apps/apps.sdk.ts
  packages/sdk/src/modules/dashboard/apps/dto/index.ts
  packages/sdk/src/modules/dashboard/apps/dto/sdk-install-agents-library-agent.dto.ts
Labels: app: backend, package: sdk

feat(global): add minor utils
  apps/backend/package.json
  apps/backend/src/modules/api/helpers/extract-file.ts
  apps/backend/src/modules/api/helpers/fetch-as-file.ts
  apps/backend/src/modules/api/helpers/index.ts
  apps/backend/src/modules/apps/apps.service.ts
  apps/chat/package.json
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/ui/components/predefined/buttons/index.ts
  apps/chat/src/ui/components/predefined/buttons/install-button.tsx
  package-lock.json
  packages/sdk/src/modules/dashboard/apps/apps.sdk.ts
  packages/sdk/src/modules/dashboard/apps/dto/sdk-install-agents-library-agent.dto.ts
  packages/sdk/src/shared/dto/sdk-translated-string.dto.ts
Labels: app: backend, app: chat, package: sdk

feat(global): add uninstalling agents support
  apps/chat/src/app.tsx
  apps/chat/src/commercial.stub/agents-library/index.ts
  apps/chat/src/commercial.stub/agents-library/proxy-sdk-agents-library-provider.tsx
  apps/chat/src/commercial.stub/commercial-providers.tsx
  apps/chat/src/commercial.stub/i18n-commercial-provider.tsx
  apps/chat/src/commercial.stub/index.ts
  packages/sdk/src/modules/dashboard/apps/apps.sdk.ts
  packages/sdk/src/modules/dashboard/apps/dto/index.ts
  packages/sdk/src/modules/dashboard/apps/dto/sdk-installed-app-metadata.dto.ts
  packages/sdk/src/modules/dashboard/apps/dto/sdk-search-installed-apps-metadata.dto.ts
  packages/sdk/src/react-integration/index.ts
  packages/sdk/src/react-integration/installed-apps/hooks/index.ts
  packages/sdk/src/react-integration/installed-apps/hooks/use-is-sdk-app-installed.ts
  packages/sdk/src/react-integration/installed-apps/hooks/use-is-sdk-library-agent-installed.ts
  packages/sdk/src/react-integration/installed-apps/hooks/use-sdk-non-rerender-subscribe-installed-apps.ts
  packages/sdk/src/react-integration/installed-apps/hooks/use-sdk-subscribe-installed-apps-or-throw.ts
  packages/sdk/src/react-integration/installed-apps/index.ts
  packages/sdk/src/react-integration/installed-apps/sdk-installed-apps-context.tsx
  packages/sdk/src/react-integration/installed-apps/sdk-installed-apps-provider.tsx
Labels: app: chat, package: sdk

fix(backend): remove duplicated export
  apps/chat/src/app.tsx
Labels: app: chat

fix(backend): add missing export
  apps/chat/src/commercial.stub/index.ts
Labels: app: chat

fix(chat): wrong translations in app installer
  apps/chat/src/app.tsx
Labels: app: chat

feat(chat): improve phrase search
  packages/sdk/src/shared/dto/sdk-search-phrase-filters.dto.ts
Labels: package: sdk

feat(backend): add `embeddings` to elasticsearch messages index
  apps/backend/src/modules/messages/elasticsearch/messages-es-index.repo.ts
  apps/backend/src/modules/prompts/embeddings/create-relevant-embeddings-ai-tag.ts
Labels: app: backend

Disable scheduled deployment for staging
  .github/workflows/deploy-staging.yml
Labels: ci

.github/labeler.yml:

'infra':
- changed-files:
  - any-glob-to-any-file: ['hetzner/**/*', 'config/**/*', 'infra/**/*', 'aws/**/*']

'ci':
- changed-files:
  - any-glob-to-any-file: ['.github/**/*']

'app: backend':
- changed-files:
  - any-glob-to-any-file: ['apps/backend/**/*']

'app: chat':
- changed-files:
  - any-glob-to-any-file: ['apps/chat/**/*']

'package: commons':
- changed-files:
  - any-glob-to-any-file: ['packages/commons/**/*']

'package: commons-front':
- changed-files:
  - any-glob-to-any-file: ['packages/commons-front/**/*']

'package: sdk':
- changed-files:
  - any-glob-to-any-file: ['packages/sdk/**/*']

'package: ui':
- changed-files:
  - any-glob-to-any-file: ['packages/ui/**/*']
