Repository DashHub-ai/DashHub, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, ci, app: backend, app: chat, package: commons, package: commons-front, package: sdk, package: ui

.github/labeler.yml:

'infra':
- changed-files:
  - any-glob-to-any-file: ['hetzner/**/*', 'config/**/*', 'infra/**/*', 'aws/**/*']

'ci':
- changed-files:
  - any-glob-to-any-file: ['.github/**/*']

'app: backend':
- changed-files:
  - any-glob-to-any-file: ['apps/backend/**/*']

'app: chat':
- changed-files:
  - any-glob-to-any-file: ['apps/chat/**/*']

'package: commons':
- changed-files:
  - any-glob-to-any-file: ['packages/commons/**/*']

'package: commons-front':
- changed-files:
  - any-glob-to-any-file: ['packages/commons-front/**/*']

'package: sdk':
- changed-files:
  - any-glob-to-any-file: ['packages/sdk/**/*']

'package: ui':
- changed-files:
  - any-glob-to-any-file: ['packages/ui/**/*']

feat(chat): add ability to mark chat as favorite in header
  apps/chat/src/routes/chat/chat.route.tsx
Labels: app: chat

feat(chat): add favorite button to chat cards
  apps/chat/src/modules/chats/grid/chat-card.tsx
Labels: app: chat

feat(chat): show favorite apps in sidebar
  apps/backend/src/migrations/0048-add-timestamp-to-favorites.ts
  apps/backend/src/migrations/index.ts
  apps/backend/src/modules/apps/elasticsearch/apps-es-search.repo.ts
  apps/backend/src/modules/chats/chats.firewall.ts
  apps/backend/src/modules/chats/elasticsearch/chats-es-search.repo.ts
  apps/backend/src/modules/elasticsearch/search/create-sort-by-ids-order-script.ts
  apps/backend/src/modules/elasticsearch/search/index.ts
  apps/backend/src/modules/users-favorites/users-favorites.repo.ts
  apps/backend/src/modules/users-favorites/users-favorites.tables.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/layouts/page-with-sidebar.layout.tsx
  apps/chat/src/modules/apps/index.ts
  apps/chat/src/modules/apps/sidebar/favorite-apps-sidebar-section.tsx
  apps/chat/src/modules/apps/sidebar/index.ts
  apps/chat/src/modules/chats/sidebar/favorite-chats-sidebar-section.tsx
  apps/chat/src/modules/chats/sidebar/index.ts
  apps/chat/src/routes/project/project-content.tsx
  packages/sdk/src/modules/dashboard/apps/dto/sdk-search-apps.dto.ts
  packages/sdk/src/modules/dashboard/chats/dto/sdk-search-chats.dto.ts
  packages/sdk/src/react-integration/favorites/hooks/index.ts
  packages/sdk/src/react-integration/favorites/hooks/use-sdk-non-rerender-subscribe-favorites.ts
  packages/sdk/src/react-integration/favorites/hooks/use-sdk-on-favorite-action.ts
  packages/sdk/src/react-integration/favorites/hooks/use-sdk-toggle-favorite.ts
Labels: app: backend, app: chat, package: sdk

feat(chat): add favorite chats to homepage
  apps/backend/src/modules/chats/elasticsearch/chats-es-search.repo.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/chats/favorite/chats-favorite-section.tsx
  apps/chat/src/modules/chats/favorite/index.ts
  apps/chat/src/modules/chats/grid/chat-card.tsx
  apps/chat/src/modules/chats/grid/chat-history-placeholder.tsx
  apps/chat/src/modules/chats/grid/chats-container.tsx
  apps/chat/src/modules/chats/grid/use-reload-interval-if-generating.tsx
  apps/chat/src/modules/chats/index.ts
  apps/chat/src/routes/chats/chats.route.tsx
  apps/chat/src/ui/components/pagination/toolbar/pagination-toolbar.tsx
  packages/commons-front/src/hooks/use-interval.ts
Labels: app: backend, app: chat, package: commons-front

feat(chat): smarter behavior of favorite chats section
  apps/chat/src/modules/chats/favorite/chats-favorite-section.tsx
  apps/chat/src/routes/chats/chats.route.tsx
Labels: app: chat

fix(chat): prevent CLS on homepage
  apps/chat/src/modules/chats/favorite/chats-favorite-section.tsx
Labels: app: chat

feat(backend): add support for `gemini-2` models
  apps/backend/package.json
  apps/backend/src/modules/ai-connector/clients/ai-gemini-proxy.ts
  yarn.lock
Labels: app: backend

feat(backend): add websearch support to gemini
  apps/backend/src/modules/ai-connector/ai-connector.errors.ts
  apps/backend/src/modules/ai-connector/clients/ai-gemini-proxy.ts
  apps/backend/src/modules/ai-connector/clients/ai-openai-proxy.ts
  apps/backend/src/modules/chats-summaries/chats-summaries.service.ts
  apps/backend/src/modules/prompts/websearch/create-websearch-function-tool.ts
  apps/backend/src/modules/prompts/websearch/create-websearch-results-prompt.ts
Labels: app: backend

feat(commons-front): add scripts injector
  packages/commons-front/src/helpers/index.ts
  packages/commons-front/src/helpers/inject-script.tsx
Labels: package: commons-front

feat(commons): add wait for window entry
  apps/chat/.env.example
  packages/commons/src/helpers/index.ts
  packages/commons/src/helpers/wait-for-window-entry.ts
Labels: app: chat, package: commons

feat(commons): realign helpers
  packages/commons-front/src/helpers/index.ts
  packages/commons-front/src/helpers/wait-for-window-entry.ts
  packages/commons/src/helpers/index.ts
Labels: package: commons, package: commons-front

feat(chat): add google drive file picker
  apps/chat/.env.example
  apps/chat/package.json
  apps/chat/src/config/config.dto.ts
  apps/chat/src/config/try-read-env-or-panic.ts
  apps/chat/src/modules/google-drive/index.ts
  apps/chat/src/modules/google-drive/use-google-drive-file-picker.ts
  apps/chat/tsconfig.json
  turbo.json
  yarn.lock
Labels: app: chat

feat(chat): move attach button to separate component
  apps/chat/src/modules/chats/conversation/files/attach-file/attach-file-button.tsx
  apps/chat/src/modules/chats/conversation/files/attach-file/index.ts
  apps/chat/src/modules/chats/conversation/files/index.ts
  apps/chat/src/modules/chats/conversation/files/list/file-card.tsx
  apps/chat/src/modules/chats/conversation/files/list/files-cards-controlled-list.tsx
  apps/chat/src/modules/chats/conversation/files/list/files-cards-list.tsx
  apps/chat/src/modules/chats/conversation/files/list/index.ts
  apps/chat/src/modules/chats/conversation/input-toolbar/chat-input-toolbar.tsx
  apps/chat/src/modules/chats/start-chat/start-chat-form.tsx
Labels: app: chat

feat(chat): use attach button dropdown
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/chats/conversation/files/attach-file/attach-file-button.tsx
  apps/chat/src/modules/chats/conversation/files/attach-file/attach-file-dropdown.tsx
  apps/chat/src/modules/chats/conversation/files/attach-file/index.ts
  apps/chat/src/modules/chats/conversation/input-toolbar/chat-input-toolbar.tsx
  apps/chat/src/modules/chats/start-chat/start-chat-form.tsx
Labels: app: chat

feat(chat): add preloading google scripts
  apps/chat/.env.example
  apps/chat/src/config/try-read-env-or-panic.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/chats/conversation/files/attach-file/attach-file-dropdown.tsx
  apps/chat/src/modules/google-drive/use-google-drive-file-picker.ts
  apps/chat/src/ui/icons/svg/google-drive.svg.tsx
  apps/chat/src/ui/icons/svg/index.ts
  packages/commons-front/src/helpers/index.ts
  packages/commons-front/src/helpers/preload-resource.ts
  turbo.json
Labels: app: chat, package: commons-front

fix(chat): missing oauth cache
  apps/chat/src/modules/google-drive/use-google-drive-file-picker.ts
Labels: app: chat

feat(chat): add google drive pick prototype
  apps/chat/src/modules/chats/conversation/files/attach-file/attach-file-dropdown.tsx
  apps/chat/src/modules/google-drive/use-google-drive-file-picker.ts
Labels: app: chat

fix(chat): no longer display all favorites apps if there is none
  apps/backend/src/modules/apps/elasticsearch/apps-es-search.repo.ts
Labels: app: backend

feat(chat): move chats to different route
  apps/chat/src/layouts/footer/footer.tsx
  apps/chat/src/layouts/navigation/links/navigation-links.tsx
  apps/chat/src/modules/chats/favorite/chats-favorite-section.tsx
  apps/chat/src/modules/chats/favorite/index.ts
  apps/chat/src/modules/chats/history/chats-history-section.tsx
  apps/chat/src/modules/chats/index.ts
  apps/chat/src/modules/chats/sidebar/chats-history-sidebar-section.tsx
  apps/chat/src/modules/chats/sidebar/favorite-chats-sidebar-section.tsx
  apps/chat/src/routes/chats/chats.route.tsx
  apps/chat/src/routes/home/home.route.tsx
  apps/chat/src/routes/project/project-content.tsx
Labels: app: chat

feat(chat): add explore chats sections
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/apps/index.ts
  apps/chat/src/modules/apps/promoted-apps/index.ts
  apps/chat/src/modules/apps/promoted-apps/promoted-apps-container.tsx
  apps/chat/src/modules/chats/start-chat/start-chat-form.tsx
  apps/chat/src/routes/home/home.route.tsx
  apps/chat/src/ui/components/index.ts
  apps/chat/src/ui/components/selectable-badges/index.ts
  apps/chat/src/ui/components/selectable-badges/selectable-badges-skeleton.tsx
  apps/chat/src/ui/components/selectable-badges/selectable-badges.tsx
Labels: app: chat

fix(chat): improve translations
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
Labels: app: chat

fix(chat): improve sorting of chats
  apps/backend/src/modules/chats/chats.firewall.ts
  apps/backend/src/modules/chats/elasticsearch/chats-es-search.repo.ts
  apps/chat/src/modules/chats/history/chats-history-section.tsx
  packages/sdk/src/modules/dashboard/chats/dto/sdk-search-chats.dto.ts
Labels: app: backend, app: chat, package: sdk

feat(chat): see all links to home
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/apps/promoted-apps/promoted-apps-container.tsx
Labels: app: chat

feat(chat): better chats grid
  apps/chat/src/modules/apps/promoted-apps/promoted-apps-container.tsx
Labels: app: chat

feat(chat): better overflow of chats grid
  apps/chat/src/routes/home/home.route.tsx
Labels: app: chat

feat(chat): improve align
  apps/chat/src/routes/home/home.route.tsx
Labels: app: chat

feat(chat): add google drive ci vars
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
Labels: ci

feat(chat): add missing `gapi.load` picker call
  apps/chat/src/modules/google-drive/use-google-drive-file-picker.ts
Labels: app: chat

feat(chat): improve breakpoints
  apps/chat/src/routes/home/home.route.tsx
Labels: app: chat

feat(chat): adjust keys
  apps/chat/src/modules/google-drive/use-google-drive-file-picker.ts
Labels: app: chat

fix(chat): remove not used google api keys
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  apps/chat/.env.example
  apps/chat/src/config/config.dto.ts
  apps/chat/src/config/try-read-env-or-panic.ts
  turbo.json
Labels: ci, app: chat

fix(chat): wrong download url
  apps/chat/src/modules/google-drive/use-google-drive-file-picker.ts
Labels: app: chat

fix(chat): wrong download url
  apps/chat/src/modules/google-drive/use-google-drive-file-picker.ts
Labels: app: chat

fix(chat): improve callbacks
  apps/chat/src/modules/google-drive/use-google-drive-file-picker.ts
Labels: app: chat

fix(chat): improve data view
  apps/chat/src/modules/google-drive/use-google-drive-file-picker.ts
Labels: app: chat

fix(backend): incorrect context support
  apps/backend/src/modules/ai-connector/clients/ai-gemini-proxy.ts
Labels: app: backend

feat(backend): add markdown RAG support
  apps/backend/src/modules/projects-embeddings/generators/index.ts
  apps/backend/src/modules/projects-embeddings/generators/markdown-ai-embedding.generator.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.service.ts
  apps/chat/src/modules/shared/get-file-type-and-color.tsx
Labels: app: backend, app: chat

fix(backend): not working deleting project resources from ES
  apps/backend/src/modules/projects-embeddings/elasticsearch/projects-embeddings-es-index.repo.ts
Labels: app: backend

feat(backend): improve markdown embeddings format
  apps/backend/src/modules/projects-embeddings/generators/markdown-ai-embedding.generator.ts
Labels: app: backend

feat(backend): ignore level attribute in section
  apps/backend/src/modules/projects-embeddings/generators/markdown-ai-embedding.generator.ts
Labels: app: backend
