Repository DashHub-ai/DashHub, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, ci, app: admin, app: backend, app: frontend, app: chat, package: commons, package: commons-front, package: sdk, package: ui

.github/labeler.yml:

'infra':
- changed-files:
  - any-glob-to-any-file: ['hetzner/**/*', 'config/**/*', 'infra/**/*', 'aws/**/*']

'ci':
- changed-files:
  - any-glob-to-any-file: ['.github/**/*']

'app: admin':
- changed-files:
  - any-glob-to-any-file: ['apps/admin/**/*']

'app: backend':
- changed-files:
  - any-glob-to-any-file: ['apps/backend/**/*']

'app: frontend':
- changed-files:
  - any-glob-to-any-file: ['apps/frontend/**/*']

'app: chat':
- changed-files:
  - any-glob-to-any-file: ['apps/chat/**/*']

'package: commons':
- changed-files:
  - any-glob-to-any-file: ['packages/commons/**/*']

'package: commons-front':
- changed-files:
  - any-glob-to-any-file: ['packages/commons-front/**/*']

'package: sdk':
- changed-files:
  - any-glob-to-any-file: ['packages/sdk/**/*']

'package: ui':
- changed-files:
  - any-glob-to-any-file: ['packages/ui/**/*']

fix(chat): inconsisntent app attach
  apps/chat/src/modules/chats/conversation/input-toolbar/chat-input-toolbar.tsx
  packages/ui/src/components/controls/checkbox.tsx
Labels: app: chat, package: ui

feat(backend): add chats stats
  apps/backend/src/modules/chats/chats.repo.ts
  apps/backend/src/modules/chats/chats.service.ts
  apps/backend/src/modules/chats/chats.tables.ts
  apps/backend/src/modules/chats/elasticsearch/chats-es-index.repo.ts
  apps/backend/src/modules/chats/elasticsearch/chats-es-search.repo.ts
  apps/backend/src/modules/messages/messages.service.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/apps/chat/app-chat-badge.tsx
  apps/chat/src/modules/apps/index.ts
  apps/chat/src/modules/apps/use-cached-app-lookup.ts
  apps/chat/src/modules/chats/conversation/chat-attached-app.tsx
  apps/chat/src/modules/chats/conversation/chat-conversation-panel.tsx
  apps/chat/src/modules/chats/grid/chat-card.tsx
  apps/chat/src/modules/chats/history/chats-history-section.tsx
  packages/sdk/src/modules/dashboard/chats/dto/sdk-chat.dto.ts
  packages/sdk/src/modules/dashboard/chats/dto/sdk-search-chats.dto.ts
Labels: app: backend, app: chat, package: sdk

feat(chat): basic search bar works
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/layouts/navigation/links/navigation-links.tsx
  apps/chat/src/layouts/navigation/navigation-right-toolbar.tsx
  apps/chat/src/modules/apps/grid/apps-container.tsx
  apps/chat/src/modules/projects/grid/projects-container.tsx
  apps/chat/src/modules/search-bar/entry/index.ts
  apps/chat/src/modules/search-bar/entry/search-bar-group-entry.tsx
  apps/chat/src/modules/search-bar/entry/search-bar-item-entry.tsx
  apps/chat/src/modules/search-bar/index.ts
  apps/chat/src/modules/search-bar/results/index.ts
  apps/chat/src/modules/search-bar/results/search-result-group.tsx
  apps/chat/src/modules/search-bar/results/search-results.tsx
  apps/chat/src/modules/search-bar/results/use-search-result.tsx
  apps/chat/src/modules/search-bar/search-bar-input.tsx
  apps/chat/src/modules/search-bar/search-bar.tsx
  apps/chat/src/router.tsx
  apps/chat/src/routes/apps-editor/apps-editor.route.tsx
  apps/chat/src/routes/apps/apps.route.tsx
  apps/chat/src/routes/chat/chat.route.tsx
  apps/chat/src/routes/project/project.route.tsx
  apps/chat/src/routes/projects/projects.route.tsx
  apps/chat/src/routes/use-check-replaceable-link-path.ts
  apps/chat/src/routes/use-sitemap.tsx
  packages/sdk/src/shared/dto/sdk-table-row-with-uuid-name.dto.ts
  packages/ui/src/components/pagination/toolbar/pagination-search-toolbar-item.tsx
Labels: app: chat, package: sdk, package: ui

fix(chat): typo in tutorial box translation
  packages/ui/src/i18n/packs/i18n-forwarded-en-pack.tsx
Labels: package: ui

feat(chat): add favicon
  apps/chat/index.html
  apps/chat/public/android-chrome-192x192.png
  apps/chat/public/android-chrome-512x512.png
  apps/chat/public/apple-touch-icon.png
  apps/chat/public/favicon-16x16.png
  apps/chat/public/favicon-32x32.png
  apps/chat/public/favicon.ico
  apps/chat/public/site.webmanifest
Labels: app: chat

feat(chat): improve assistant creator styles
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/chats/conversation/chat-attached-app.tsx
Labels: app: chat

feat(chat): hide app selector
  apps/chat/src/modules/chats/conversation/input-toolbar/chat-input-toolbar.tsx
Labels: app: chat

fix(chat): improve icon lazy loader
  apps/chat/src/modules/shared/lazy-icon.tsx
Labels: app: chat

feat(chat): add AI models management
  apps/backend/src/modules/ai-models/ai-models.firewall.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/ai-models/form/create/ai-model-create-form-modal.tsx
  apps/chat/src/modules/ai-models/form/create/index.ts
  apps/chat/src/modules/ai-models/form/create/use-ai-model-create-form.tsx
  apps/chat/src/modules/ai-models/form/create/use-ai-model-create-modal.tsx
  apps/chat/src/modules/ai-models/form/index.ts
  apps/chat/src/modules/ai-models/form/shared/ai-model-credentials-form-field.tsx
  apps/chat/src/modules/ai-models/form/shared/ai-model-provider-select.tsx
  apps/chat/src/modules/ai-models/form/shared/ai-model-shared-form-fields.tsx
  apps/chat/src/modules/ai-models/form/shared/index.ts
  apps/chat/src/modules/ai-models/form/update/ai-model-update-form-modal.tsx
  apps/chat/src/modules/ai-models/form/update/index.ts
  apps/chat/src/modules/ai-models/form/update/use-ai-model-update-form.tsx
  apps/chat/src/modules/ai-models/form/update/use-ai-model-update-modal.tsx
  apps/chat/src/modules/ai-models/table/ai-model-table-container.tsx
  apps/chat/src/modules/ai-models/table/ai-model-table-row.tsx
  apps/chat/src/modules/ai-models/table/index.ts
  apps/chat/src/modules/index.ts
  apps/chat/src/router.tsx
  apps/chat/src/routes/management/layout/management.layout.tsx
  apps/chat/src/routes/management/pages/ai-models-management.route.tsx
  apps/chat/src/routes/management/pages/index.ts
  apps/chat/src/routes/use-sitemap.tsx
Labels: app: backend, app: chat

feat(global): update `README.md`
  README.md
Labels: none

fix(chat): improve reset-filter button shrink
  packages/ui/src/components/predefined/buttons/reset-filters-button.tsx
Labels: package: ui

feat(chat): add S3 buckets management
  apps/admin/src/modules/users/form/shared/user-shared-form-fields.tsx
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/index.ts
  apps/chat/src/modules/s3-buckets/form/create/index.ts
  apps/chat/src/modules/s3-buckets/form/create/s3-bucket-create-form-modal.tsx
  apps/chat/src/modules/s3-buckets/form/create/use-s3-bucket-create-form.tsx
  apps/chat/src/modules/s3-buckets/form/create/use-s3-bucket-create-modal.tsx
  apps/chat/src/modules/s3-buckets/form/index.ts
  apps/chat/src/modules/s3-buckets/form/shared/index.ts
  apps/chat/src/modules/s3-buckets/form/shared/s3-bucket-shared-form-fields.tsx
  apps/chat/src/modules/s3-buckets/form/update/index.ts
  apps/chat/src/modules/s3-buckets/form/update/s3-bucket-update-form-modal.tsx
  apps/chat/src/modules/s3-buckets/form/update/use-s3-bucket-update-form.tsx
  apps/chat/src/modules/s3-buckets/form/update/use-s3-bucket-update-modal.tsx
  apps/chat/src/modules/s3-buckets/index.ts
  apps/chat/src/modules/s3-buckets/table/index.ts
  apps/chat/src/modules/s3-buckets/table/s3-bucket-table-container.tsx
  apps/chat/src/modules/s3-buckets/table/s3-bucket-table-row.tsx
  apps/chat/src/router.tsx
  apps/chat/src/routes/management/layout/management.layout.tsx
  apps/chat/src/routes/management/pages/index.ts
  apps/chat/src/routes/management/pages/s3-buckets-management.route.tsx
  apps/chat/src/routes/use-sitemap.tsx
  packages/ui/src/components/side-layout/side-nav.tsx
Labels: app: admin, app: chat, package: ui

fix(chat): improve button size in edit group form
  apps/chat/src/modules/users-groups/form/shared/group-users-select-table.tsx
Labels: app: chat

fix(chat): improve spacings
  apps/chat/src/modules/chats/grid/chat-card.tsx
Labels: app: chat

fix(backend): improve apps firewall
  apps/backend/src/modules/apps/apps.firewall.ts
Labels: app: backend

fix(global): add legacy peer deps to docker image build
  apps/backend/Dockerfile
  apps/frontend/Dockerfile
Labels: app: backend, app: frontend

fix(global): disable auto-merge to avoid accidental breaking changes
  .github/workflows/auto-merge-dependabot.yml
Labels: ci

fix(global): deps again
  apps/backend/Dockerfile
  apps/frontend/Dockerfile
Labels: app: backend, app: frontend

fix(backend): larger agg window
  apps/backend/src/modules/apps/elasticsearch/apps-es-search.repo.ts
Labels: app: backend

fix(backend): improve agg
  apps/backend/src/modules/apps/elasticsearch/apps-es-search.repo.ts
Labels: app: backend

fix(chat): categories counter
  apps/backend/src/modules/apps/elasticsearch/apps-es-search.repo.ts
  apps/chat/src/modules/apps-categories/sidebar/apps-categories-sidebar.tsx
  apps/chat/src/modules/apps/grid/apps-container.tsx
Labels: app: backend, app: chat

fix(backend): improve prompt to avoid false files attach
  apps/backend/src/modules/messages/helpers/create-attached-files-message-prefix.ts
  apps/backend/src/modules/projects-embeddings/helpers/create-relevant-embeddings-prompt.ts
Labels: app: backend

fix(backend): prompt
  apps/backend/src/modules/projects-embeddings/helpers/create-relevant-embeddings-prompt.ts
Labels: app: backend

fix(backend): no longer add action buttons if there is no files
  apps/backend/src/modules/projects-embeddings/helpers/create-relevant-embeddings-prompt.ts
Labels: app: backend

fix(backend): improve RAG for CSV files
  apps/backend/src/modules/projects-embeddings/projects-embeddings.service.ts
Labels: app: backend

fix(backend): imrpove files prompt
  apps/backend/src/modules/messages/helpers/create-action-buttons-prompt.ts
  apps/backend/src/modules/messages/helpers/create-attached-files-message-prefix.ts
  apps/backend/src/modules/projects-embeddings/generators/base/ai-embedding-generator.ts
  apps/backend/src/modules/projects-embeddings/generators/csv-ai-embedding.generator.ts
  apps/backend/src/modules/projects-embeddings/generators/index.ts
  apps/backend/src/modules/projects-embeddings/generators/text-ai-embedding.generator.ts
  apps/backend/src/modules/projects-embeddings/helpers/create-relevant-embeddings-prompt.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.service.ts
  apps/chat/src/modules/chats/conversation/content-parse/message-markdown.tsx
  packages/commons/src/helpers/mimetypes/index.ts
  packages/commons/src/helpers/mimetypes/is-csv-mimetype.ts
Labels: app: backend, app: chat, package: commons

fix(chat): improve overflow handling
  apps/chat/src/modules/chats/conversation/content-parse/message-markdown.tsx
  apps/chat/src/modules/chats/conversation/messages/chat-message-content.tsx
Labels: app: chat

fix(chat): limit width of chat message
  apps/chat/src/modules/chats/conversation/messages/chat-message-content.tsx
Labels: app: chat

feat(backend): improve embedding prompt
  apps/backend/src/modules/projects-embeddings/helpers/create-relevant-embeddings-prompt.ts
  apps/chat/src/modules/chats/conversation/content-parse/message-markdown.tsx
  apps/chat/src/modules/projects-embeddings/chat/project-embedding-chat-badge.tsx
Labels: app: backend, app: chat

feat(backend): add quotes support
  apps/backend/src/modules/messages/helpers/create-action-buttons-prompt.ts
  apps/backend/src/modules/messages/helpers/create-quotes-prompt.ts
  apps/backend/src/modules/messages/helpers/index.ts
  apps/backend/src/modules/messages/messages.service.ts
  apps/chat/package.json
  apps/chat/src/modules/chats/conversation/content-parse/message-markdown.tsx
Labels: app: backend, app: chat

fix(backend): change temperature of the AI answers
  apps/backend/src/modules/ai-connector/ai-connector.service.ts
Labels: app: backend

feat(global): add docker compose
  README.md
  apps/backend/src/migrations/0027-add-projects-policies.ts
  apps/backend/src/modules/config/helpers/try-read-env-or-panic.ts
  docker-compose.yml
  dockerfiles/app-dev.dockerfile
  dockerfiles/postgres.dockerfile
  package.json
  start-local-minio.sh
  turbo.json
  yarn.lock
Labels: app: backend

fix(global): adjust docs
  README.md
Labels: none

fix(ui): improve select word wrap
  packages/ui/src/components/controls/select.tsx
Labels: package: ui

feat(backend): add gemini model
  apps/admin/src/i18n/packs/i18n-lang-pl.ts
  apps/backend/package.json
  apps/backend/src/modules/ai-connector/ai-connector.errors.ts
  apps/backend/src/modules/ai-connector/ai-connector.service.ts
  apps/backend/src/modules/ai-connector/clients/ai-gemini-proxy.ts
  apps/backend/src/modules/ai-connector/clients/ai-openai-proxy.ts
  apps/backend/src/modules/ai-connector/clients/ai-proxy.ts
  apps/backend/src/modules/ai-connector/clients/get-ai-proxy-for-model.ts
  apps/backend/src/modules/ai-connector/clients/index.ts
  apps/backend/src/modules/messages/messages.service.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/ai-models/form/shared/ai-model-credentials-form-field.tsx
  apps/chat/src/modules/ai-models/form/shared/ai-model-shared-form-fields.tsx
  package.json
  packages/sdk/src/modules/dashboard/ai-models/dto/sdk-ai-model.dto.ts
  yarn.lock
Labels: app: admin, app: backend, app: chat, package: sdk

fix(backend): typing
  apps/admin/src/i18n/packs/i18n-lang-en.ts
Labels: app: admin

feat(backend): add deepseek
  apps/admin/src/i18n/packs/i18n-lang-en.ts
  apps/admin/src/i18n/packs/i18n-lang-pl.ts
  apps/admin/src/modules/ai-models/form/shared/ai-model-credentials-form-field.tsx
  apps/backend/src/modules/ai-connector/clients/ai-deepseek-proxy.ts
  apps/backend/src/modules/ai-connector/clients/ai-gemini-proxy.ts
  apps/backend/src/modules/ai-connector/clients/ai-openai-proxy.ts
  apps/backend/src/modules/ai-connector/clients/ai-proxy.ts
  apps/backend/src/modules/ai-connector/clients/get-ai-proxy-for-model.ts
  apps/backend/src/modules/projects-embeddings/generators/image-ai-embedding.generator.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/ai-models/form/shared/ai-model-credentials-form-field.tsx
  apps/chat/src/modules/ai-models/form/shared/ai-model-shared-form-fields.tsx
  packages/commons/src/helpers/urls/index.ts
  packages/commons/src/helpers/urls/is-data-url.ts
  packages/sdk/src/modules/dashboard/ai-models/dto/credentials/openai-credentials.dto.ts
  packages/sdk/src/modules/dashboard/ai-models/dto/sdk-ai-model.dto.ts
Labels: app: admin, app: backend, app: chat, package: commons, package: sdk

fix(backend): api format
  apps/backend/src/modules/ai-connector/clients/ai-openai-proxy.ts
Labels: app: backend

feat(backend): add vision flag to AI model
  apps/admin/src/i18n/packs/i18n-lang-en.ts
  apps/admin/src/i18n/packs/i18n-lang-pl.ts
  apps/admin/src/modules/ai-models/form/shared/ai-model-shared-form-fields.tsx
  apps/backend/src/migrations/0035-add-vision-flag-to-ai-models.ts
  apps/backend/src/migrations/index.ts
  apps/backend/src/modules/ai-connector/clients/ai-openai-proxy.ts
  apps/backend/src/modules/ai-models/ai-models.service.ts
  apps/backend/src/modules/ai-models/ai-models.tables.ts
  apps/backend/src/modules/ai-models/elasticsearch/ai-models-es-index.repo.ts
  apps/backend/src/modules/ai-models/elasticsearch/ai-models-es-search.repo.ts
  apps/backend/src/modules/projects-embeddings/generators/image-ai-embedding.generator.ts
  apps/backend/src/modules/projects-embeddings/helpers/create-relevant-embeddings-prompt.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/ai-models/form/shared/ai-model-shared-form-fields.tsx
  packages/sdk/src/modules/dashboard/ai-models/dto/sdk-ai-model.dto.ts
  packages/sdk/src/modules/dashboard/ai-models/dto/sdk-search-ai-models.dto.ts
Labels: app: admin, app: backend, app: chat, package: sdk

fix(chat): fix incorrect initial value of ai model form
  apps/admin/src/modules/ai-models/table/ai-model-table-container.tsx
  apps/chat/src/modules/ai-models/table/ai-model-table-container.tsx
Labels: app: admin, app: chat
