Repository DashHub-ai/DashHub, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, ci, app: admin, app: backend, app: frontend, app: chat, package: commons, package: commons-front, package: sdk, package: ui

feat(sdk): add `files` entry to `SdkMessageV`
  packages/sdk/src/modules/dashboard/messages/dto/sdk-message-file.dto.ts
  packages/sdk/src/modules/dashboard/messages/dto/sdk-message.dto.ts
Labels: package: sdk

feat(chat): add `files` to ES message data
  apps/backend/src/modules/messages/elasticsearch/messages-es-index.repo.ts
  apps/backend/src/modules/messages/messages.repo.ts
  apps/backend/src/modules/messages/messages.tables.ts
  apps/backend/src/modules/projects-files/elasticsearch/projects-files-es-index.repo.ts
  apps/chat/src/modules/chats/conversation/hooks/use-optimistic-response-creator.tsx
  packages/commons/src/types/camel-case-to-snake-case-object.type.ts
  packages/commons/src/types/index.ts
  packages/commons/src/types/is-digit.type.ts
Labels: app: backend, app: chat, package: commons

feat(backend): rag should work for local chats
  apps/backend/src/modules/api/controllers/dashboard/chats.controller.ts
  apps/backend/src/modules/api/controllers/dashboard/projects.controller.ts
  apps/backend/src/modules/chats/chats.repo.ts
  apps/backend/src/modules/chats/chats.service.ts
  apps/backend/src/modules/chats/chats.tables.ts
  apps/backend/src/modules/messages/elasticsearch/messages-es-index.repo.ts
  apps/backend/src/modules/messages/messages.service.ts
  apps/backend/src/modules/projects-files/projects-files.service.ts
  apps/backend/src/modules/projects/projects.service.ts
  apps/backend/src/modules/s3/s3.service.ts
  apps/chat/src/modules/chats/conversation/files/file-card.tsx
  apps/chat/src/modules/chats/conversation/files/files-cards-controlled-list.tsx
  apps/chat/src/modules/chats/conversation/files/files-cards-list.tsx
  apps/chat/src/modules/chats/conversation/files/index.ts
  apps/chat/src/modules/chats/conversation/files/select-chat-file.tsx
  apps/chat/src/modules/chats/conversation/messages/chat-message.tsx
  apps/chat/src/modules/chats/start-chat/start-chat-form.tsx
Labels: app: backend, app: chat

feat(chat): add uploading files support
  apps/backend/src/modules/chats/chats.repo.ts
  apps/backend/src/modules/chats/chats.tables.ts
  apps/backend/src/modules/messages/messages.repo.ts
  apps/backend/src/modules/projects-embeddings/helpers/create-relevant-embeddings-prompt.ts
  apps/chat/src/modules/chats/conversation/files/file-card.tsx
  apps/chat/src/modules/chats/conversation/hooks/use-optimistic-response-creator.tsx
  apps/chat/src/modules/chats/conversation/hooks/use-reply-conversation-handler.tsx
  apps/chat/src/modules/chats/grid/chat-card.tsx
  apps/chat/src/routes/chat/chat.route.tsx
  packages/sdk/src/modules/dashboard/chats/dto/sdk-chat.dto.ts
  packages/sdk/src/modules/dashboard/messages/dto/index.ts
  packages/sdk/src/modules/dashboard/messages/dto/sdk-message-file.dto.ts
Labels: app: backend, app: chat, package: sdk

feat(chat): chanege send message input
  apps/backend/src/modules/messages/helpers/create-attach-app-ai-message.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/chats/conversation/files/file-card.tsx
  apps/chat/src/modules/chats/conversation/files/files-cards-controlled-list.tsx
  apps/chat/src/modules/chats/conversation/input-toolbar/chat-input-toolbar.tsx
  apps/chat/src/modules/chats/conversation/input-toolbar/chat-select-app.tsx
Labels: app: backend, app: chat

fix(sdk): wrong typing
  packages/sdk/src/modules/dashboard/chats/dto/sdk-chat.dto.ts
Labels: package: sdk

fix(chat): incorrect typing
  apps/chat/src/routes/chat/chat.route.tsx
Labels: app: chat

fix(chat): improve spacing
  apps/chat/src/modules/chats/start-chat/start-chat-form.tsx
Labels: app: chat

fix(chat): improve container spacing
  apps/chat/src/modules/chats/conversation/chat-conversation-with-sidebar.tsx
Labels: app: chat

fix(chat): better input scaling
  apps/chat/src/modules/chats/conversation/chat-background.tsx
  apps/chat/src/modules/chats/conversation/input-toolbar/chat-input-toolbar.tsx
Labels: app: chat

feat(chat): better listing files
  apps/chat/src/modules/chats/conversation/files/file-card.tsx
  apps/chat/src/modules/chats/conversation/input-toolbar/chat-input-toolbar.tsx
  apps/chat/src/modules/projects-embeddings/chat/project-images-chat-badge.tsx
  apps/chat/src/modules/projects/files/file-type-icon.tsx
  apps/chat/src/modules/projects/files/index.ts
  apps/chat/src/modules/projects/files/project-file-card.tsx
  apps/chat/src/modules/projects/files/project-files-list-container.tsx
  apps/chat/src/modules/projects/files/project-files-placeholder.tsx
  apps/chat/src/modules/shared/card/card-description.tsx
  apps/chat/src/modules/shared/get-file-type-and-color.tsx
  apps/chat/src/modules/shared/index.ts
  apps/chat/src/routes/project/project-content.tsx
Labels: app: chat

feat(chat): better file attachement handling
  apps/backend/src/modules/messages/messages.service.ts
  apps/backend/src/modules/projects-embeddings/helpers/create-relevant-embeddings-prompt.ts
  apps/chat/src/modules/chats/conversation/input-toolbar/chat-input-toolbar.tsx
Labels: app: backend, app: chat

feat(backend): improve prompt
  apps/backend/src/modules/projects-embeddings/helpers/create-relevant-embeddings-prompt.ts
Labels: app: backend

feat(backend): improve prompt
  apps/backend/src/modules/projects-embeddings/helpers/create-relevant-embeddings-prompt.ts
Labels: app: backend

fix(backend): no longer treat files attached to messages as project files
  apps/backend/src/modules/elasticsearch/mappings/id-object.mapping.ts
  apps/backend/src/modules/projects-embeddings/elasticsearch/projects-embeddings-es-index.repo.ts
  apps/backend/src/modules/projects-embeddings/elasticsearch/projects-embeddings-es-search.repo.ts
  apps/backend/src/modules/projects-embeddings/helpers/create-relevant-embeddings-prompt.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.repo.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.service.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.tables.ts
  apps/backend/src/modules/projects-files/elasticsearch/projects-files-es-index.repo.ts
  apps/backend/src/modules/projects-files/elasticsearch/projects-files-es-search.repo.ts
  apps/chat/src/modules/projects/files/project-files-list-container.tsx
  packages/sdk/src/modules/dashboard/projects-files/dto/sdk-search-project-files.dto.ts
Labels: app: backend, app: chat, package: sdk

fix(chat): no longer show embeddings in ai model select
  apps/backend/src/modules/ai-models/elasticsearch/ai-models-es-search.repo.ts
  apps/chat/src/modules/ai-models/controls/ai-models-search-select.tsx
  apps/chat/src/modules/chats/start-chat/start-chat-form.tsx
Labels: app: backend, app: chat

fix(backend): improve attaching files prompt
  apps/backend/src/modules/messages/helpers/create-attached-files-message-prefix.ts
  apps/backend/src/modules/messages/helpers/index.ts
  apps/backend/src/modules/messages/messages.service.ts
  apps/backend/src/modules/projects-embeddings/elasticsearch/projects-embeddings-es-search.repo.ts
  apps/backend/src/modules/projects-embeddings/helpers/create-relevant-embeddings-prompt.ts
  apps/chat/src/modules/chats/conversation/hooks/use-optimistic-response-creator.tsx
  apps/chat/src/modules/chats/conversation/hooks/use-reply-conversation-handler.tsx
  apps/chat/src/modules/chats/conversation/hooks/use-send-initial-message.tsx
  packages/sdk/src/modules/dashboard/messages/dto/sdk-create-message.dto.ts
  packages/sdk/src/modules/dashboard/messages/dto/sdk-message.dto.ts
Labels: app: backend, app: chat, package: sdk

fix(chat): improve paddings
  apps/chat/src/modules/projects/files/project-file-card.tsx
  apps/chat/src/modules/shared/card/card-description.tsx
Labels: app: chat

feat(backend): improve prompt about attaching files
  apps/backend/src/modules/messages/helpers/create-attached-files-message-prefix.ts
Labels: app: backend

feat(backend): improve prompt about attaching files
  apps/backend/src/modules/projects-embeddings/helpers/create-relevant-embeddings-prompt.ts
Labels: app: backend

fix(backend): add limit to embedding summary
  apps/backend/src/modules/projects-embeddings/generators/text-ai-embedding.generator.ts
Labels: app: backend

fix(backend): incorrect summarize string vectorization
  apps/backend/src/modules/projects-embeddings/generators/text-ai-embedding.generator.ts
Labels: app: backend

fix(chat): wrong unarchive url
  apps/chat/src/modules/chats/conversation/config-panel/chat-config-archive.tsx
Labels: app: chat

fix(chat): limit summarize tokens again
  apps/backend/src/modules/projects-embeddings/generators/text-ai-embedding.generator.ts
Labels: app: backend

feat(backend): init projects policies tables
  apps/backend/src/migrations/0026-add-users-groups-table.ts
  apps/backend/src/migrations/0027-add-projects-policies.ts
  apps/backend/src/migrations/index.ts
  apps/backend/src/modules/database/database.tables.ts
  apps/backend/src/modules/projects-policies/index.ts
  apps/backend/src/modules/projects-policies/projects-policies.tables.ts
  apps/backend/src/modules/projects/projects.tables.ts
  apps/backend/src/modules/users-groups/index.ts
  apps/backend/src/modules/users-groups/users-groups.tables.ts
Labels: app: backend

feat(backend): improve project policies shape
  apps/backend/src/migrations/0027-add-projects-policies.ts
  apps/backend/src/modules/messages/messages.service.ts
  apps/backend/src/modules/projects-policies/projects-policies.tables.ts
  apps/backend/src/modules/projects/projects.firewall.ts
  apps/backend/src/modules/projects/projects.service.ts
  apps/chat/src/modules/chats/conversation/chat-attached-app.tsx
  apps/chat/src/modules/chats/conversation/messages/chat-message.tsx
  packages/sdk/src/modules/dashboard/index.ts
  packages/sdk/src/modules/dashboard/projects-policies/dto/index.ts
  packages/sdk/src/modules/dashboard/projects-policies/dto/sdk-project-access-level.dto.ts
  packages/sdk/src/modules/dashboard/projects-policies/index.ts
Labels: app: backend, app: chat, package: sdk

feat(backend): add DB guards to projects policies migration
  apps/backend/src/migrations/0027-add-projects-policies.ts
  apps/backend/src/modules/elasticsearch/boot/elasticsearch-registry.boot.ts
  apps/backend/src/modules/projects-policies/elasticsearch/index.ts
  apps/backend/src/modules/projects-policies/elasticsearch/projects-policies-es-index.repo.ts
  apps/backend/src/modules/projects-policies/elasticsearch/projects-policies-es-search.repo.ts
  apps/backend/src/modules/projects-policies/index.ts
  apps/backend/src/modules/projects-policies/projects-policies.repo.ts
  apps/backend/src/modules/projects-policies/projects-policies.service.ts
  apps/backend/src/modules/projects-policies/projects-policies.tables.ts
  apps/backend/src/modules/users-groups/index.ts
  apps/backend/src/modules/users-groups/users-groups.repo.ts
  packages/sdk/src/modules/dashboard/projects-policies/dto/index.ts
  packages/sdk/src/modules/dashboard/projects-policies/dto/sdk-project-policy.dto.ts
Labels: app: backend, package: sdk

feat(backend): add missing index
  apps/backend/src/migrations/0026-add-users-groups-table.ts
  apps/backend/src/modules/database/database.tables.ts
  apps/backend/src/modules/messages/messages.repo.ts
  apps/backend/src/modules/projects-policies/projects-policies.repo.ts
  apps/backend/src/modules/users-groups/users-groups.tables.ts
Labels: app: backend

feat(sdk): add `accessLevel` to `SdkProjectPolicyT`
  apps/backend/src/modules/projects-policies/elasticsearch/projects-policies-es-index.repo.ts
  apps/backend/src/modules/projects-policies/elasticsearch/projects-policies-es-search.repo.ts
  packages/sdk/src/modules/dashboard/projects-policies/dto/sdk-project-access-level.dto.ts
  packages/sdk/src/modules/dashboard/projects-policies/dto/sdk-project-policy.dto.ts
Labels: app: backend, package: sdk

feat(sdk): add users groups sdk utils
  packages/sdk/src/modules/dashboard/dashboard.sdk.ts
  packages/sdk/src/modules/dashboard/index.ts
  packages/sdk/src/modules/dashboard/users-groups/dto/index.ts
  packages/sdk/src/modules/dashboard/users-groups/dto/sdk-create-users-group.dto.ts
  packages/sdk/src/modules/dashboard/users-groups/dto/sdk-search-users-groups.dto.ts
  packages/sdk/src/modules/dashboard/users-groups/dto/sdk-update-users-group.dto.ts
  packages/sdk/src/modules/dashboard/users-groups/dto/sdk-users-group.dto.ts
  packages/sdk/src/modules/dashboard/users-groups/index.ts
  packages/sdk/src/modules/dashboard/users-groups/users-groups.sdk.ts
Labels: package: sdk

feat(backend): init users groups controller
  apps/backend/src/modules/api/controllers/dashboard/dashboard.controller.ts
  apps/backend/src/modules/api/controllers/dashboard/index.ts
  apps/backend/src/modules/api/controllers/dashboard/users-groups.controller.ts
  apps/backend/src/modules/elasticsearch/boot/elasticsearch-registry.boot.ts
  apps/backend/src/modules/projects-policies/projects-policies.repo.ts
  apps/backend/src/modules/users-groups/elasticsearch/index.ts
  apps/backend/src/modules/users-groups/elasticsearch/users-groups-es-index.repo.ts
  apps/backend/src/modules/users-groups/elasticsearch/users-groups-es-search.repo.ts
  apps/backend/src/modules/users-groups/index.ts
  apps/backend/src/modules/users-groups/repo/index.ts
  apps/backend/src/modules/users-groups/repo/users-groups-users.repo.ts
  apps/backend/src/modules/users-groups/repo/users-groups.repo.ts
  apps/backend/src/modules/users-groups/users-groups.firewall.ts
  apps/backend/src/modules/users-groups/users-groups.repo.ts
  apps/backend/src/modules/users-groups/users-groups.service.ts
  apps/backend/src/modules/users-groups/users-groups.tables.ts
Labels: app: backend

feat(backend): add create / update of users-groups support
  apps/backend/src/migrations/0026-add-users-groups-table.ts
  apps/backend/src/modules/users-groups/repo/users-groups-users.repo.ts
  apps/backend/src/modules/users-groups/repo/users-groups.repo.ts
  apps/backend/src/modules/users-groups/users-groups.service.ts
Labels: app: backend

feat(chat): init management route
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/layouts/navigation/links/navigation-links.tsx
  apps/chat/src/layouts/navigation/navigation-right-toolbar.tsx
  apps/chat/src/modules/management/.gitkeep
  apps/chat/src/router.tsx
  apps/chat/src/routes/index.ts
  apps/chat/src/routes/management/index.ts
  apps/chat/src/routes/management/management.route.tsx
  apps/chat/src/routes/use-sitemap.tsx
Labels: app: chat

feat(chat): extract side layout to separate component
  apps/chat/src/modules/shared/index.ts
  apps/chat/src/modules/shared/side-layout/index.ts
  apps/chat/src/modules/shared/side-layout/side-layout.tsx
  apps/chat/src/modules/shared/side-layout/side-nav-item.tsx
  apps/chat/src/modules/shared/side-layout/side-nav.tsx
  apps/chat/src/routes/settings/settings.route.tsx
Labels: app: chat

feat(chat): init users / groups management route
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/layouts/navigation/links/navigation-item.tsx
  apps/chat/src/modules/shared/side-layout/side-nav-item.tsx
  apps/chat/src/modules/users-groups/.gitkeep
  apps/chat/src/modules/users/.gitkeep
  apps/chat/src/router.tsx
  apps/chat/src/routes/management/index.ts
  apps/chat/src/routes/management/layout/index.ts
  apps/chat/src/routes/management/layout/management.layout.tsx
  apps/chat/src/routes/management/management.route.tsx
  apps/chat/src/routes/management/pages/index.ts
  apps/chat/src/routes/management/pages/users-groups-management.route.tsx
  apps/chat/src/routes/management/pages/users-management.route.tsx
  apps/chat/src/routes/use-sitemap.tsx
Labels: app: chat

feat(chat): init management sidebar
  apps/chat/src/modules/shared/side-layout/side-layout.tsx
  apps/chat/src/modules/shared/side-layout/side-nav-item.tsx
  apps/chat/src/routes/management/layout/management.layout.tsx
Labels: app: chat

fix(backend): not working saving email auth settings
  apps/backend/src/modules/auth/repo/auth.repo.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
Labels: app: backend, app: chat

feat(chat): add user organization role badges
  apps/backend/src/modules/organizations/users/organizations-users.repo.ts
  apps/backend/src/modules/users/users.repo.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/organizations/index.ts
  apps/chat/src/modules/organizations/organization-user-role-badge.tsx
  apps/chat/src/modules/users/table/users-table-container.tsx
  apps/chat/src/modules/users/table/users-table-row.tsx
Labels: app: backend, app: chat

feat(chat): add basic users groups management
  apps/admin/src/modules/users/table/users-table-container.tsx
  apps/backend/src/modules/api/controllers/dashboard/users-groups.controller.ts
  apps/backend/src/modules/api/controllers/dashboard/users.controller.ts
  apps/backend/src/modules/users-groups/elasticsearch/users-groups-es-search.repo.ts
  apps/backend/src/modules/users/elasticsearch/users-es-search.repo.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/users-groups/.gitkeep
  apps/chat/src/modules/users-groups/form/create/index.ts
  apps/chat/src/modules/users-groups/form/create/use-users-group-create-form.tsx
  apps/chat/src/modules/users-groups/form/create/use-users-group-create-modal.tsx
  apps/chat/src/modules/users-groups/form/create/users-group-create-form-modal.tsx
  apps/chat/src/modules/users-groups/form/index.ts
  apps/chat/src/modules/users-groups/form/shared/index.ts
  apps/chat/src/modules/users-groups/form/shared/users-group-shared-form-fields.tsx
  apps/chat/src/modules/users-groups/form/update/index.ts
  apps/chat/src/modules/users-groups/form/update/use-users-group-update-form.tsx
  apps/chat/src/modules/users-groups/form/update/use-users-group-update-modal.tsx
  apps/chat/src/modules/users-groups/form/update/users-group-update-form-modal.tsx
  apps/chat/src/modules/users-groups/index.ts
  apps/chat/src/modules/users-groups/table/index.ts
  apps/chat/src/modules/users-groups/table/users-groups-table-container.tsx
  apps/chat/src/modules/users-groups/table/users-groups-table-row.tsx
  apps/chat/src/routes/management/pages/users-groups-management.route.tsx
  packages/sdk/src/modules/dashboard/users-groups/dto/sdk-search-users-groups.dto.ts
  packages/sdk/src/modules/dashboard/users-groups/users-groups.sdk.ts
  packages/sdk/src/modules/dashboard/users/dto/sdk-search-users.dto.ts
  packages/sdk/src/modules/dashboard/users/users.sdk.ts
Labels: app: admin, app: backend, app: chat, package: sdk

feat(chat): groups management works
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/apps/choose-app/choose-app-modal.tsx
  apps/chat/src/modules/shared/ghost-placeholder.tsx
  apps/chat/src/modules/users-groups/form/create/types.ts
  apps/chat/src/modules/users-groups/form/create/use-users-group-create-form.tsx
  apps/chat/src/modules/users-groups/form/create/use-users-group-create-modal.tsx
  apps/chat/src/modules/users-groups/form/create/users-group-create-form-modal.tsx
  apps/chat/src/modules/users-groups/form/shared/group-users-select-table.tsx
  apps/chat/src/modules/users-groups/form/shared/index.ts
  apps/chat/src/modules/users-groups/form/shared/users-group-shared-form-fields.tsx
  apps/chat/src/modules/users/choose-users/choose-users-modal.tsx
  apps/chat/src/modules/users/choose-users/index.ts
  apps/chat/src/modules/users/choose-users/use-choose-users-modal.tsx
  apps/chat/src/modules/users/index.ts
  apps/chat/src/modules/users/table/users-table-container.tsx
  apps/chat/src/modules/users/table/users-table-row.tsx
  packages/ui/src/components/list/paginated-list.tsx
  packages/ui/src/components/predefined/buttons/add-button.tsx
  packages/ui/src/components/predefined/buttons/archive-button.tsx
  packages/ui/src/components/predefined/buttons/create-button.tsx
  packages/ui/src/components/predefined/buttons/index.ts
  packages/ui/src/components/predefined/buttons/save-button.tsx
  packages/ui/src/components/predefined/buttons/select-record-button.tsx
  packages/ui/src/components/predefined/buttons/unarchive-button.tsx
  packages/ui/src/components/predefined/buttons/update-button.tsx
  packages/ui/src/components/table/paginated-table.tsx
  packages/ui/src/i18n/packs/i18n-forwarded-en-pack.tsx
  packages/ui/src/i18n/packs/i18n-forwarded-pl-pack.tsx
Labels: app: chat, package: ui

.github/labeler.yml:

'infra':
- changed-files:
  - any-glob-to-any-file: ['hetzner/**/*', 'config/**/*', 'infra/**/*', 'aws/**/*']

'ci':
- changed-files:
  - any-glob-to-any-file: ['.github/**/*']

'app: admin':
- changed-files:
  - any-glob-to-any-file: ['apps/admin/**/*']

'app: backend':
- changed-files:
  - any-glob-to-any-file: ['apps/backend/**/*']

'app: frontend':
- changed-files:
  - any-glob-to-any-file: ['apps/frontend/**/*']

'app: chat':
- changed-files:
  - any-glob-to-any-file: ['apps/chat/**/*']

'package: commons':
- changed-files:
  - any-glob-to-any-file: ['packages/commons/**/*']

'package: commons-front':
- changed-files:
  - any-glob-to-any-file: ['packages/commons-front/**/*']

'package: sdk':
- changed-files:
  - any-glob-to-any-file: ['packages/sdk/**/*']

'package: ui':
- changed-files:
  - any-glob-to-any-file: ['packages/ui/**/*']
