Repository DashHub-ai/DashHub, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, ci, app: backend, app: chat, package: commons, package: commons-front, package: sdk, package: ui

feat(chat): improve new chat button
  apps/chat/src/modules/chats/sidebar/new-chat-sidebar-button.tsx
Labels: app: chat

feat(chat): drop redundant AI function
  apps/backend/src/modules/ai-connector/clients/ai-gemini-proxy.ts
  apps/backend/src/modules/ai-connector/clients/ai-openai-proxy.ts
  apps/backend/src/modules/prompts/websearch/create-websearch-function-tool.ts
Labels: app: backend

feat(sdk): init external API schema
  packages/sdk/src/modules/dashboard/ai-external-api/dto/index.ts
  packages/sdk/src/modules/dashboard/ai-external-api/dto/sdk-ai-external-api-endpoint.dto.ts
  packages/sdk/src/modules/dashboard/ai-external-api/dto/sdk-ai-external-api-parameter.dto.ts
  packages/sdk/src/modules/dashboard/ai-external-api/dto/sdk-ai-external-api-schema.dto.ts
  packages/sdk/src/modules/dashboard/ai-external-api/index.ts
  packages/sdk/src/modules/dashboard/index.ts
Labels: package: sdk

feat(backend): init external api tables
  apps/backend/src/modules/ai-external-api/ai-external-api.tables.ts
  apps/backend/src/modules/ai-external-api/index.ts
  apps/backend/src/modules/database/database.tables.ts
Labels: app: backend

feat(backend): adjust typing
  apps/backend/src/modules/ai-external-api/ai-external-api.tables.ts
  packages/sdk/src/modules/dashboard/ai-external-api/dto/index.ts
  packages/sdk/src/modules/dashboard/ai-external-api/dto/sdk-ai-external-api.dto.ts
Labels: app: backend, package: sdk

feat(backend): init external api repo
  apps/backend/src/modules/ai-external-api/ai-external-api.repo.ts
  apps/backend/src/modules/ai-external-api/ai-external-api.tables.ts
  apps/backend/src/modules/ai-external-api/index.ts
Labels: app: backend

feat(backend): add AI extenral apis
  apps/backend/src/modules/ai-external-api/index.ts
  apps/backend/src/modules/ai-external-apis/ai-external-apis.firewall.ts
  apps/backend/src/modules/ai-external-apis/ai-external-apis.repo.ts
  apps/backend/src/modules/ai-external-apis/ai-external-apis.service.ts
  apps/backend/src/modules/ai-external-apis/ai-external-apis.tables.ts
  apps/backend/src/modules/ai-external-apis/elasticsearch/ai-external-apis-es-index.repo.ts
  apps/backend/src/modules/ai-external-apis/elasticsearch/ai-external-apis-es-search.repo.ts
  apps/backend/src/modules/ai-external-apis/elasticsearch/index.ts
  apps/backend/src/modules/ai-external-apis/index.ts
  apps/backend/src/modules/database/database.tables.ts
  packages/sdk/src/modules/dashboard/ai-external-api/dto/index.ts
  packages/sdk/src/modules/dashboard/ai-external-api/dto/sdk-create-ai-external-api.dto.ts
  packages/sdk/src/modules/dashboard/ai-external-api/dto/sdk-search-ai-external-apis.dto.ts
  packages/sdk/src/modules/dashboard/ai-external-api/dto/sdk-update-ai-external-api.dto.ts
Labels: app: backend, package: sdk

feat(backend): add ai external apis table
  apps/backend/src/migrations/0049-add-external-apis-table.ts
  apps/backend/src/migrations/index.ts
Labels: app: backend

feat(backend): add ai external apis ES reindexer
  apps/backend/src/modules/ai-external-apis/elasticsearch/ai-external-apis-es-index.repo.ts
  apps/backend/src/modules/elasticsearch/boot/elasticsearch-registry.boot.ts
Labels: app: backend

feat(sdk): add external APIs integration
  packages/sdk/src/modules/dashboard/ai-external-api/index.ts
  packages/sdk/src/modules/dashboard/ai-external-apis/ai-external-apis.sdk.ts
  packages/sdk/src/modules/dashboard/ai-external-apis/dto/index.ts
  packages/sdk/src/modules/dashboard/ai-external-apis/dto/sdk-ai-external-api-endpoint.dto.ts
  packages/sdk/src/modules/dashboard/ai-external-apis/dto/sdk-ai-external-api-parameter.dto.ts
  packages/sdk/src/modules/dashboard/ai-external-apis/dto/sdk-ai-external-api-schema.dto.ts
  packages/sdk/src/modules/dashboard/ai-external-apis/dto/sdk-ai-external-api.dto.ts
  packages/sdk/src/modules/dashboard/ai-external-apis/dto/sdk-create-ai-external-api.dto.ts
  packages/sdk/src/modules/dashboard/ai-external-apis/dto/sdk-search-ai-external-apis.dto.ts
  packages/sdk/src/modules/dashboard/ai-external-apis/dto/sdk-update-ai-external-api.dto.ts
  packages/sdk/src/modules/dashboard/ai-external-apis/index.ts
  packages/sdk/src/modules/dashboard/dashboard.sdk.ts
  packages/sdk/src/modules/dashboard/index.ts
Labels: package: sdk

feat(backend): add AI external apis controller
  apps/backend/src/modules/api/controllers/dashboard/ai-external-apis.controller.ts
  apps/backend/src/modules/api/controllers/dashboard/dashboard.controller.ts
  apps/backend/src/modules/api/controllers/dashboard/index.ts
Labels: app: backend

feat(chat): add continue chat card button
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/apps/grid/app-card-big-actions.tsx
  apps/chat/src/modules/apps/grid/app-card.tsx
  apps/chat/src/modules/chats/grid/chat-card-big-actions.tsx
  apps/chat/src/modules/chats/grid/chat-card.tsx
  apps/chat/src/ui/components/card/card-big-action-buttons.tsx
Labels: app: chat

feat(chat): improve style of pinned message
  apps/chat/src/modules/chats/conversation/messages/chat-message.tsx
Labels: app: chat

feat(chat): init external AIs routes
  apps/backend/src/migrations/0049-add-external-apis-table.ts
  apps/backend/src/modules/ai-external-apis/ai-external-apis.firewall.ts
  apps/backend/src/modules/ai-external-apis/ai-external-apis.repo.ts
  apps/backend/src/modules/ai-external-apis/ai-external-apis.service.ts
  apps/backend/src/modules/ai-external-apis/ai-external-apis.tables.ts
  apps/backend/src/modules/ai-external-apis/elasticsearch/ai-external-apis-es-index.repo.ts
  apps/backend/src/modules/ai-external-apis/elasticsearch/ai-external-apis-es-search.repo.ts
  apps/backend/src/modules/permissions/permissions.repo.ts
  apps/backend/src/modules/permissions/permissions.tables.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/layouts/navigation/links/navigation-links.tsx
  apps/chat/src/modules/ai-external-apis/grid/ai-external-api-card.tsx
  apps/chat/src/modules/ai-external-apis/grid/ai-external-apis-container.tsx
  apps/chat/src/modules/ai-external-apis/grid/ai-external-apis-placeholder.tsx
  apps/chat/src/modules/ai-external-apis/grid/index.ts
  apps/chat/src/modules/ai-external-apis/index.ts
  apps/chat/src/router.tsx
  apps/chat/src/routes/ai-external-apis/ai-external-apis.route.tsx
  apps/chat/src/routes/ai-external-apis/create/create-ai-external-api.route.tsx
  apps/chat/src/routes/ai-external-apis/create/index.ts
  apps/chat/src/routes/ai-external-apis/index.ts
  apps/chat/src/routes/ai-external-apis/update/index.ts
  apps/chat/src/routes/ai-external-apis/update/update-ai-external-api.route.tsx
  apps/chat/src/routes/home/home.route.tsx
  apps/chat/src/routes/index.ts
  apps/chat/src/routes/use-sitemap.tsx
  packages/sdk/src/modules/dashboard/ai-external-apis/dto/sdk-ai-external-api.dto.ts
  packages/sdk/src/modules/dashboard/ai-external-apis/dto/sdk-create-ai-external-api.dto.ts
  packages/sdk/src/modules/dashboard/ai-external-apis/dto/sdk-update-ai-external-api.dto.ts
  packages/sdk/src/modules/dashboard/permissions/dto/sdk-permission-resource.dto.ts
Labels: app: backend, app: chat, package: sdk

feat(chat): add AI external apis forms
  apps/backend/src/modules/ai-external-apis/ai-external-apis.service.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/ai-external-api-creator/creator/ai-external-api-create-form.tsx
  apps/chat/src/modules/ai-external-api-creator/creator/index.ts
  apps/chat/src/modules/ai-external-api-creator/creator/use-ai-external-api-create-form.tsx
  apps/chat/src/modules/ai-external-api-creator/index.ts
  apps/chat/src/modules/ai-external-api-creator/shared/ai-external-api-shared-form-fields.tsx
  apps/chat/src/modules/ai-external-api-creator/shared/index.ts
  apps/chat/src/modules/ai-external-api-creator/update/ai-external-api-update-form.tsx
  apps/chat/src/modules/ai-external-api-creator/update/index.ts
  apps/chat/src/modules/ai-external-api-creator/update/use-ai-external-api-update-form.tsx
  apps/chat/src/modules/ai-external-apis/grid/ai-external-api-card.tsx
  apps/chat/src/modules/index.ts
  apps/chat/src/modules/workspace/use-workspace-organization.tsx
  apps/chat/src/routes/ai-external-apis/create/create-ai-external-api.route.tsx
  apps/chat/src/routes/ai-external-apis/update/update-ai-external-api.route.tsx
Labels: app: backend, app: chat

feat(chat): add open project cta
  apps/chat/src/modules/projects/grid/project-card.tsx
  apps/chat/src/ui/components/card/card-big-actions.tsx
  apps/chat/src/ui/components/card/card-footer.tsx
Labels: app: chat

feat(chat): improve buttons styling
  apps/chat/src/modules/ai-external-apis/grid/ai-external-api-card.tsx
  apps/chat/src/modules/apps/grid/app-card-big-actions.tsx
  apps/chat/src/modules/apps/grid/app-card.tsx
  apps/chat/src/modules/chats/grid/chat-card.tsx
  apps/chat/src/modules/projects/grid/project-card.tsx
  apps/chat/src/ui/components/card/card-big-action-buttons.tsx
Labels: app: chat

feat(chat): improve layout
  apps/chat/src/routes/ai-external-apis/update/update-ai-external-api.route.tsx
Labels: app: chat

feat(chat): improve typing
  apps/chat/src/modules/workspace/use-workspace-organization.tsx
  apps/chat/src/routes/ai-external-apis/create/create-ai-external-api.route.tsx
Labels: app: chat

feat(chat): more reusable layout
  apps/chat/src/layouts/parts/index.ts
  apps/chat/src/layouts/parts/page-form-section.tsx
  apps/chat/src/routes/ai-external-apis/create/create-ai-external-api.route.tsx
  apps/chat/src/routes/ai-external-apis/schema/ai-schema-editor.tsx
  apps/chat/src/routes/ai-external-apis/update/update-ai-external-api.route.tsx
  apps/chat/src/routes/apps/create/create-app.route.tsx
  apps/chat/src/routes/apps/update/update-app.route.tsx
Labels: app: chat

feat(chat): improve promotion bar layout
  apps/chat/src/routes/home/home.route.tsx
Labels: app: chat

feat(chat): init schema editor
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/ai-external-api-creator/schema/ai-schema-creator.tsx
  apps/chat/src/modules/ai-external-api-creator/schema/index.ts
  apps/chat/src/modules/ai-external-api-creator/shared/ai-external-api-shared-form-fields.tsx
Labels: app: chat

feat(chat): add basic schema endpoint form
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/ai-external-api-creator/schema/ai-schema-creator.tsx
  apps/chat/src/modules/ai-external-api-creator/schema/endpoints/ai-schema-endpoint-method.tsx
  apps/chat/src/modules/ai-external-api-creator/schema/endpoints/ai-schema-endpoint.tsx
  apps/chat/src/modules/ai-external-api-creator/schema/endpoints/ai-schema-endpoints.tsx
  apps/chat/src/modules/ai-external-api-creator/schema/endpoints/index.ts
  apps/chat/src/modules/ai-external-api-creator/shared/ai-external-api-shared-form-fields.tsx
  packages/sdk/src/modules/dashboard/ai-external-apis/dto/sdk-ai-external-api-endpoint.dto.ts
Labels: app: chat, package: sdk

feat(chat): add missing placeholders
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/ai-external-api-creator/schema/endpoints/ai-schema-endpoint.tsx
Labels: app: chat

feat(chat): add parameters settings
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/ai-external-api-creator/schema/ai-schema-creator.tsx
  apps/chat/src/modules/ai-external-api-creator/schema/endpoints/ai-schema-endpoint.tsx
  apps/chat/src/modules/ai-external-api-creator/schema/endpoints/ai-schema-endpoints.tsx
  apps/chat/src/modules/ai-external-api-creator/schema/index.ts
  apps/chat/src/modules/ai-external-api-creator/schema/parameters/ai-schema-parameter-default-value.tsx
  apps/chat/src/modules/ai-external-api-creator/schema/parameters/ai-schema-parameter-placement.tsx
  apps/chat/src/modules/ai-external-api-creator/schema/parameters/ai-schema-parameter-row.tsx
  apps/chat/src/modules/ai-external-api-creator/schema/parameters/ai-schema-parameter-type.tsx
  apps/chat/src/modules/ai-external-api-creator/schema/parameters/ai-schema-parameters.tsx
  apps/chat/src/modules/ai-external-api-creator/schema/parameters/index.ts
  apps/chat/src/routes/ai-external-apis/create/create-ai-external-api.route.tsx
  apps/chat/src/ui/components/controls/numeric-input.tsx
  packages/sdk/src/modules/dashboard/ai-external-apis/dto/sdk-ai-external-api-parameter.dto.ts
Labels: app: chat, package: sdk

feat(chat): better UI
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/ai-external-api-creator/schema/ai-schema-creator.tsx
  apps/chat/src/modules/ai-external-api-creator/schema/endpoints/ai-schema-endpoint.tsx
  apps/chat/src/modules/ai-external-api-creator/schema/endpoints/ai-schema-endpoints.tsx
  apps/chat/src/modules/ai-external-api-creator/schema/parameters/ai-schema-parameters.tsx
  apps/chat/src/modules/ai-external-api-creator/shared/ai-external-api-shared-form-fields.tsx
  apps/chat/src/routes/ai-external-apis/create/create-ai-external-api.route.tsx
  packages/sdk/src/modules/dashboard/ai-external-apis/dto/sdk-ai-external-api-schema.dto.ts
Labels: app: chat, package: sdk

feat(chat): update translations
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/ai-external-api-creator/schema/ai-schema-creator.tsx
Labels: app: chat

fix(chat): not working archiving external apis
  apps/chat/src/modules/ai-external-apis/grid/ai-external-api-card.tsx
Labels: app: chat

feat(backend): init AI function generator for external apps
  apps/backend/src/modules/prompts/ai-external-apps/convert-ai-external-schema-to-function-tool.ts
  apps/backend/src/modules/prompts/ai-external-apps/index.ts
  apps/backend/src/modules/prompts/index.ts
  packages/sdk/src/modules/dashboard/ai-external-apis/dto/sdk-ai-external-api-parameter.dto.ts
Labels: app: backend, package: sdk

feat(backend): better enum handling
  apps/backend/src/modules/prompts/ai-external-apps/convert-ai-external-schema-to-function-tool.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/ai-external-api-creator/schema/parameters/ai-schema-parameter-row.tsx
  apps/chat/src/modules/ai-external-api-creator/schema/parameters/ai-schema-parameters.tsx
  packages/commons/src/helpers/index.ts
  packages/commons/src/helpers/is-dangerous-object-key.ts
  packages/sdk/src/modules/dashboard/ai-external-apis/dto/sdk-ai-external-api-parameter.dto.ts
Labels: app: backend, app: chat, package: commons, package: sdk

feat(backend): add AI functions getter to backend
  apps/backend/src/modules/ai-external-apis/ai-external-apis.firewall.ts
  apps/backend/src/modules/ai-external-apis/ai-external-apis.service.ts
  apps/backend/src/modules/prompts/ai-external-apps/convert-ai-external-schema-to-function-tool.ts
  apps/chat/src/modules/ai-external-api-creator/schema/endpoints/ai-schema-endpoints.tsx
  apps/chat/src/routes/ai-external-apis/create/create-ai-external-api.route.tsx
Labels: app: backend, app: chat

fix(backend): add missing organization asserations
  apps/backend/src/modules/ai-external-apis/ai-external-apis.firewall.ts
Labels: app: backend

feat(backend): add external api function executor
  apps/backend/src/modules/ai-connector/clients/ai-openai-proxy.ts
  apps/backend/src/modules/ai-connector/clients/ai-proxy.ts
  apps/backend/src/modules/prompts/ai-external-apps/create-ai-external-api-functions.ts
  apps/backend/src/modules/prompts/ai-external-apps/index.ts
  packages/sdk/src/modules/dashboard/ai-external-apis/dto/sdk-ai-external-api-parameter.dto.ts
Labels: app: backend, package: sdk

feat(backend): add prototype external apps
  apps/backend/src/modules/ai-connector/clients/ai-openai-proxy.ts
  apps/backend/src/modules/ai-connector/clients/ai-proxy.ts
  apps/backend/src/modules/ai-external-apis/ai-external-apis.firewall.ts
  apps/backend/src/modules/ai-external-apis/ai-external-apis.service.ts
  apps/backend/src/modules/ai-models/ai-models.service.ts
  apps/backend/src/modules/apps-categories/apps-categories.service.ts
  apps/backend/src/modules/apps/apps.service.ts
  apps/backend/src/modules/chats/chats.service.ts
  apps/backend/src/modules/messages/messages.firewall.ts
  apps/backend/src/modules/messages/messages.service.ts
  apps/backend/src/modules/organizations/s3-buckets/organizations-s3-buckets.service.ts
  apps/backend/src/modules/projects/projects.service.ts
  apps/backend/src/modules/prompts/ai-external-apps/create-ai-external-api-async-functions.ts
  apps/backend/src/modules/prompts/ai-external-apps/create-endpoint-ai-function-definition.ts
  apps/backend/src/modules/prompts/ai-external-apps/index.ts
  apps/backend/src/modules/search-engines/search-engines.service.ts
  apps/backend/src/modules/users-groups/users-groups.service.ts
  apps/backend/src/modules/users/users.service.ts
  packages/commons/src/helpers/iterators/filter-map-async-iterator.ts
  packages/commons/src/helpers/iterators/index.ts
  packages/commons/src/helpers/iterators/tap-async-iterator.ts
Labels: app: backend, package: commons

feat(backend): add missing dynamic AI args
  apps/backend/src/modules/ai-connector/clients/ai-openai-proxy.ts
  apps/backend/src/modules/ai-connector/clients/ai-proxy.ts
  apps/backend/src/modules/prompts/ai-external-apps/create-ai-endpoint-function-definition.ts
  apps/backend/src/modules/prompts/ai-external-apps/create-ai-external-api-async-functions.ts
  apps/backend/src/modules/prompts/ai-external-apps/create-ai-external-api-endpoints-restrictions.ts
  apps/backend/src/modules/prompts/ai-external-apps/index.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/ai-external-api-creator/schema/endpoints/ai-schema-endpoint.tsx
  apps/chat/src/modules/ai-external-api-creator/schema/parameters/ai-schema-parameter-row.tsx
  apps/chat/src/modules/ai-external-api-creator/schema/parameters/ai-schema-parameters.tsx
Labels: app: backend, app: chat

feat(backend): fix not working cache in few methods
  apps/backend/src/modules/ai-external-apis/ai-external-apis.service.ts
  apps/backend/src/modules/config/helpers/try-read-env-or-panic.ts
  apps/backend/src/modules/database/connection/database-connection.repo.ts
  apps/backend/src/modules/database/database.config.ts
  apps/backend/src/modules/elasticsearch/elasticsearch.config.ts
  apps/backend/src/modules/elasticsearch/repo/elasticsearch-index.repo.ts
  apps/backend/src/modules/elasticsearch/repo/elasticsearch.repo.ts
  apps/backend/src/modules/users-groups/repo/users-groups-users.repo.ts
  packages/commons/src/helpers/cache/wrap-with-cache.ts
  turbo.json
Labels: app: backend, package: commons

feat(sdk): add `asyncFunctionsResults` to message result
  apps/backend/src/modules/messages/elasticsearch/messages-es-search.repo.ts
  packages/sdk/src/modules/dashboard/messages/dto/index.ts
  packages/sdk/src/modules/dashboard/messages/dto/sdk-message-async-function-result.dto.ts
  packages/sdk/src/modules/dashboard/messages/dto/sdk-message.dto.ts
Labels: app: backend, package: sdk

fix(chat): improve optimistic responses
  apps/chat/src/modules/chats/conversation/hooks/use-optimistic-response-creator.tsx
Labels: app: chat

fix(backend): improve typing
  apps/backend/src/modules/pinned-messages/elasticsearch/pinned-messages-es-search.repo.ts
Labels: app: backend

feat(chat): add basic badges
  apps/chat/src/layouts/navigation/links/navigation-links.tsx
  apps/chat/src/modules/ai-external-apis/chat/external-ai-api-chat-badge.tsx
  apps/chat/src/modules/ai-external-apis/chat/index.ts
  apps/chat/src/modules/ai-external-apis/grid/ai-external-api-card.tsx
  apps/chat/src/modules/ai-external-apis/index.ts
  apps/chat/src/modules/ai-external-apis/use-cached-external-api-lookup.ts
  apps/chat/src/modules/chats/conversation/messages/chat-message.tsx
Labels: app: chat

.github/labeler.yml:

'infra':
- changed-files:
  - any-glob-to-any-file: ['hetzner/**/*', 'config/**/*', 'infra/**/*', 'aws/**/*']

'ci':
- changed-files:
  - any-glob-to-any-file: ['.github/**/*']

'app: backend':
- changed-files:
  - any-glob-to-any-file: ['apps/backend/**/*']

'app: chat':
- changed-files:
  - any-glob-to-any-file: ['apps/chat/**/*']

'package: commons':
- changed-files:
  - any-glob-to-any-file: ['packages/commons/**/*']

'package: commons-front':
- changed-files:
  - any-glob-to-any-file: ['packages/commons-front/**/*']

'package: sdk':
- changed-files:
  - any-glob-to-any-file: ['packages/sdk/**/*']

'package: ui':
- changed-files:
  - any-glob-to-any-file: ['packages/ui/**/*']
