Repository DashHub-ai/DashHub, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, ci, app: backend, app: chat, package: commons, package: commons-front, package: sdk, package: ui

.github/labeler.yml:

'infra':
- changed-files:
  - any-glob-to-any-file: ['hetzner/**/*', 'config/**/*', 'infra/**/*', 'aws/**/*']

'ci':
- changed-files:
  - any-glob-to-any-file: ['.github/**/*']

'app: backend':
- changed-files:
  - any-glob-to-any-file: ['apps/backend/**/*']

'app: chat':
- changed-files:
  - any-glob-to-any-file: ['apps/chat/**/*']

'package: commons':
- changed-files:
  - any-glob-to-any-file: ['packages/commons/**/*']

'package: commons-front':
- changed-files:
  - any-glob-to-any-file: ['packages/commons-front/**/*']

'package: sdk':
- changed-files:
  - any-glob-to-any-file: ['packages/sdk/**/*']

'package: ui':
- changed-files:
  - any-glob-to-any-file: ['packages/ui/**/*']

Update create-default-persona-context-prompt.ts
  apps/backend/src/modules/prompts/context/personas/create-default-persona-context-prompt.ts
Labels: app: backend

Update create-default-persona-context-prompt.ts
  apps/backend/src/modules/prompts/context/personas/create-default-persona-context-prompt.ts
Labels: app: backend

fix(chat): improve code
  apps/backend/src/modules/prompts/context/personas/create-default-persona-context-prompt.ts
Labels: app: backend

Update create-default-persona-context-prompt.ts
  apps/backend/src/modules/prompts/context/personas/create-default-persona-context-prompt.ts
Labels: app: backend

fix(backend): adjust prompt
  apps/backend/src/modules/prompts/context/personas/create-default-persona-context-prompt.ts
  apps/backend/src/modules/prompts/system/create-attach-app-system-message.ts
Labels: app: backend

feat(chat): improve sidebar layout breakpoints
  apps/chat/src/layouts/navigation/index.ts
  apps/chat/src/layouts/navigation/logged-in/index.ts
  apps/chat/src/layouts/navigation/logged-in/logged-in-button.tsx
  apps/chat/src/layouts/navigation/logged-in/logged-in-user-item.tsx
  apps/chat/src/layouts/navigation/navigation-right-toolbar.tsx
  apps/chat/src/layouts/navigation/navigation.tsx
  apps/chat/src/layouts/page-with-sidebar.layout.tsx
  apps/chat/src/layouts/sidebar/sidebar.tsx
Labels: app: chat

feat(chat): adjust imports
  apps/chat/src/layouts/page-with-sidebar.layout.tsx
  apps/chat/src/layouts/sidebar/index.ts
Labels: app: chat

feat(chat): adjust navigation paddings
  apps/chat/src/layouts/navigation/hamburger-menu.tsx
  apps/chat/src/layouts/navigation/index.ts
  apps/chat/src/layouts/navigation/links/navigation-links.tsx
  apps/chat/src/layouts/navigation/navigation.tsx
  apps/chat/src/layouts/page-with-sidebar.layout.tsx
  apps/chat/src/layouts/sidebar/sidebar.tsx
  apps/chat/src/modules/search-bar/search-bar-input.tsx
  apps/chat/src/routes/chat/chat.route.tsx
  apps/chat/src/routes/project/project.route.tsx
Labels: app: chat

feat(chat): improve layout on projects page
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/layouts/navigation/hamburger-menu.tsx
  apps/chat/src/layouts/navigation/index.ts
  apps/chat/src/layouts/navigation/links/navigation-links.tsx
  apps/chat/src/layouts/navigation/navigation-right-toolbar.tsx
  apps/chat/src/layouts/navigation/navigation.tsx
  apps/chat/src/layouts/page-with-sidebar.layout.tsx
  apps/chat/src/layouts/parts/layout-breadcrumbs.tsx
  apps/chat/src/layouts/sidebar/choose-language-item.tsx
  apps/chat/src/layouts/sidebar/links/sidebar-links.tsx
  apps/chat/src/layouts/sidebar/sidebar.tsx
  apps/chat/src/modules/apps-categories/sidebar/items/app-category-button.tsx
  apps/chat/src/modules/apps/grid/apps-container.tsx
  apps/chat/src/modules/chats/conversation/chat-conversation-with-sidebar.tsx
  apps/chat/src/modules/chats/sidebar/chats-history-sidebar-section.tsx
  apps/chat/src/modules/organizations-my/my-organization-form.tsx
  apps/chat/src/modules/projects/files/project-files-list-container.tsx
  apps/chat/src/router.tsx
  apps/chat/src/routes/apps/apps.route.tsx
  apps/chat/src/routes/chat/chat.route.tsx
  apps/chat/src/routes/chats/chats.route.tsx
  apps/chat/src/routes/chats/index.ts
  apps/chat/src/routes/home/home-tutorial.tsx
  apps/chat/src/routes/home/home.route.tsx
  apps/chat/src/routes/index.ts
  apps/chat/src/routes/project/project.route.tsx
  apps/chat/src/routes/use-sitemap.tsx
  apps/chat/src/ui/components/controls/select.tsx
Labels: app: chat

feat(chat): improve layout on chat page
  apps/chat/src/modules/chats/conversation/chat-conversation-with-sidebar.tsx
  apps/chat/src/modules/chats/conversation/config-panel/chat-config-panel.tsx
  apps/chat/src/modules/chats/conversation/config-panel/chat-config-tutorial.tsx
  apps/chat/src/routes/apps/create/create-app.route.tsx
  apps/chat/src/ui/components/collapsible-panel.tsx
Labels: app: chat

feat(chat): better align of header toolbar buttons
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/layouts/navigation/navigation-right-toolbar.tsx
  apps/chat/src/layouts/navigation/navigation.tsx
  apps/chat/src/layouts/sidebar/sidebar.tsx
  apps/chat/src/modules/permissions/share-resource/share-resource-button.tsx
  apps/chat/src/modules/permissions/status/permissions-status-icon.tsx
  apps/chat/src/routes/apps/apps.route.tsx
Labels: app: chat

fix(chat): remove breadcrumbs from update app layout
  apps/chat/src/routes/apps/update/update-app.route.tsx
Labels: app: chat

fix(chat): show sidebar toggle in the corner
  apps/chat/src/layouts/page-with-sidebar.layout.tsx
  apps/chat/src/layouts/sidebar/sidebar.tsx
Labels: app: chat

feat(chat): add apps categories sidebar placeholder if empty
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/apps-categories/sidebar/apps-categories-sidebar-layout.tsx
  apps/chat/src/modules/apps-categories/sidebar/apps-categories-sidebar.tsx
  apps/chat/src/modules/apps/grid/apps-container.tsx
  apps/chat/src/routes/apps/apps.route.tsx
Labels: app: chat

feat(backend): no longer respond in wrong language
  apps/backend/src/modules/messages/messages.service.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.service.ts
  apps/backend/src/modules/prompts/context/create-context-prompt.ts
  apps/backend/src/modules/prompts/context/create-critical-context-prompt.ts
  apps/backend/src/modules/prompts/embeddings/create-relevant-embeddings-ai-tag.ts
  apps/backend/src/modules/prompts/embeddings/index.ts
  apps/backend/src/modules/prompts/embeddings/utils/embeddings-xml-tag.ts
  apps/backend/src/modules/prompts/message/create-ai-attached-files-tag.ts
  apps/backend/src/modules/prompts/message/create-ai-quote-tag.ts
  apps/backend/src/modules/prompts/message/create-attached-files-message-prefix.ts
  apps/backend/src/modules/prompts/message/create-reply-ai-message-prefix.ts
  apps/backend/src/modules/prompts/message/index.ts
  apps/backend/src/modules/prompts/message/wrap-user-prompt-with-ai-tags.ts
  apps/chat/src/modules/chats/conversation/hooks/use-ai-response-observable.tsx
  packages/sdk/src/modules/dashboard/messages/dto/sdk-request-ai-reply.dto.ts
Labels: app: backend, app: chat, package: sdk

feat(chat): add drag & drop files
  apps/chat/src/modules/chats/conversation/files/index.ts
  apps/chat/src/modules/chats/conversation/files/select-chat-file.tsx
  apps/chat/src/modules/chats/conversation/files/use-chat-file-drop.ts
  apps/chat/src/modules/chats/start-chat/start-chat-form.tsx
  apps/chat/src/modules/projects/files/project-files-list-container.tsx
  apps/chat/src/modules/projects/files/use-file-upload.ts
  packages/commons-front/src/hooks/index.ts
  packages/commons-front/src/hooks/use-file-drop.ts
Labels: app: chat, package: commons-front

feat(chat): add skeleton loader to apps
  apps/chat/src/modules/apps/grid/apps-container.tsx
  apps/chat/src/modules/chats/start-chat/start-chat-form.tsx
  apps/chat/src/routes/apps/apps.route.tsx
  apps/chat/src/ui/components/card/card-skeleton.tsx
  apps/chat/src/ui/components/card/index.ts
  apps/chat/src/ui/components/list/paginated-list.tsx
  packages/commons-front/src/hooks/use-focus-after-mount.ts
Labels: app: chat, package: commons-front

feat(chat): add more skeletons
  apps/chat/src/modules/chats/grid/chats-container.tsx
  apps/chat/src/modules/projects/grid/projects-container.tsx
Labels: app: chat

feat(chat): add CTA to apps card
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/apps/grid/app-card.tsx
Labels: app: chat

fix(chat): improve overflow on chat view
  apps/chat/src/ui/components/collapsible-panel.tsx
Labels: app: chat

feat(chat): improve breakpoints
  apps/chat/src/modules/apps/choose-app/choose-app-modal.tsx
  apps/chat/src/modules/apps/grid/apps-container.tsx
  apps/chat/src/modules/chats/grid/chats-container.tsx
  apps/chat/src/modules/chats/history/chats-history-section.tsx
  apps/chat/tailwind.config.ts
Labels: app: chat

fix(chat): rename titles
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/apps-categories/sidebar/apps-categories-sidebar-loader.tsx
  apps/chat/src/modules/apps/grid/app-card.tsx
Labels: app: chat

Update create-attach-app-system-message.ts
  apps/backend/src/modules/prompts/system/create-attach-app-system-message.ts
Labels: app: backend

fix(chat): remove chat start form from agents route
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/routes/apps/apps.route.tsx
Labels: app: chat

fix(chat): move back chats to home
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/layouts/navigation/links/navigation-links.tsx
  apps/chat/src/routes/apps/apps.route.tsx
  apps/chat/src/routes/home/home.route.tsx
Labels: app: chat

fix(chat): remove management from navigation, move to user dropdown instead
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/layouts/navigation/links/navigation-links.tsx
  apps/chat/src/layouts/navigation/navigation-right-toolbar.tsx
  apps/chat/src/layouts/sidebar/logged-in/logged-in-user-item.tsx
Labels: app: chat

feat(global): add cron staging deployment
  .github/workflows/deploy-staging.yml
Labels: ci

feat(backend): init user favorites module
  apps/backend/src/migrations/0047-add-users-favorites-table.ts
  apps/backend/src/migrations/index.ts
  apps/backend/src/modules/database/database.tables.ts
  apps/backend/src/modules/users-favorites/index.ts
  apps/backend/src/modules/users-favorites/users-favorites.repo.ts
  apps/backend/src/modules/users-favorites/users-favorites.tables.ts
Labels: app: backend

feat(backend): add basic favorites service / repo logic
  apps/backend/src/modules/users-favorites/users-favorites.repo.ts
  packages/sdk/src/modules/dashboard/dashboard.sdk.ts
  packages/sdk/src/modules/dashboard/favorites/dto/index.ts
  packages/sdk/src/modules/dashboard/favorites/dto/sdk-favorite.dto.ts
  packages/sdk/src/modules/dashboard/favorites/dto/sdk-upsert-favorite.dto.ts
  packages/sdk/src/modules/dashboard/favorites/favorites.sdk.ts
  packages/sdk/src/modules/dashboard/favorites/index.ts
  packages/sdk/src/modules/dashboard/index.ts
Labels: app: backend, package: sdk

feat(backend): init base favorites firewall
  apps/backend/src/modules/permissions/permissions.firewall.ts
  apps/backend/src/modules/users-favorites/index.ts
  apps/backend/src/modules/users-favorites/users-favorites.firewall.ts
  apps/backend/src/modules/users-favorites/users-favorites.repo.ts
  apps/backend/src/modules/users-favorites/users-favorites.service.ts
Labels: app: backend

feat(backend): improve favorites search
  apps/backend/src/modules/users-favorites/users-favorites.repo.ts
  packages/sdk/src/modules/dashboard/favorites/dto/sdk-favorite.dto.ts
Labels: app: backend, package: sdk

feat(backend): add favorites controller
  apps/backend/src/modules/api/controllers/dashboard/dashboard.controller.ts
  apps/backend/src/modules/api/controllers/dashboard/favorites.controller.ts
  apps/backend/src/modules/api/controllers/dashboard/index.ts
  apps/backend/src/modules/users-favorites/users-favorites.firewall.ts
  apps/backend/src/modules/users-favorites/users-favorites.repo.ts
  packages/sdk/src/modules/dashboard/favorites/dto/sdk-upsert-favorite.dto.ts
  packages/sdk/src/modules/dashboard/favorites/favorites.sdk.ts
Labels: app: backend, package: sdk

feat(backend): add working favorites
  apps/backend/src/modules/api/controllers/dashboard/favorites.controller.ts
  apps/backend/src/modules/users-favorites/users-favorites.firewall.ts
  apps/backend/src/modules/users-favorites/users-favorites.repo.ts
  apps/backend/src/modules/users-favorites/users-favorites.service.ts
  apps/chat/src/app.tsx
  apps/chat/src/modules/apps/favorite/favorite-app-star-button.tsx
  apps/chat/src/modules/apps/favorite/favorite-apps-validator.tsx
  apps/chat/src/modules/apps/favorite/index.ts
  apps/chat/src/modules/apps/favorite/use-favorite-apps.tsx
  apps/chat/src/modules/apps/grid/app-card.tsx
  apps/chat/src/modules/apps/grid/apps-container.tsx
  apps/chat/src/modules/apps/index.ts
  apps/chat/src/modules/favorites/favorite-star-button.tsx
  apps/chat/src/modules/favorites/index.ts
  packages/sdk/src/modules/dashboard/favorites/dto/sdk-favorite.dto.ts
  packages/sdk/src/modules/dashboard/favorites/favorites.sdk.ts
  packages/sdk/src/react-integration/favorites/hooks/index.ts
  packages/sdk/src/react-integration/favorites/hooks/use-is-sdk-favorite-toggled.ts
  packages/sdk/src/react-integration/favorites/hooks/use-sdk-subscribe-favorites-or-throw.ts
  packages/sdk/src/react-integration/favorites/hooks/use-sdk-toggle-favorite.ts
  packages/sdk/src/react-integration/favorites/index.ts
  packages/sdk/src/react-integration/favorites/sdk-favorites-context.tsx
  packages/sdk/src/react-integration/favorites/sdk-favorites-provider.tsx
  packages/sdk/src/react-integration/index.ts
Labels: app: backend, app: chat, package: sdk

fix(sdk): wrong import
  packages/sdk/src/react-integration/favorites/hooks/use-is-sdk-favorite-toggled.ts
Labels: package: sdk

feat(backend): add favorite apps aggregations
  apps/backend/src/migrations/0047-add-users-favorites-table.ts
  apps/backend/src/modules/apps/apps.firewall.ts
  apps/backend/src/modules/apps/elasticsearch/apps-es-search.repo.ts
  apps/backend/src/modules/users-favorites/users-favorites.repo.ts
  packages/sdk/src/modules/dashboard/apps/dto/sdk-search-apps.dto.ts
  packages/sdk/src/shared/dto/index.ts
  packages/sdk/src/shared/dto/sdk-counted-id-record.dto.ts
  packages/sdk/src/shared/dto/sdk-counted-record.dto.ts
Labels: app: backend, package: sdk

fix(chat): not working optimistic response for favorites
  packages/sdk/src/react-integration/favorites/hooks/use-sdk-toggle-favorite.ts
Labels: package: sdk

fix(backend): add favorites filters to apps
  apps/backend/src/modules/apps/elasticsearch/apps-es-search.repo.ts
  apps/chat/src/modules/apps/grid/app-card.tsx
  apps/chat/src/modules/apps/grid/apps-container.tsx
  apps/chat/src/modules/apps/grid/apps-sidebar.tsx
  apps/chat/src/modules/favorites/favorite-star-button.tsx
  packages/sdk/src/modules/dashboard/apps/dto/sdk-search-apps.dto.ts
Labels: app: backend, app: chat, package: sdk

feat(chat): add fake favorite category
  apps/backend/src/modules/apps/elasticsearch/apps-es-search.repo.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/apps-categories/sidebar/apps-categories-sidebar.tsx
  apps/chat/src/modules/apps/grid/apps-sidebar.tsx
Labels: app: backend, app: chat

fix(chat): prevent too often reload categories sidebar
  apps/chat/src/modules/apps/grid/apps-container.tsx
  apps/chat/src/modules/apps/grid/apps-sidebar.tsx
Labels: app: chat

fix(chat): broken width of search bar
  apps/chat/src/layouts/navigation/navigation.tsx
  apps/chat/src/modules/search-bar/search-bar-input.tsx
  apps/chat/src/modules/search-bar/search-bar.tsx
Labels: app: chat
