Repository DashHub-ai/DashHub, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, ci, app: admin, app: backend, app: frontend, app: chat, package: commons, package: commons-front, package: sdk, package: ui

fix(chat): wrong redirect after archive of project
  apps/chat/src/modules/chats/conversation/config-panel/chat-config-archive.tsx
  apps/chat/src/modules/chats/conversation/config-panel/chat-config-unarchive.tsx
Labels: app: chat

feat(chat): adjust project card style
  apps/chat/src/modules/projects/grid/project-card.tsx
Labels: app: chat

feat(chat): project selector on start chat works
  apps/chat/src/modules/chats/start-chat/start-chat-form.tsx
  apps/chat/src/modules/chats/start-chat/use-start-chat-form.tsx
  apps/chat/src/modules/projects/controls/index.ts
  apps/chat/src/modules/projects/controls/projects-search-select.tsx
  apps/chat/src/modules/projects/index.ts
  apps/chat/src/routes/project/project-content.tsx
  packages/sdk/src/modules/dashboard/chats/dto/sdk-create-chat.dto.ts
Labels: app: chat, package: sdk

feat(chat): add ability to remove uploaded embeddings
  apps/backend/src/modules/elasticsearch/repo/elasticsearch-index.repo.ts
  apps/backend/src/modules/elasticsearch/repo/elasticsearch.repo.ts
  apps/backend/src/modules/projects-embeddings/elasticsearch/projects-embeddings-es-index.repo.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.repo.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.service.ts
  apps/backend/src/modules/projects-files/projects-files.service.ts
Labels: app: backend

feat(backend): add support for quoting knowledge
  apps/backend/src/modules/projects-embeddings/projects-embeddings.service.ts
Labels: app: backend

feat(sdk): init `ProjectsEmbeddingsSdk`
  apps/chat/src/modules/projects/files/file-card.tsx
  apps/chat/src/modules/projects/files/files-list-container.tsx
  apps/chat/src/modules/projects/files/use-file-upload.ts
  packages/sdk/src/modules/dashboard/dashboard.sdk.ts
  packages/sdk/src/modules/dashboard/index.ts
  packages/sdk/src/modules/dashboard/projects-embeddings/dto/index.ts
  packages/sdk/src/modules/dashboard/projects-embeddings/dto/sdk-project-embedding.dto.ts
  packages/sdk/src/modules/dashboard/projects-embeddings/dto/sdk-search-project-embeddings.dto.ts
  packages/sdk/src/modules/dashboard/projects-embeddings/index.ts
  packages/sdk/src/modules/dashboard/projects-embeddings/projects-embeddings.sdk.ts
  packages/sdk/src/modules/dashboard/projects-files/dto/index.ts
  packages/sdk/src/modules/dashboard/projects-files/dto/sdk-project-file.dto.ts
  packages/sdk/src/modules/dashboard/projects-files/dto/sdk-search-project-files.dto.ts
  packages/sdk/src/modules/dashboard/projects-files/dto/sdk-upload-project-file.dto.ts
  packages/sdk/src/modules/dashboard/projects-files/index.ts
  packages/sdk/src/modules/dashboard/projects-files/projects-files.sdk.ts
  packages/sdk/src/modules/dashboard/projects/dto/index.ts
  packages/sdk/src/modules/dashboard/projects/index.ts
  packages/sdk/src/modules/dashboard/projects/projects.sdk.ts
Labels: app: chat, package: sdk

feat(backend): add project embeddings endpoints
  apps/backend/src/modules/api/controllers/dashboard/projects.controller.ts
  apps/backend/src/modules/projects-embeddings/elasticsearch/projects-embeddings-es-index.repo.ts
  apps/backend/src/modules/projects-embeddings/elasticsearch/projects-embeddings-es-search.repo.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.firewall.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.repo.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.service.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.tables.ts
  packages/sdk/src/modules/dashboard/index.ts
  packages/sdk/src/modules/dashboard/projects-embeddings/dto/sdk-project-embedding.dto.ts
  packages/sdk/src/modules/dashboard/projects-embeddings/dto/sdk-search-project-embeddings.dto.ts
Labels: app: backend, package: sdk

feat(chat): add project embeddings inline tags
  apps/backend/src/modules/api/controllers/dashboard/projects.controller.ts
  apps/backend/src/modules/projects-embeddings/elasticsearch/projects-embeddings-es-index.repo.ts
  apps/backend/src/modules/projects-embeddings/elasticsearch/projects-embeddings-es-search.repo.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.firewall.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.service.ts
  apps/chat/src/modules/chats/conversation/content-parse/hydrate-result.ts
  apps/chat/src/modules/chats/conversation/content-parse/hydrate-with-projects-embeddings-badges.tsx
  apps/chat/src/modules/chats/conversation/content-parse/message-markdown.tsx
  apps/chat/src/modules/chats/conversation/content-parse/use-content-hydration.ts
  apps/chat/src/modules/chats/conversation/messages/chat-message-content.tsx
  apps/chat/src/modules/projects-embeddings/chat/index.ts
  apps/chat/src/modules/projects-embeddings/chat/project-embedding-chat-badge.tsx
  apps/chat/src/modules/projects-embeddings/index.ts
  packages/sdk/src/modules/dashboard/projects-embeddings/projects-embeddings.sdk.ts
Labels: app: backend, app: chat, package: sdk

feat(chat): add ability to open attached file
  apps/backend/src/modules/projects-embeddings/elasticsearch/projects-embeddings-es-index.repo.ts
  apps/backend/src/modules/projects-embeddings/elasticsearch/projects-embeddings-es-search.repo.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.repo.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.tables.ts
  apps/chat/src/index.scss
  apps/chat/src/modules/projects-embeddings/chat/project-embedding-chat-badge.tsx
  apps/chat/src/modules/projects-embeddings/chat/project-embedding-preview.tsx
  apps/chat/tailwind.config.ts
  packages/commons-front/src/helpers/index.ts
  packages/commons-front/src/helpers/merge-refs.tsx
  packages/commons-front/src/hooks/use-outside-click-ref.ts
  packages/sdk/src/modules/dashboard/projects-embeddings/dto/sdk-project-embedding.dto.ts
  packages/ui/src/components/balloon/balloon-button.tsx
  packages/ui/src/components/balloon/balloon-content.tsx
  packages/ui/src/components/balloon/index.ts
  packages/ui/src/components/balloon/use-balloon.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/i18n/packs/i18n-forwarded-en-pack.tsx
  packages/ui/src/i18n/packs/i18n-forwarded-pl-pack.tsx
Labels: app: backend, app: chat, package: commons-front, package: sdk, package: ui

feat(backend): add `.docx` support to analyze
  apps/backend/package.json
  apps/backend/src/modules/projects-embeddings/generators/base/ai-embedding-generator.ts
  apps/backend/src/modules/projects-embeddings/generators/docx-ai-embedding.generator.ts
  apps/backend/src/modules/projects-embeddings/generators/index.ts
  apps/backend/src/modules/projects-embeddings/generators/text-ai-embedding.generator.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.service.ts
  apps/backend/src/modules/projects-files/projects-files.service.ts
  apps/backend/src/modules/s3/s3.service.ts
  yarn.lock
Labels: app: backend

feat(backend): add support for `pdf`, `xls`, `xlsx` files
  apps/backend/Dockerfile
  apps/backend/package.json
  apps/backend/src/modules/api/helpers/reject-unsafe-sdk-errors.ts
  apps/backend/src/modules/projects-embeddings/generators/doc-ai-embedding.generator.ts
  apps/backend/src/modules/projects-embeddings/generators/docx-ai-embedding.generator.ts
  apps/backend/src/modules/projects-embeddings/generators/gnumeric-ai-embedding.generator.ts
  apps/backend/src/modules/projects-embeddings/generators/index.ts
  apps/backend/src/modules/projects-embeddings/generators/pdf-ai-embedding.generator.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.service.ts
  apps/chat/src/modules/projects/files/files-list-container.tsx
  yarn.lock
Labels: app: backend, app: chat

fix(backend): add dependencies that do not want XORG
  apps/backend/Dockerfile
  apps/backend/src/modules/projects-embeddings/generators/doc-ai-embedding.generator.ts
  apps/backend/src/modules/projects-embeddings/generators/index.ts
  apps/backend/src/modules/projects-embeddings/generators/xls-ai-embedding.generator.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.service.ts
Labels: app: backend

feat(backend): add support for `png`, `jpg`, `bmp`, `jpeg` image files analyze
  apps/backend/Dockerfile
  apps/backend/package.json
  apps/backend/src/modules/ai-connector/ai-connector.service.ts
  apps/backend/src/modules/projects-embeddings/generators/base/ai-embedding-generator.ts
  apps/backend/src/modules/projects-embeddings/generators/image-ai-embedding.generator.ts
  apps/backend/src/modules/projects-embeddings/generators/index.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.service.ts
  apps/backend/src/modules/projects-files/projects-files.service.ts
  apps/backend/src/modules/s3/s3.service.ts
  yarn.lock
Labels: app: backend

feat(backend): better way to describe images
  apps/backend/src/modules/projects-embeddings/generators/image-ai-embedding.generator.ts
Labels: app: backend

fix(backend): wrong catdoc dependency
  apps/backend/Dockerfile
Labels: app: backend

feat(chat): show used images
  apps/chat/src/modules/chats/conversation/content-parse/hydrate-with-projects-embeddings-badges.tsx
  apps/chat/src/modules/projects-embeddings/chat/index.ts
  apps/chat/src/modules/projects-embeddings/chat/project-embedding-chat-badge.tsx
  apps/chat/src/modules/projects-embeddings/chat/project-image-chat-badge.tsx
  apps/chat/src/modules/projects-embeddings/index.ts
  packages/commons/src/helpers/urls/index.ts
  packages/commons/src/helpers/urls/is-image-file-url.ts
Labels: app: chat, package: commons

feat(chat): improve image embeds
  apps/chat/src/modules/chats/conversation/content-parse/hydrate-with-projects-embeddings-badges.tsx
  apps/chat/src/modules/projects-embeddings/chat/project-embedding-preview.tsx
  apps/chat/src/modules/projects-embeddings/chat/project-image-chat-badge.tsx
Labels: app: chat

fix(chat): possible glitches in image rendering
  apps/chat/src/modules/chats/conversation/content-parse/hydrate-with-projects-embeddings-badges.tsx
Labels: app: chat

feat(chat): smarter matching images
  apps/backend/src/modules/projects-embeddings/generators/image-ai-embedding.generator.ts
  apps/chat/src/modules/projects-embeddings/chat/project-embedding-preview.tsx
Labels: app: backend, app: chat

feat(chat): smarter matching images
  apps/chat/src/modules/chats/conversation/content-parse/hydrate-with-projects-embeddings-badges.tsx
Labels: app: chat

feat(chat): batch display images
  apps/backend/src/modules/api/controllers/dashboard/projects.controller.ts
  apps/chat/src/modules/chats/conversation/content-parse/hydrate-with-projects-embeddings-badges.tsx
  apps/chat/src/modules/projects-embeddings/chat/index.ts
  apps/chat/src/modules/projects-embeddings/chat/project-image-chat-badge.tsx
  apps/chat/src/modules/projects-embeddings/chat/project-images-chat-badge.tsx
  apps/chat/src/modules/projects-embeddings/index.ts
Labels: app: backend, app: chat

fix(chat): ellipsis on badge
  apps/chat/src/modules/projects-embeddings/chat/project-embedding-chat-badge.tsx
Labels: app: chat

feat(backend): more aggresive embeddings generator
  apps/backend/src/modules/projects-embeddings/generators/text-ai-embedding.generator.ts
Labels: app: backend

fix(backend): make AI a little bit less lazy when matching project files
  apps/backend/src/modules/projects-embeddings/elasticsearch/projects-embeddings-es-search.repo.ts
  apps/backend/src/modules/projects-embeddings/helpers/create-relevant-embeddings-prompt.ts
  apps/backend/src/modules/projects-embeddings/helpers/group-embeddings.ts
  apps/backend/src/modules/projects-embeddings/helpers/index.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.service.ts
Labels: app: backend

fix(backend): better kNN query
  apps/backend/src/modules/projects-embeddings/elasticsearch/projects-embeddings-es-search.repo.ts
Labels: app: backend

fix(backend): improve prompt
  apps/backend/src/modules/projects-embeddings/helpers/create-relevant-embeddings-prompt.ts
Labels: app: backend

feat(backend): smarter file type deduction
  apps/backend/src/modules/projects-embeddings/generators/helpers/describe-embedding-type.ts
  apps/backend/src/modules/projects-embeddings/generators/helpers/index.ts
  apps/backend/src/modules/projects-embeddings/generators/helpers/split-text.ts
  apps/backend/src/modules/projects-embeddings/generators/helpers/wrap-embedding.ts
  apps/backend/src/modules/projects-embeddings/generators/text-ai-embedding.generator.ts
  apps/backend/src/modules/projects-embeddings/helpers/format-vector.ts
  apps/backend/src/modules/projects-embeddings/helpers/index.ts
  apps/backend/src/modules/projects-embeddings/mimetypes/index.ts
  apps/backend/src/modules/projects-embeddings/mimetypes/is-image-mimetype.ts
  apps/backend/src/modules/projects-embeddings/mimetypes/is-legacy-excel-mimetype.ts
  apps/backend/src/modules/projects-embeddings/mimetypes/is-legacy-word-mimetype.ts
  apps/backend/src/modules/projects-embeddings/mimetypes/is-pdf-mimetype.ts
  apps/backend/src/modules/projects-embeddings/mimetypes/is-xml-office-mimetype.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.service.ts
  apps/backend/src/modules/projects-embeddings/utils/index.ts
  packages/commons/src/helpers/urls/index.ts
  packages/commons/src/helpers/urls/is-document-file-url.ts
  packages/commons/src/helpers/urls/is-markdown-file-url.ts
  packages/commons/src/helpers/urls/is-presentation-file-url.ts
  packages/commons/src/helpers/urls/is-spreadsheet-file-url.ts
Labels: app: backend, package: commons

feat(backend): better image files search
  apps/backend/src/modules/ai-connector/ai-connector.service.ts
  apps/backend/src/modules/messages/helpers/create-action-buttons-prompt.ts
  apps/backend/src/modules/messages/helpers/create-attach-app-ai-message.ts
  apps/backend/src/modules/messages/helpers/index.ts
  apps/backend/src/modules/messages/messages.service.ts
  apps/backend/src/modules/projects-embeddings/elasticsearch/projects-embeddings-es-search.repo.ts
  apps/backend/src/modules/projects-embeddings/helpers/create-relevant-embeddings-prompt.ts
Labels: app: backend

fix(chat): better prompts handling
  apps/backend/src/modules/messages/helpers/create-action-buttons-prompt.ts
  apps/chat/src/modules/chats/conversation/chat-conversation-panel.tsx
  apps/chat/src/modules/chats/conversation/messages/chat-message-content.tsx
Labels: app: backend, app: chat

fix(backend): better placement action buttons
  apps/backend/src/modules/messages/helpers/create-action-buttons-prompt.ts
Labels: app: backend

fix(backend): better prompt again
  apps/backend/src/modules/messages/helpers/create-action-buttons-prompt.ts
  apps/backend/src/modules/projects-embeddings/helpers/create-relevant-embeddings-prompt.ts
Labels: app: backend

fix(backend): better prompt again
  apps/backend/src/modules/messages/helpers/create-action-buttons-prompt.ts
Labels: app: backend

fix(backend): better prompt again
  apps/backend/src/modules/projects-embeddings/helpers/create-relevant-embeddings-prompt.ts
Labels: app: backend

feat(backend): drop `s3_resources_images` table as it's no longer used
  apps/backend/src/migrations/0024-drop-unused-images-table.ts
  apps/backend/src/migrations/index.ts
  apps/backend/src/modules/database/database.tables.ts
  apps/backend/src/modules/s3/repo/index.ts
  apps/backend/src/modules/s3/repo/s3-resources-images.repo.ts
Labels: app: backend

fix(chat): incorrect padding on main textarea
  apps/chat/src/modules/chats/start-chat/start-chat-form.tsx
Labels: app: chat

feat(backend): add internal projects support
  apps/backend/src/migrations/0025-add-internal-projects-fields.ts
  apps/backend/src/migrations/index.ts
  apps/backend/src/modules/projects-files/projects-files.repo.ts
  apps/backend/src/modules/projects-files/projects-files.tables.ts
  apps/backend/src/modules/projects/elasticsearch/projects-es-index.repo.ts
  apps/backend/src/modules/projects/elasticsearch/projects-es-search.repo.ts
  apps/backend/src/modules/projects/projects.service.ts
  apps/backend/src/modules/projects/projects.tables.ts
Labels: app: backend

feat(sdk): add `files` to `SdkCreateMessageInputT`
  packages/sdk/src/modules/dashboard/messages/dto/sdk-create-message.dto.ts
Labels: package: sdk

feat(chat): add `files` cards list
  apps/backend/src/modules/projects-embeddings/projects-embeddings.service.ts
  apps/chat/src/modules/chats/conversation/chat-conversation-panel.tsx
  apps/chat/src/modules/chats/conversation/files/file-card.tsx
  apps/chat/src/modules/chats/conversation/files/files-cards-list.tsx
  apps/chat/src/modules/chats/conversation/files/index.ts
  apps/chat/src/modules/chats/conversation/files/select-chat-file.tsx
  apps/chat/src/modules/chats/conversation/index.ts
  apps/chat/src/modules/chats/start-chat/start-chat-form.tsx
  apps/chat/src/modules/chats/start-chat/use-start-chat-form.tsx
  apps/chat/src/modules/projects/files/use-file-upload.ts
  packages/commons/src/helpers/index.ts
  packages/commons/src/helpers/mimetypes/index.ts
  packages/commons/src/helpers/mimetypes/is-image-mimetype.ts
  packages/commons/src/helpers/mimetypes/is-legacy-excel-mimetype.ts
  packages/commons/src/helpers/mimetypes/is-legacy-word-mimetype.ts
  packages/commons/src/helpers/mimetypes/is-pdf-mimetype.ts
  packages/commons/src/helpers/mimetypes/is-xml-office-mimetype.ts
  packages/commons/src/helpers/urls/index.ts
  packages/commons/src/helpers/urls/is-pdf-file-url.ts
  packages/commons/src/helpers/urls/is-word-file-url.ts
Labels: app: backend, app: chat, package: commons

feat(chat): pass files to message
  apps/backend/src/modules/api/controllers/dashboard/chats.controller.ts
  apps/backend/src/modules/api/helpers/index.ts
  apps/backend/src/modules/api/helpers/try-extract-files.ts
  apps/chat/src/modules/chats/conversation/files/index.ts
  packages/sdk/src/modules/dashboard/chats/chats.sdk.ts
  packages/sdk/src/shared/errors/sdk-invalid-file-format.error.ts
  packages/sdk/src/shared/fetch/create-payload.ts
Labels: app: backend, app: chat, package: sdk

fix(sdk): wrong serialization of files payload
  apps/backend/src/modules/api/helpers/try-extract-files.ts
  apps/chat/src/modules/chats/conversation/hooks/use-reply-conversation-handler.tsx
  packages/sdk/src/shared/fetch/create-payload.ts
Labels: app: backend, app: chat, package: sdk

.github/labeler.yml:

'infra':
- changed-files:
  - any-glob-to-any-file: ['hetzner/**/*', 'config/**/*', 'infra/**/*', 'aws/**/*']

'ci':
- changed-files:
  - any-glob-to-any-file: ['.github/**/*']

'app: admin':
- changed-files:
  - any-glob-to-any-file: ['apps/admin/**/*']

'app: backend':
- changed-files:
  - any-glob-to-any-file: ['apps/backend/**/*']

'app: frontend':
- changed-files:
  - any-glob-to-any-file: ['apps/frontend/**/*']

'app: chat':
- changed-files:
  - any-glob-to-any-file: ['apps/chat/**/*']

'package: commons':
- changed-files:
  - any-glob-to-any-file: ['packages/commons/**/*']

'package: commons-front':
- changed-files:
  - any-glob-to-any-file: ['packages/commons-front/**/*']

'package: sdk':
- changed-files:
  - any-glob-to-any-file: ['packages/sdk/**/*']

'package: ui':
- changed-files:
  - any-glob-to-any-file: ['packages/ui/**/*']
