Repository DashHub-ai/DashHub, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, ci, app: backend, app: chat, package: commons, package: commons-front, package: sdk, package: ui

feat(chat): improve support for dropdowns at the bottom of the page
  apps/chat/src/ui/components/controls/select.tsx
Labels: app: chat

feat(chat): improve spacing of dropdowns
  apps/chat/src/ui/components/controls/select.tsx
Labels: app: chat

feat(chat): add ability to scroll while generating message
  apps/chat/src/modules/chats/conversation/chat-conversation-panel.tsx
  apps/chat/src/modules/chats/conversation/hooks/use-autofocus-conversation-input.tsx
Labels: app: chat

feat(chat): remove pagination from explore available agents
  apps/chat/src/modules/apps/promoted-apps/promoted-apps-container.tsx
  apps/chat/src/routes/home/home.route.tsx
Labels: app: chat

feat(chat): remove breadcrumbs
  apps/chat/src/layouts/parts/layout-header.tsx
  apps/chat/src/routes/apps/create/create-app.route.tsx
  apps/chat/src/routes/apps/update/update-app.route.tsx
  apps/chat/src/routes/chat/chat.route.tsx
  apps/chat/src/routes/project/project.route.tsx
Labels: app: chat

feat(chat): restore navigation on chats
  apps/chat/src/layouts/navigation/links/navigation-links.tsx
  apps/chat/src/layouts/navigation/navigation.tsx
  apps/chat/tailwind.config.ts
Labels: app: chat

feat(chat): add support for toggling sidebar sections
  apps/chat/src/layouts/sidebar/index.ts
  apps/chat/src/layouts/sidebar/section/index.ts
  apps/chat/src/layouts/sidebar/section/sidebar-section.tsx
  apps/chat/src/layouts/sidebar/section/use-sidebar-sections-storage.tsx
  apps/chat/src/layouts/sidebar/sidebar-section.tsx
  apps/chat/src/layouts/sidebar/sidebar.tsx
  apps/chat/src/modules/apps/sidebar/favorite-apps-sidebar-section.tsx
  apps/chat/src/modules/chats/sidebar/chats-history-sidebar-section.tsx
  apps/chat/src/modules/chats/sidebar/favorite-chats-sidebar-section.tsx
  apps/chat/src/modules/projects/sidebar/projects-history-sidebar-section.tsx
Labels: app: chat

feat(chat): collapse projects history by default
  apps/chat/src/modules/projects/sidebar/projects-history-sidebar-section.tsx
Labels: app: chat

feat(chat): adjust homepage CTA
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/apps/promoted-apps/promoted-apps-container.tsx
  apps/chat/src/routes/home/home.route.tsx
Labels: app: chat

feat(chat): add decorations to homepage
  apps/chat/src/layouts/page-with-sidebar.layout.tsx
  apps/chat/src/layouts/parts/index.ts
  apps/chat/src/layouts/parts/layout-background-decorations.tsx
  apps/chat/src/routes/home/home.route.tsx
Labels: app: chat

feat(chat): add more decorations
  apps/chat/src/routes/home/animated-gradient-title.tsx
  apps/chat/src/routes/home/home.route.tsx
  apps/chat/tailwind.config.ts
Labels: app: chat

feat(chat): improve cards style
  apps/chat/src/ui/components/card/card-action-buttons.tsx
  apps/chat/src/ui/components/card/card-actions.tsx
  apps/chat/src/ui/components/card/card-base.tsx
  apps/chat/src/ui/components/card/card-skeleton.tsx
  apps/chat/src/ui/components/card/card-title.tsx
Labels: app: chat

fix(chat): improve spacings
  apps/chat/src/routes/home/home.route.tsx
Labels: app: chat

fix(chat): no more decorations
  apps/chat/src/layouts/page-with-sidebar.layout.tsx
  apps/chat/src/layouts/parts/index.ts
  apps/chat/src/layouts/parts/layout-background-decorations.tsx
Labels: app: chat

fix(chat): better align sidebar items
  apps/chat/src/layouts/sidebar/section/sidebar-section.tsx
Labels: app: chat

feat(chat): add copy button
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/chats/conversation/messages/actions/chat-message-ai-actions.tsx
  apps/chat/src/modules/chats/conversation/messages/actions/chat-message-copy-action.tsx
  apps/chat/src/modules/chats/conversation/messages/actions/chat-message-pin-action.tsx
  apps/chat/src/modules/chats/conversation/messages/actions/index.ts
  apps/chat/src/modules/chats/conversation/messages/chat-message.tsx
  apps/chat/src/modules/chats/conversation/messages/index.ts
Labels: app: chat

fix(chat): reduce heading gap
  apps/chat/src/layouts/page-with-sidebar.layout.tsx
  apps/chat/src/modules/chats/conversation/chat-conversation-with-sidebar.tsx
  apps/chat/src/routes/chat/chat.route.tsx
Labels: app: chat

fix(chat): improve choose app modal width
  apps/chat/src/modules/apps/choose-app/choose-app-modal.tsx
Labels: app: chat

feat(backend): add apps chat index field
  apps/backend/src/modules/chats/chats.repo.ts
  apps/backend/src/modules/chats/chats.tables.ts
  apps/backend/src/modules/chats/elasticsearch/chats-es-index.repo.ts
Labels: app: backend

feat(backend): add recently used sort to apps search
  apps/backend/src/modules/apps/apps.firewall.ts
  apps/backend/src/modules/apps/apps.repo.ts
  apps/backend/src/modules/apps/elasticsearch/apps-es-search.repo.ts
  packages/sdk/src/modules/dashboard/apps/dto/sdk-search-apps.dto.ts
Labels: app: backend, package: sdk

feat(backend): add `recentChats` field to result
  apps/backend/src/modules/apps/apps.repo.ts
  apps/backend/src/modules/apps/elasticsearch/apps-es-search.repo.ts
  apps/chat/src/modules/apps/grid/apps-container.tsx
  packages/sdk/src/modules/dashboard/apps/dto/sdk-app.dto.ts
  packages/sdk/src/modules/dashboard/apps/dto/sdk-search-apps.dto.ts
Labels: app: backend, app: chat, package: sdk

feat(chat): add working apps history sidebar section
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/layouts/page-with-sidebar.layout.tsx
  apps/chat/src/modules/apps/sidebar/apps-history-sidebar-section.tsx
  apps/chat/src/modules/apps/sidebar/index.ts
  apps/chat/src/routes/use-sitemap.tsx
  packages/sdk/src/modules/dashboard/apps/dto/sdk-create-app.dto.ts
  packages/sdk/src/modules/dashboard/apps/dto/sdk-update-app.dto.ts
Labels: app: chat, package: sdk

feat(chat): smarter loading of sidebar links sections
  apps/chat/src/modules/apps/sidebar/apps-history-sidebar-section.tsx
  apps/chat/src/modules/apps/sidebar/favorite-apps-sidebar-section.tsx
  apps/chat/src/modules/chats/sidebar/chats-history-sidebar-section.tsx
  apps/chat/src/modules/chats/sidebar/favorite-chats-sidebar-section.tsx
  apps/chat/src/modules/projects/sidebar/projects-history-sidebar-section.tsx
Labels: app: chat

feat(chat): add favorite star buttons to recent chats
  apps/chat/src/layouts/sidebar/links/sidebar-links.tsx
  apps/chat/src/modules/apps/sidebar/apps-history-sidebar-section.tsx
  apps/chat/src/modules/apps/sidebar/favorite-apps-sidebar-section.tsx
  apps/chat/src/modules/chats/sidebar/chats-history-sidebar-section.tsx
  apps/chat/src/modules/chats/sidebar/favorite-chats-sidebar-section.tsx
Labels: app: chat

feat(chat): add headings decorations
  apps/chat/src/layouts/footer/footer.tsx
  apps/chat/src/layouts/navigation/navigation.tsx
  apps/chat/src/layouts/page-with-sidebar.layout.tsx
  apps/chat/src/layouts/parts/layout-header.tsx
  apps/chat/src/modules/chats/conversation/chat-conversation-with-sidebar.tsx
  apps/chat/src/routes/chat/chat.route.tsx
  apps/chat/src/routes/home/animated-gradient-title.tsx
  apps/chat/src/routes/home/home.route.tsx
  apps/chat/tailwind.config.ts
Labels: app: chat

feat(chat): add recently used category
  apps/backend/src/modules/apps/elasticsearch/apps-es-search.repo.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/apps/grid/apps-container.tsx
  apps/chat/src/modules/apps/grid/apps-sidebar.tsx
  packages/sdk/src/modules/dashboard/apps/dto/sdk-search-apps.dto.ts
Labels: app: backend, app: chat, package: sdk

feat(chat): add apps cta buttons
  apps/backend/src/modules/apps/apps.repo.ts
  apps/backend/src/modules/apps/elasticsearch/apps-es-search.repo.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/apps/grid/app-card.tsx
  apps/chat/src/ui/components/card/card-big-action-buttons.tsx
  apps/chat/src/ui/components/card/card-big-actions.tsx
  apps/chat/src/ui/components/card/index.ts
Labels: app: backend, app: chat

fix(chat): intercepting events after click star
  apps/chat/src/modules/apps/promoted-apps/promoted-apps-container.tsx
  apps/chat/src/modules/favorites/favorite-star-button.tsx
  apps/chat/src/ui/components/card/card-big-action-buttons.tsx
Labels: app: chat

feat(chat): update docs
  README.md
  screens/agents.png
Labels: none

feat(chat): improve header breakpoints
  apps/chat/src/layouts/navigation/links/navigation-item.tsx
  apps/chat/src/layouts/navigation/links/navigation-links.tsx
  apps/chat/src/layouts/navigation/navigation.tsx
  apps/chat/src/modules/apps/grid/apps-container.tsx
Labels: app: chat

feat(chat): better icon align
  apps/chat/src/layouts/navigation/links/navigation-item.tsx
Labels: app: chat

feat(chat): improve linking recent agents
  apps/chat/src/modules/apps/sidebar/apps-history-sidebar-section.tsx
Labels: app: chat

feat(chat): add new chat sidebar button
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/layouts/page-with-sidebar.layout.tsx
  apps/chat/src/layouts/sidebar/sidebar.tsx
  apps/chat/src/modules/chats/sidebar/index.ts
  apps/chat/src/modules/chats/sidebar/new-chat-sidebar-button.tsx
  apps/chat/src/modules/chats/start-chat/use-start-chat-form.tsx
Labels: app: chat

feat(chat): allow to unlike chat from sidebar
  apps/chat/src/modules/chats/sidebar/favorite-chats-sidebar-section.tsx
Labels: app: chat

feat(chat): add favorite chat button to sidebar
  apps/chat/src/modules/apps/sidebar/favorite-apps-sidebar-section.tsx
Labels: app: chat

feat(chat): add favorites and recently used to home
  apps/backend/src/modules/apps/elasticsearch/apps-es-search.repo.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/apps/grid/apps-sidebar.tsx
  apps/chat/src/modules/apps/promoted-apps/promoted-apps-container.tsx
  apps/chat/src/ui/components/selectable-badges/index.ts
  apps/chat/src/ui/components/selectable-badges/selectable-badge-item.tsx
  apps/chat/src/ui/components/selectable-badges/selectable-badges.tsx
Labels: app: backend, app: chat

feat(chat): add divider
  apps/chat/src/layouts/page-with-sidebar.layout.tsx
Labels: app: chat

feat(chat): add optimistic favorites agents deduction on homepage
  apps/chat/src/modules/apps/promoted-apps/promoted-apps-container.tsx
  packages/commons-front/src/hooks/use-sync-storage-object.ts
  packages/sdk/src/react-integration/favorites/hooks/index.ts
  packages/sdk/src/react-integration/favorites/hooks/use-sdk-optimistic-favorites-count.ts
  packages/sdk/src/react-integration/favorites/sdk-favorites-provider.tsx
Labels: app: chat, package: commons-front, package: sdk

fix(chat): improve favorites optimistic counter
  apps/chat/src/modules/apps/promoted-apps/promoted-apps-container.tsx
  packages/sdk/src/react-integration/favorites/hooks/use-sdk-on-favorite-action.ts
  packages/sdk/src/react-integration/favorites/hooks/use-sdk-optimistic-favorites-count.ts
  packages/sdk/src/react-integration/favorites/sdk-favorites-provider.tsx
Labels: app: chat, package: sdk

fix(chat): improve grid
  apps/chat/src/modules/apps/grid/apps-container.tsx
Labels: app: chat

.github/labeler.yml:

'infra':
- changed-files:
  - any-glob-to-any-file: ['hetzner/**/*', 'config/**/*', 'infra/**/*', 'aws/**/*']

'ci':
- changed-files:
  - any-glob-to-any-file: ['.github/**/*']

'app: backend':
- changed-files:
  - any-glob-to-any-file: ['apps/backend/**/*']

'app: chat':
- changed-files:
  - any-glob-to-any-file: ['apps/chat/**/*']

'package: commons':
- changed-files:
  - any-glob-to-any-file: ['packages/commons/**/*']

'package: commons-front':
- changed-files:
  - any-glob-to-any-file: ['packages/commons-front/**/*']

'package: sdk':
- changed-files:
  - any-glob-to-any-file: ['packages/sdk/**/*']

'package: ui':
- changed-files:
  - any-glob-to-any-file: ['packages/ui/**/*']
