Repository DashHub-ai/DashHub, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, ci, app: admin, app: backend, app: frontend, app: chat, package: commons, package: commons-front, package: sdk, package: ui

.github/labeler.yml:

'infra':
- changed-files:
  - any-glob-to-any-file: ['hetzner/**/*', 'config/**/*', 'infra/**/*', 'aws/**/*']

'ci':
- changed-files:
  - any-glob-to-any-file: ['.github/**/*']

'app: admin':
- changed-files:
  - any-glob-to-any-file: ['apps/admin/**/*']

'app: backend':
- changed-files:
  - any-glob-to-any-file: ['apps/backend/**/*']

'app: frontend':
- changed-files:
  - any-glob-to-any-file: ['apps/frontend/**/*']

'app: chat':
- changed-files:
  - any-glob-to-any-file: ['apps/chat/**/*']

'package: commons':
- changed-files:
  - any-glob-to-any-file: ['packages/commons/**/*']

'package: commons-front':
- changed-files:
  - any-glob-to-any-file: ['packages/commons-front/**/*']

'package: sdk':
- changed-files:
  - any-glob-to-any-file: ['packages/sdk/**/*']

'package: ui':
- changed-files:
  - any-glob-to-any-file: ['packages/ui/**/*']

feat(chat): improve spacing
  apps/chat/src/modules/chats/conversation/chat-conversation-with-sidebar.tsx
  apps/chat/src/modules/projects/grid/project-card.tsx
  apps/chat/src/routes/chat/chat.route.tsx
  packages/ui/src/components/collapsible-panel.tsx
Labels: app: chat, package: ui

feat(backend): add projects embedding firewall
  apps/backend/src/modules/api/controllers/dashboard/projects.controller.ts
  apps/backend/src/modules/projects-embeddings/elasticsearch/projects-embeddings-es-index.repo.ts
  apps/backend/src/modules/projects-embeddings/elasticsearch/projects-embeddings-es-search.repo.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.firewall.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.repo.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.service.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.tables.ts
  apps/backend/src/modules/projects/projects.service.ts
  packages/sdk/src/modules/dashboard/projects-embeddings/dto/sdk-project-embedding.dto.ts
  packages/sdk/src/modules/dashboard/projects-embeddings/dto/sdk-search-project-embeddings.dto.ts
Labels: app: backend, package: sdk

feat(chat): hide management layout navigation entry unless tech
  apps/chat/src/layouts/navigation/links/navigation-links.tsx
Labels: app: chat

feat(chat): show only your chats on home screen of root account
  apps/backend/src/modules/chats/chats.firewall.ts
  apps/backend/src/modules/chats/chats.service.ts
  apps/backend/src/modules/chats/elasticsearch/chats-es-search.repo.ts
  apps/backend/src/modules/projects/projects.service.ts
  apps/chat/src/modules/chats/grid/chats-container.tsx
  apps/chat/src/modules/chats/history/chats-history-section.tsx
  packages/sdk/src/modules/dashboard/chats/dto/sdk-search-chats.dto.ts
Labels: app: backend, app: chat, package: sdk

feat(backend): improve permissions
  apps/backend/src/modules/chats/chats.firewall.ts
  apps/backend/src/modules/permissions/permissions.firewall.ts
  apps/backend/src/modules/projects/elasticsearch/projects-es-search.repo.ts
  apps/backend/src/modules/projects/projects.firewall.ts
  packages/sdk/src/modules/dashboard/projects/dto/sdk-project.dto.ts
Labels: app: backend, package: sdk

fix(backend): incorrect input of project
  packages/sdk/src/modules/dashboard/projects/dto/sdk-create-project.dto.ts
Labels: package: sdk

fix(chat): crashes in workspace selector
  apps/backend/src/modules/users-groups/users-groups.firewall.ts
  apps/chat/src/layouts/navigation/navigation-workspace-selector.tsx
Labels: app: backend, app: chat

fix(chat): incorrect breadcrumbs
  apps/chat/src/routes/chat/chat.route.tsx
Labels: app: chat

feat(chat): init base layout for project content
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/index.ts
  apps/chat/src/modules/permissions/index.ts
  apps/chat/src/modules/permissions/list/index.ts
  apps/chat/src/modules/permissions/list/permission-avatars-list.tsx
  apps/chat/src/modules/permissions/list/permission-group-avatar.tsx
  apps/chat/src/modules/permissions/list/permission-user-avatar.tsx
  apps/chat/src/modules/permissions/share-resource/index.ts
  apps/chat/src/modules/permissions/share-resource/share-resource-button.tsx
  apps/chat/src/modules/permissions/share-resource/share-resource-form-modal.tsx
  apps/chat/src/modules/permissions/share-resource/use-share-resource-form.tsx
  apps/chat/src/modules/permissions/share-resource/use-share-resource-modal.tsx
  apps/chat/src/routes/project/project-content.tsx
  packages/ui/package.json
  packages/ui/src/components/avatar/avatar.tsx
  packages/ui/src/components/avatar/index.ts
  packages/ui/src/components/index.ts
  packages/ui/src/components/tooltip/index.ts
  packages/ui/src/components/tooltip/tooltip.tsx
  yarn.lock
Labels: app: chat, package: ui

feat(chat): change layout of project route, add share button
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/permissions/share-resource/share-resource-button.tsx
  apps/chat/src/modules/projects/files/project-files-list-container.tsx
  apps/chat/src/routes/project/project-content.tsx
  packages/ui/src/components/form/form-spinner-cta.tsx
Labels: app: chat, package: ui

feat(chat): init share modal
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/permissions/share-resource/share-resource-button.tsx
  apps/chat/src/modules/permissions/share-resource/share-resource-form-modal.tsx
Labels: app: chat

feat(backend): add share resource endpoints
  apps/backend/src/modules/api/controllers/dashboard/dashboard.controller.ts
  apps/backend/src/modules/api/controllers/dashboard/index.ts
  apps/backend/src/modules/api/controllers/dashboard/share-resource.controller.ts
  apps/backend/src/modules/projects/projects.service.ts
  apps/backend/src/modules/share-resource/index.ts
  apps/backend/src/modules/share-resource/share-resource.firewall.ts
  apps/backend/src/modules/share-resource/share-resource.service.ts
  apps/backend/src/modules/users-groups/elasticsearch/users-groups-es-index.repo.ts
  apps/backend/src/modules/users-groups/elasticsearch/users-groups-es-search.repo.ts
  apps/chat/src/modules/permissions/share-resource/share-resource-button.tsx
  apps/chat/src/routes/project/project-content.tsx
  packages/sdk/src/modules/dashboard/dashboard.sdk.ts
  packages/sdk/src/modules/dashboard/index.ts
  packages/sdk/src/modules/dashboard/share-resource/dto/index.ts
  packages/sdk/src/modules/dashboard/share-resource/dto/sdk-search-share-resource-users-groups.dto.ts
  packages/sdk/src/modules/dashboard/share-resource/index.ts
  packages/sdk/src/modules/dashboard/share-resource/share-resource.dto.ts
  packages/sdk/src/modules/dashboard/users-groups/dto/sdk-search-users-groups.dto.ts
Labels: app: backend, app: chat, package: sdk

feat(chat): add users autocomplete
  apps/backend/src/modules/api/controllers/dashboard/share-resource.controller.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/permissions/share-resource/autocomplete/dropdown-content.tsx
  apps/chat/src/modules/permissions/share-resource/autocomplete/index.ts
  apps/chat/src/modules/permissions/share-resource/autocomplete/parts/autocomplete-group-item.tsx
  apps/chat/src/modules/permissions/share-resource/autocomplete/parts/autocomplete-user-item.tsx
  apps/chat/src/modules/permissions/share-resource/autocomplete/parts/choose-button.tsx
  apps/chat/src/modules/permissions/share-resource/autocomplete/parts/index.ts
  apps/chat/src/modules/permissions/share-resource/autocomplete/search-users-groups-input.tsx
  apps/chat/src/modules/permissions/share-resource/share-resource-form-modal.tsx
  packages/sdk/src/modules/dashboard/share-resource/share-resource.dto.ts
  packages/ui/src/i18n/packs/i18n-forwarded-en-pack.tsx
  packages/ui/src/i18n/packs/i18n-forwarded-pl-pack.tsx
Labels: app: backend, app: chat, package: sdk, package: ui

feat(backend): add user name
  apps/admin/src/i18n/packs/i18n-lang-en.ts
  apps/admin/src/i18n/packs/i18n-lang-pl.ts
  apps/admin/src/layouts/navigation/logged-in/logged-in-user-item.tsx
  apps/admin/src/modules/users/form/shared/user-shared-form-fields.tsx
  apps/admin/src/modules/users/form/update/user-update-form-modal.tsx
  apps/admin/src/modules/users/table/users-table-container.tsx
  apps/backend/src/migrations/0033-add-name-to-users.ts
  apps/backend/src/migrations/index.ts
  apps/backend/src/modules/auth/services/auth-jwt.service.ts
  apps/backend/src/modules/messages/messages.repo.ts
  apps/backend/src/modules/users-groups/repo/users-groups.repo.ts
  apps/backend/src/modules/users/elasticsearch/users-es-index.repo.ts
  apps/backend/src/modules/users/elasticsearch/users-es-search.repo.ts
  apps/backend/src/modules/users/users.boot.ts
  apps/backend/src/modules/users/users.repo.ts
  apps/backend/src/modules/users/users.tables.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/layouts/navigation/logged-in/logged-in-user-item.tsx
  apps/chat/src/modules/chats/conversation/hooks/use-optimistic-response-creator.tsx
  apps/chat/src/modules/users/form/create/use-user-create-form.tsx
  apps/chat/src/modules/users/form/shared/user-shared-form-fields.tsx
  apps/chat/src/modules/users/form/update/use-user-update-form.tsx
  apps/chat/src/modules/users/form/update/user-update-form-modal.tsx
  apps/chat/src/modules/users/table/users-table-container.tsx
  packages/sdk/src/modules/auth/dto/sdk-jwt.dto.ts
  packages/sdk/src/modules/dashboard/users/dto/sdk-create-user.dto.ts
  packages/sdk/src/modules/dashboard/users/dto/sdk-update-user.dto.ts
  packages/sdk/src/modules/dashboard/users/dto/sdk-user-list-item.dto.ts
  packages/sdk/src/modules/dashboard/users/dto/sdk-user.dto.ts
Labels: app: admin, app: backend, app: chat, package: sdk

fix(backend): improve typings
  apps/backend/src/modules/chats/chats.repo.ts
  apps/backend/src/modules/messages/elasticsearch/messages-es-search.repo.ts
  apps/backend/src/modules/permissions/permissions.repo.ts
  apps/backend/src/modules/permissions/record-protection/map-raw-json-agg-relation-to-sdk-permissions.ts
  apps/backend/src/modules/share-resource/share-resource.service.ts
  apps/chat/src/modules/permissions/share-resource/autocomplete/parts/autocomplete-user-item.tsx
Labels: app: backend, app: chat

feat(chat): add user selector anim
  apps/backend/src/modules/projects/projects.repo.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/index.scss
  apps/chat/src/modules/permissions/share-resource/autocomplete/dropdown-content.tsx
  apps/chat/src/modules/permissions/share-resource/autocomplete/parts/autocomplete-group-item.tsx
  apps/chat/src/modules/permissions/share-resource/autocomplete/parts/autocomplete-user-item.tsx
  apps/chat/src/modules/permissions/share-resource/autocomplete/parts/choose-button.tsx
  apps/chat/tailwind.config.ts
Labels: app: backend, app: chat

feat(chat): add basic users / groups permissions selector
  apps/backend/src/modules/chats/chats.repo.ts
  apps/backend/src/modules/permissions/record-protection/map-raw-json-agg-relation-to-sdk-permissions.ts
  apps/backend/src/modules/projects/projects.repo.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/permissions/share-resource/autocomplete/dropdown-content.tsx
  apps/chat/src/modules/permissions/share-resource/autocomplete/search-users-groups-input.tsx
  apps/chat/src/modules/permissions/share-resource/list/index.ts
  apps/chat/src/modules/permissions/share-resource/list/parts/index.ts
  apps/chat/src/modules/permissions/share-resource/list/parts/permission-group-item.tsx
  apps/chat/src/modules/permissions/share-resource/list/parts/permission-owner-item.tsx
  apps/chat/src/modules/permissions/share-resource/list/parts/permission-user-item.tsx
  apps/chat/src/modules/permissions/share-resource/list/resource-permissions-list.tsx
  apps/chat/src/modules/permissions/share-resource/share-resource-button.tsx
  apps/chat/src/modules/permissions/share-resource/share-resource-form-modal.tsx
  apps/chat/src/modules/permissions/share-resource/use-share-resource-modal.tsx
  apps/chat/src/routes/project/project-content.tsx
  packages/sdk/src/modules/dashboard/permissions/dto/sdk-permission-target.dto.ts
  packages/sdk/src/modules/dashboard/permissions/dto/sdk-permission.dto.ts
Labels: app: backend, app: chat, package: sdk

feat(chat): add access level controls
  apps/backend/src/modules/messages/messages.repo.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/permissions/controls/access-level-select.tsx
  apps/chat/src/modules/permissions/controls/index.ts
  apps/chat/src/modules/permissions/controls/permission-checkboxes.tsx
  apps/chat/src/modules/permissions/share-resource/list/parts/permission-user-item.tsx
  apps/chat/src/modules/permissions/share-resource/list/resource-permissions-list.tsx
  apps/chat/src/modules/permissions/share-resource/share-resource-form-modal.tsx
Labels: app: backend, app: chat

feat(chat): basic sharing works
  apps/backend/src/modules/apps/apps.firewall.ts
  apps/backend/src/modules/chats/chats.firewall.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.firewall.ts
  apps/backend/src/modules/projects/projects.firewall.ts
  apps/backend/src/modules/share-resource/share-resource.service.ts
  apps/backend/src/modules/users/elasticsearch/users-es-search.repo.ts
  apps/chat/src/modules/permissions/list/permission-avatars-list.tsx
  apps/chat/src/modules/permissions/list/permission-user-avatar.tsx
  apps/chat/src/modules/permissions/share-resource/list/parts/permission-group-item.tsx
  apps/chat/src/modules/permissions/share-resource/list/parts/permission-user-item.tsx
  apps/chat/src/modules/permissions/share-resource/list/resource-permissions-list.tsx
  apps/chat/src/modules/projects/form/update/project-update-form-modal.tsx
  apps/chat/src/routes/project/project-content.tsx
  apps/chat/src/routes/project/project.route.tsx
  packages/commons-front/src/hooks/use-async-callback.ts
  packages/commons-front/src/hooks/use-async-value.ts
  packages/sdk/src/modules/dashboard/permissions/dto/drop-sdk-permissions-key.ts
  packages/sdk/src/modules/dashboard/projects/dto/sdk-update-project.dto.ts
  packages/sdk/src/modules/dashboard/users/dto/sdk-search-users.dto.ts
  packages/ui/src/components/avatar/colorized-avatar.tsx
  packages/ui/src/components/avatar/index.ts
Labels: app: backend, app: chat, package: commons-front, package: sdk, package: ui

feat(backend): prevent duplication of assigned users to permissions
  apps/backend/src/modules/chats/chats.repo.ts
  apps/backend/src/modules/messages/messages.repo.ts
  apps/backend/src/modules/permissions/record-protection/index.ts
  apps/backend/src/modules/permissions/record-protection/prepend-creator-if-non-public-permissions.ts
  apps/backend/src/modules/projects/projects.repo.ts
  packages/sdk/src/modules/dashboard/permissions/dto/index.ts
  packages/sdk/src/modules/dashboard/permissions/guards/index.ts
  packages/sdk/src/modules/dashboard/permissions/guards/is-sdk-public-permissions.ts
  packages/sdk/src/modules/dashboard/permissions/helpers/drop-sdk-permissions-key.ts
  packages/sdk/src/modules/dashboard/permissions/helpers/find-sdk-permission-by-id.ts
  packages/sdk/src/modules/dashboard/permissions/helpers/index.ts
  packages/sdk/src/modules/dashboard/permissions/index.ts
Labels: app: backend, package: sdk

feat(chat): improve share button styles
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/permissions/index.ts
  apps/chat/src/modules/permissions/list/permission-avatars-list.tsx
  apps/chat/src/modules/permissions/list/permission-user-avatar.tsx
  apps/chat/src/modules/permissions/share-resource/share-resource-button.tsx
  apps/chat/src/modules/permissions/status/index.ts
  apps/chat/src/modules/permissions/status/permissions-status-icon.tsx
  apps/chat/src/modules/projects/files/project-files-list-container.tsx
  apps/chat/src/routes/project/project-content.tsx
  packages/ui/src/components/tooltip/tooltip.tsx
Labels: app: chat, package: ui

feat(backend): improve prompts about files and actions
  apps/backend/src/modules/messages/helpers/create-action-buttons-prompt.ts
  apps/backend/src/modules/projects-embeddings/helpers/create-relevant-embeddings-prompt.ts
  apps/chat/src/modules/chats/conversation/input-toolbar/chat-input-toolbar.tsx
Labels: app: backend, app: chat

feat(chat): add toggling public access of project
  apps/backend/src/modules/projects-embeddings/helpers/create-relevant-embeddings-prompt.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/permissions/list/permission-user-avatar.tsx
  apps/chat/src/modules/permissions/share-resource/share-resource-form-modal.tsx
Labels: app: backend, app: chat

feat(chat): add permission card avatars
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/permissions/card/card-record-permissions.tsx
  apps/chat/src/modules/permissions/card/card-record-public.tsx
  apps/chat/src/modules/permissions/card/card-record-shared-with.tsx
  apps/chat/src/modules/permissions/card/index.ts
  apps/chat/src/modules/permissions/index.ts
  apps/chat/src/modules/permissions/list/permission-avatars-list.tsx
  apps/chat/src/modules/permissions/list/permission-group-avatar.tsx
  apps/chat/src/modules/permissions/list/permission-user-avatar.tsx
  apps/chat/src/modules/permissions/status/permissions-status-icon.tsx
  apps/chat/src/modules/projects/grid/project-card.tsx
  packages/ui/src/components/avatar/avatar.tsx
  packages/ui/src/components/avatar/colorized-avatar.tsx
Labels: app: chat, package: ui

feat(chat): add share button
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/chats/grid/chat-card.tsx
  apps/chat/src/modules/permissions/card/card-record-creator.tsx
  apps/chat/src/modules/permissions/card/card-record-permissions-rows.tsx
  apps/chat/src/modules/permissions/card/index.ts
  apps/chat/src/modules/permissions/card/shared-with/card-record-permissions.tsx
  apps/chat/src/modules/permissions/card/shared-with/card-record-public.tsx
  apps/chat/src/modules/permissions/card/shared-with/card-record-shared-with.tsx
  apps/chat/src/modules/permissions/card/shared-with/index.ts
  apps/chat/src/modules/projects/grid/project-card.tsx
  packages/ui/src/components/card/card-content.tsx
  packages/ui/src/components/card/index.ts
Labels: app: chat, package: ui

feat(chat): improve button styles
  apps/chat/src/modules/chats/conversation/config-panel/use-chat-config-form.tsx
  apps/chat/src/modules/permissions/card/card-record-creator.tsx
  apps/chat/src/routes/chat/chat.route.tsx
  apps/chat/src/routes/chat/share-chat-row.tsx
  apps/chat/src/routes/project/project-content.tsx
  packages/sdk/src/modules/dashboard/chats/dto/sdk-create-chat.dto.ts
  packages/sdk/src/modules/dashboard/chats/dto/sdk-update-chat.dto.ts
  packages/ui/src/components/card/card-content.tsx
  packages/ui/src/components/card/card-description.tsx
  packages/ui/src/components/card/card-footer.tsx
  packages/ui/src/components/card/card-title.tsx
Labels: app: chat, package: sdk, package: ui

feat(backend): better enforcing of permissions
  apps/backend/src/modules/chats/chats.firewall.ts
  apps/backend/src/modules/chats/chats.repo.ts
  apps/backend/src/modules/messages/messages.firewall.ts
  apps/backend/src/modules/messages/messages.repo.ts
  apps/backend/src/modules/permissions/permissions.firewall.ts
  apps/backend/src/modules/permissions/record-protection/create-es-permissions-filters.ts
  apps/backend/src/modules/permissions/record-protection/index.ts
  apps/backend/src/modules/permissions/record-protection/permissions-row-protection-filters.types.ts
  apps/chat/src/routes/project/project-content.tsx
  apps/chat/src/routes/project/project-share-row.tsx
  apps/chat/src/routes/project/project.route.tsx
  packages/sdk/src/modules/dashboard/permissions/guards/index.ts
  packages/sdk/src/modules/dashboard/permissions/guards/is-sdk-permission-matching.ts
Labels: app: backend, app: chat, package: sdk

feat(chat): add apps permissions
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/apps-creator/creator/app-create-form-modal.tsx
  apps/chat/src/modules/apps-creator/creator/use-app-create-form.tsx
  apps/chat/src/modules/apps-creator/creator/use-app-create-modal.tsx
  apps/chat/src/modules/apps-creator/shared/app-shared-form-fields.tsx
  apps/chat/src/modules/apps-creator/update/app-update-form-modal.tsx
  apps/chat/src/modules/apps-creator/update/use-app-update-form.tsx
  apps/chat/src/modules/apps/grid/app-card.tsx
  apps/chat/src/modules/permissions/share-resource/index.ts
  apps/chat/src/modules/permissions/share-resource/list/resource-permissions-list.tsx
  apps/chat/src/modules/permissions/share-resource/share-resource-form-group.tsx
  apps/chat/src/modules/permissions/share-resource/share-resource-form-modal.tsx
  apps/chat/src/routes/apps/apps.route.tsx
Labels: app: chat

feat(chat): add logged as bar
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/layouts/navigation/navigation-logged-as-bar.tsx
  apps/chat/src/layouts/navigation/navigation.tsx
Labels: app: chat

feat(chat): basic sharing works
  apps/backend/src/modules/apps/apps.firewall.ts
  apps/backend/src/modules/chats/chats.firewall.ts
  apps/backend/src/modules/permissions/permissions.firewall.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.firewall.ts
  apps/backend/src/modules/projects/projects.firewall.ts
  apps/chat/src/modules/apps/grid/app-card.tsx
  apps/chat/src/modules/chats/conversation/chat-conversation-panel.tsx
  apps/chat/src/modules/chats/conversation/chat-conversation-with-sidebar.tsx
  apps/chat/src/modules/chats/conversation/messages/chat-message.tsx
  apps/chat/src/modules/chats/grid/chat-card.tsx
  apps/chat/src/modules/permissions/card/shared-with/card-record-permissions.tsx
  apps/chat/src/modules/projects/files/project-file-card.tsx
  apps/chat/src/modules/projects/files/project-files-list-container.tsx
  apps/chat/src/modules/projects/grid/project-card.tsx
  apps/chat/src/modules/projects/grid/projects-container.tsx
  apps/chat/src/routes/chat/chat.route.tsx
  apps/chat/src/routes/project/project-content.tsx
  packages/sdk/src/modules/dashboard/permissions/dto/sdk-table-row-with-permissions.dto.ts
  packages/sdk/src/modules/dashboard/permissions/guards/create-record-access-guard.ts
  packages/sdk/src/modules/dashboard/permissions/guards/index.ts
  packages/sdk/src/modules/dashboard/permissions/helpers/drop-sdk-permissions-key.ts
  packages/sdk/src/react-integration/hooks/use-sdk.tsx
Labels: app: backend, app: chat, package: sdk

fix(backend): not working searching groups
  apps/backend/src/modules/share-resource/share-resource.firewall.ts
  apps/backend/src/modules/share-resource/share-resource.service.ts
  apps/chat/src/modules/permissions/card/card-record-creator.tsx
  apps/chat/src/modules/permissions/list/permission-avatars-list.tsx
  apps/chat/src/modules/permissions/list/permission-group-avatar.tsx
  apps/chat/src/modules/permissions/list/permission-user-avatar.tsx
  apps/chat/src/modules/users-groups/table/users-groups-table-row.tsx
  apps/chat/src/modules/users/form/shared/user-shared-form-fields.tsx
Labels: app: backend, app: chat

fix(global): improve typing
  apps/backend/src/modules/logger/logger.service.ts
Labels: app: backend

feat(chat): drop favorites app from list if archived
  apps/chat/src/app.tsx
  apps/chat/src/modules/apps/favorite/favorite-apps-validator.tsx
  apps/chat/src/modules/apps/favorite/index.ts
  apps/chat/src/modules/apps/favorite/use-favorite-apps.tsx
Labels: app: chat

fix(chat): star no longer overlaps over app card title
  apps/chat/src/modules/apps/favorite/favorite-app-star-button.tsx
  apps/chat/src/modules/apps/favorite/index.ts
  apps/chat/src/modules/apps/grid/app-card.tsx
  packages/ui/src/components/card/card-title.tsx
Labels: app: chat, package: ui

feat(chat): improve style of apps cards
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/apps/grid/app-card.tsx
  apps/chat/src/modules/permissions/card/card-record-permissions-rows.tsx
  apps/chat/src/modules/permissions/card/shared-with/card-record-permissions.tsx
  apps/chat/src/modules/permissions/card/shared-with/card-record-public.tsx
Labels: app: chat

feat(chat): apps cards fully clickable
  apps/chat/src/modules/apps/favorite/favorite-app-star-button.tsx
  apps/chat/src/modules/apps/grid/app-card.tsx
  packages/ui/src/components/card/card-base.tsx
Labels: app: chat, package: ui

feat(chat): improve align of chats
  apps/chat/src/modules/apps/grid/app-card.tsx
  apps/chat/src/modules/chats/grid/chat-card.tsx
  apps/chat/src/modules/permissions/card/card-record-permissions-rows.tsx
  apps/chat/src/modules/permissions/status/permissions-status-icon.tsx
  apps/chat/src/modules/projects/grid/project-card.tsx
  packages/ui/src/components/card/card-base.tsx
  packages/ui/src/components/card/card-footer.tsx
Labels: app: chat, package: ui

fix(chat): hide not used sections
  apps/chat/src/layouts/navigation/links/navigation-links.tsx
  apps/chat/src/layouts/navigation/logged-in/logged-in-user-item.tsx
Labels: app: chat

fix(chat): improve typings
  packages/sdk/src/modules/dashboard/apps/dto/sdk-create-app.dto.ts
  packages/sdk/src/modules/dashboard/apps/dto/sdk-update-app.dto.ts
  packages/sdk/src/shared/dto/index.ts
  packages/sdk/src/shared/dto/sdk-optional-file-upload.dto.ts
Labels: package: sdk

feat(chat): remove attach app explain
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/chats/conversation/chat-conversation-panel.tsx
  apps/chat/src/modules/chats/conversation/hooks/use-create-chat-with-initial-app.tsx
  apps/chat/src/modules/chats/conversation/hooks/use-reply-conversation-handler.tsx
Labels: app: chat
