Repository DashHub-ai/DashHub, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, ci, app: admin, app: backend, app: frontend, app: chat, package: commons, package: commons-front, package: sdk, package: ui

fix(chat): update label
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
Labels: app: chat

feat(backend): improve prompts
  apps/backend/src/modules/projects-embeddings/helpers/create-relevant-embeddings-prompt.ts
  apps/chat/src/modules/chats/conversation/content-parse/hydrate-with-projects-embeddings-badges.tsx
  apps/chat/src/modules/projects-embeddings/chat/index.ts
  apps/chat/src/modules/projects-embeddings/chat/project-images-chat-badge.tsx
Labels: app: backend, app: chat

feat(backend): improve action button prompt
  apps/backend/src/modules/messages/helpers/create-action-buttons-prompt.ts
  apps/backend/src/modules/projects-embeddings/helpers/create-relevant-embeddings-prompt.ts
Labels: app: backend

feat(backend): adjust prompts
  apps/backend/src/modules/messages/helpers/create-action-buttons-prompt.ts
  apps/backend/src/modules/messages/helpers/create-attach-app-ai-message.ts
Labels: app: backend

fix(backend): add credentials mask to ai model result
  apps/backend/src/modules/ai-models/ai-models.firewall.ts
  apps/backend/src/modules/ai-models/ai-models.repo.ts
  packages/sdk/src/shared/index.ts
  packages/sdk/src/shared/sdk-credentials-mask.dto.ts
Labels: app: backend, package: sdk

feat(chat): move organization management to chat application
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/organizations/form/create/index.ts
  apps/chat/src/modules/organizations/form/create/organization-create-form-modal.tsx
  apps/chat/src/modules/organizations/form/create/use-organization-create-form.tsx
  apps/chat/src/modules/organizations/form/create/use-organization-create-modal.tsx
  apps/chat/src/modules/organizations/form/index.ts
  apps/chat/src/modules/organizations/form/shared/index.ts
  apps/chat/src/modules/organizations/form/shared/organization-shared-form-fields.tsx
  apps/chat/src/modules/organizations/form/update/index.ts
  apps/chat/src/modules/organizations/form/update/organization-update-form-modal.tsx
  apps/chat/src/modules/organizations/form/update/use-organization-update-form.tsx
  apps/chat/src/modules/organizations/form/update/use-organization-update-modal.tsx
  apps/chat/src/modules/organizations/index.ts
  apps/chat/src/modules/organizations/table/index.ts
  apps/chat/src/modules/organizations/table/organizations-table-container.tsx
  apps/chat/src/modules/organizations/table/organizations-table-row.tsx
  apps/chat/src/routes/choose-organization/choose-organization.route.tsx
Labels: app: chat

.github/labeler.yml:

'infra':
- changed-files:
  - any-glob-to-any-file: ['hetzner/**/*', 'config/**/*', 'infra/**/*', 'aws/**/*']

'ci':
- changed-files:
  - any-glob-to-any-file: ['.github/**/*']

'app: admin':
- changed-files:
  - any-glob-to-any-file: ['apps/admin/**/*']

'app: backend':
- changed-files:
  - any-glob-to-any-file: ['apps/backend/**/*']

'app: frontend':
- changed-files:
  - any-glob-to-any-file: ['apps/frontend/**/*']

'app: chat':
- changed-files:
  - any-glob-to-any-file: ['apps/chat/**/*']

'package: commons':
- changed-files:
  - any-glob-to-any-file: ['packages/commons/**/*']

'package: commons-front':
- changed-files:
  - any-glob-to-any-file: ['packages/commons-front/**/*']

'package: sdk':
- changed-files:
  - any-glob-to-any-file: ['packages/sdk/**/*']

'package: ui':
- changed-files:
  - any-glob-to-any-file: ['packages/ui/**/*']
