Repository DashHub-ai/DashHub, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, ci, app: admin, app: backend, app: frontend, app: chat, package: commons, package: commons-front, package: sdk, package: ui

fix(chat): improve button size
  apps/chat/src/modules/users-groups/table/users-groups-table-container.tsx
  apps/chat/src/modules/users/table/users-table-container.tsx
Labels: app: chat

fix(chat): broken navigation highlighting
  apps/chat/src/layouts/navigation/links/navigation-item.tsx
  apps/chat/src/routes/use-sitemap.tsx
Labels: app: chat

fix(chat): improve slashes
  apps/chat/src/layouts/navigation/links/navigation-item.tsx
Labels: app: chat

fix(chat): broken application creator input
  apps/chat/src/modules/apps-creator/creator/steps/app-create-form-step1.tsx
  apps/chat/src/modules/chats/conversation/chat-conversation-panel.tsx
  apps/chat/src/modules/chats/conversation/input-toolbar/chat-input-toolbar.tsx
  apps/chat/src/modules/chats/internal-conversation/internal-conversation-panel.tsx
Labels: app: chat

feat(backend): add projects summaries migration
  apps/backend/src/migrations/0009-add-chats-tables.ts
  apps/backend/src/migrations/0028-add-projects-summarizes.ts
  apps/backend/src/migrations/index.ts
Labels: app: backend

feat(backend): add working summarize
  apps/admin/src/i18n/packs/i18n-lang-en.ts
  apps/admin/src/i18n/packs/i18n-lang-pl.ts
  apps/admin/src/modules/projects/form/shared/project-shared-form-fields.tsx
  apps/admin/src/modules/projects/form/update/project-update-form-modal.tsx
  apps/admin/src/modules/projects/table/projects-table-container.tsx
  apps/admin/src/modules/projects/table/projects-table-row.tsx
  apps/backend/package.json
  apps/backend/src/cli/run-summarize-projects.cli.ts
  apps/backend/src/migrations/0028-add-projects-summarizes.ts
  apps/backend/src/modules/boot/boot.service.ts
  apps/backend/src/modules/chats/chats.repo.ts
  apps/backend/src/modules/config/helpers/config.dto.ts
  apps/backend/src/modules/config/helpers/try-read-env-or-panic.ts
  apps/backend/src/modules/database/database.tables.ts
  apps/backend/src/modules/projects-summaries/index.ts
  apps/backend/src/modules/projects-summaries/projects-summaries.config.ts
  apps/backend/src/modules/projects-summaries/projects-summaries.cron.ts
  apps/backend/src/modules/projects-summaries/projects-summaries.errors.ts
  apps/backend/src/modules/projects-summaries/projects-summaries.repo.ts
  apps/backend/src/modules/projects-summaries/projects-summaries.service.ts
  apps/backend/src/modules/projects-summaries/projects-summaries.tables.ts
  apps/backend/src/modules/projects/elasticsearch/projects-es-index.repo.ts
  apps/backend/src/modules/projects/elasticsearch/projects-es-search.repo.ts
  apps/backend/src/modules/projects/projects.repo.ts
  apps/backend/src/modules/projects/projects.service.ts
  apps/backend/src/modules/projects/projects.tables.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/projects/form/shared/project-shared-form-fields.tsx
  apps/chat/src/modules/projects/form/update/project-update-form-modal.tsx
  apps/chat/src/modules/projects/grid/project-card.tsx
  package.json
  packages/sdk/src/modules/dashboard/projects/dto/sdk-create-project.dto.ts
  packages/sdk/src/modules/dashboard/projects/dto/sdk-project.dto.ts
  packages/sdk/src/modules/dashboard/projects/dto/sdk-update-project.dto.ts
Labels: app: admin, app: backend, app: chat, package: sdk

fix(backend): compiler crashes
  apps/backend/src/modules/projects/projects.service.ts
  apps/chat/src/routes/projects/projects.route.tsx
Labels: app: backend, app: chat

fix(backend): improve summaries
  apps/backend/src/modules/projects-summaries/projects-summaries.service.ts
Labels: app: backend

fix(backend): improve prompt
  apps/backend/src/modules/projects-summaries/projects-summaries.service.ts
Labels: app: backend

feat(chat): improve style of users management table
  apps/chat/src/modules/users-groups/table/users-groups-table-container.tsx
  apps/chat/src/modules/users/table/users-table-container.tsx
  packages/ui/src/components/content-card.tsx
Labels: app: chat, package: ui

feat(backend): add generic `permissions` table
  apps/backend/src/migrations/0029-drop-project-policies.ts
  apps/backend/src/migrations/0030-add-permissions-table.ts
  apps/backend/src/migrations/index.ts
  apps/backend/src/modules/database/database.tables.ts
  apps/backend/src/modules/elasticsearch/boot/elasticsearch-registry.boot.ts
  apps/backend/src/modules/permissions/elasticsearch/index.ts
  apps/backend/src/modules/permissions/elasticsearch/permissions-es-index.repo.ts
  apps/backend/src/modules/permissions/elasticsearch/permissions-es-search.repo.ts
  apps/backend/src/modules/permissions/index.ts
  apps/backend/src/modules/permissions/permissions.repo.ts
  apps/backend/src/modules/permissions/permissions.service.ts
  apps/backend/src/modules/permissions/permissions.tables.ts
  apps/backend/src/modules/projects-policies/elasticsearch/index.ts
  apps/backend/src/modules/projects-policies/index.ts
  apps/backend/src/modules/projects-policies/projects-policies.service.ts
  apps/backend/src/modules/projects-policies/projects-policies.tables.ts
  packages/sdk/src/modules/dashboard/index.ts
  packages/sdk/src/modules/dashboard/permissions/dto/index.ts
  packages/sdk/src/modules/dashboard/permissions/dto/sdk-permission-level.dto.ts
  packages/sdk/src/modules/dashboard/permissions/dto/sdk-permission.dto.ts
  packages/sdk/src/modules/dashboard/permissions/index.ts
  packages/sdk/src/modules/dashboard/projects-policies/dto/index.ts
  packages/sdk/src/modules/dashboard/projects-policies/dto/sdk-project-access-level.dto.ts
Labels: app: backend, package: sdk

feat(sdk): init `SdkUpsertPermissionsInputT`
  apps/backend/src/modules/permissions/elasticsearch/permissions-es-search.repo.ts
  packages/sdk/src/modules/dashboard/permissions/dto/index.ts
  packages/sdk/src/modules/dashboard/permissions/dto/sdk-permission.dto.ts
  packages/sdk/src/modules/dashboard/permissions/dto/sdk-upsert-permissions.dto.ts
Labels: app: backend, package: sdk

feat(backend): add permissions API
  apps/backend/src/modules/api/controllers/dashboard/dashboard.controller.ts
  apps/backend/src/modules/api/controllers/dashboard/permissions.controller.ts
  apps/backend/src/modules/permissions/elasticsearch/permissions-es-index.repo.ts
  apps/backend/src/modules/permissions/elasticsearch/permissions-es-search.repo.ts
  apps/backend/src/modules/permissions/permissions.error.ts
  apps/backend/src/modules/permissions/permissions.firewall.ts
  apps/backend/src/modules/permissions/permissions.repo.ts
  apps/backend/src/modules/permissions/permissions.service.ts
  apps/backend/src/modules/permissions/permissions.tables.ts
  packages/commons/package.json
  packages/sdk/src/modules/dashboard/dashboard.sdk.ts
  packages/sdk/src/modules/dashboard/permissions/dto/index.ts
  packages/sdk/src/modules/dashboard/permissions/dto/sdk-permission-resource.dto.ts
  packages/sdk/src/modules/dashboard/permissions/dto/sdk-permission.dto.ts
  packages/sdk/src/modules/dashboard/permissions/dto/sdk-upsert-permissions.dto.ts
  packages/sdk/src/modules/dashboard/permissions/dto/sdk-upsert-resource-permissions.dto.ts
  packages/sdk/src/modules/dashboard/permissions/index.ts
  packages/sdk/src/modules/dashboard/permissions/permissions.sdk.ts
Labels: app: backend, package: commons, package: sdk

feat(backend): drop `public` flag from chats
  apps/backend/src/migrations/0031-drop-public-flag-in-chats.ts
  apps/backend/src/migrations/index.ts
  apps/backend/src/modules/chats/chats.tables.ts
  apps/backend/src/modules/chats/elasticsearch/chats-es-index.repo.ts
  apps/backend/src/modules/chats/elasticsearch/chats-es-search.repo.ts
  packages/sdk/src/modules/dashboard/chats/dto/sdk-chat.dto.ts
  packages/sdk/src/modules/dashboard/chats/dto/sdk-create-chat.dto.ts
  packages/sdk/src/modules/dashboard/permissions/dto/sdk-permission.dto.ts
Labels: app: backend, package: sdk

fix(sdk): improve format
  apps/backend/src/modules/permissions/elasticsearch/permissions-es-search.repo.ts
Labels: app: backend

feat(backend): add permissions elasticsearch mappings
  apps/backend/src/modules/apps/apps.repo.ts
  apps/backend/src/modules/apps/apps.tables.ts
  apps/backend/src/modules/apps/elasticsearch/apps-es-index.repo.ts
  apps/backend/src/modules/chats/chats.repo.ts
  apps/backend/src/modules/chats/chats.tables.ts
  apps/backend/src/modules/chats/elasticsearch/chats-es-index.repo.ts
  apps/backend/src/modules/permissions/index.ts
  apps/backend/src/modules/permissions/permissions.tables.ts
  apps/backend/src/modules/permissions/record-protection/index.ts
  apps/backend/src/modules/permissions/record-protection/permissions-row-protection-es.ts
  apps/backend/src/modules/permissions/record-protection/permissions-row-protection.tables.ts
  apps/backend/src/modules/projects/elasticsearch/projects-es-index.repo.ts
  apps/backend/src/modules/projects/projects.repo.ts
  apps/backend/src/modules/projects/projects.tables.ts
Labels: app: backend

fix(backend): prevent failing ci
  apps/backend/src/modules/auth/firewall/try-task-either-if-user.ts
  apps/backend/src/modules/permissions/permissions.tables.ts
Labels: app: backend

feat(backend): unify upserting permissions
  apps/backend/src/modules/api/controllers/dashboard/dashboard.controller.ts
  apps/backend/src/modules/api/controllers/dashboard/permissions.controller.ts
  apps/backend/src/modules/apps/apps.repo.ts
  apps/backend/src/modules/apps/apps.service.ts
  apps/backend/src/modules/chats/chats.repo.ts
  apps/backend/src/modules/chats/chats.service.ts
  apps/backend/src/modules/elasticsearch/boot/elasticsearch-registry.boot.ts
  apps/backend/src/modules/permissions/elasticsearch/index.ts
  apps/backend/src/modules/permissions/elasticsearch/permissions-es-index.repo.ts
  apps/backend/src/modules/permissions/elasticsearch/permissions-es-search.repo.ts
  apps/backend/src/modules/permissions/index.ts
  apps/backend/src/modules/permissions/permissions.error.ts
  apps/backend/src/modules/permissions/permissions.firewall.ts
  apps/backend/src/modules/permissions/permissions.repo.ts
  apps/backend/src/modules/permissions/permissions.service.ts
  apps/backend/src/modules/permissions/record-protection/index.ts
  apps/backend/src/modules/permissions/record-protection/map-raw-json-agg-relation-to-sdk-permissions.ts
  apps/backend/src/modules/permissions/record-protection/permissions-row-protection-es.ts
  apps/backend/src/modules/permissions/record-protection/permissions-row-protection.tables.ts
  apps/backend/src/modules/projects/projects.repo.ts
  apps/backend/src/modules/projects/projects.service.ts
  packages/sdk/src/modules/dashboard/apps/dto/sdk-app.dto.ts
  packages/sdk/src/modules/dashboard/apps/dto/sdk-create-app.dto.ts
  packages/sdk/src/modules/dashboard/apps/dto/sdk-update-app.dto.ts
  packages/sdk/src/modules/dashboard/chats/dto/sdk-chat.dto.ts
  packages/sdk/src/modules/dashboard/chats/dto/sdk-create-chat.dto.ts
  packages/sdk/src/modules/dashboard/chats/dto/sdk-update-chat.dto.ts
  packages/sdk/src/modules/dashboard/dashboard.sdk.ts
  packages/sdk/src/modules/dashboard/permissions/dto/index.ts
  packages/sdk/src/modules/dashboard/permissions/dto/sdk-permission-target.dto.ts
  packages/sdk/src/modules/dashboard/permissions/dto/sdk-permission.dto.ts
  packages/sdk/src/modules/dashboard/permissions/dto/sdk-table-row-with-permissions.dto.ts
  packages/sdk/src/modules/dashboard/permissions/dto/sdk-upsert-permission.dto.ts
  packages/sdk/src/modules/dashboard/permissions/dto/sdk-upsert-resource-permissions.dto.ts
  packages/sdk/src/modules/dashboard/permissions/dto/sdk-upsert-table-row-with-permissions.dto.ts
  packages/sdk/src/modules/dashboard/permissions/index.ts
  packages/sdk/src/modules/dashboard/permissions/permissions.sdk.ts
  packages/sdk/src/modules/dashboard/projects/dto/sdk-create-project.dto.ts
  packages/sdk/src/modules/dashboard/projects/dto/sdk-project.dto.ts
  packages/sdk/src/modules/dashboard/projects/dto/sdk-update-project.dto.ts
Labels: app: backend, package: sdk

fix(sdk): remove `public` flag from `SdkCreateChatInputV`
  packages/sdk/src/modules/dashboard/chats/dto/sdk-create-chat.dto.ts
Labels: package: sdk

feat(backend): add saving chats with certain permissions
  apps/backend/src/modules/permissions/permissions.repo.ts
  apps/chat/src/modules/chats/start-chat/index.ts
  apps/chat/src/modules/chats/start-chat/start-chat-form.types.tsx
  apps/chat/src/modules/chats/start-chat/use-start-chat-form.tsx
  packages/sdk/src/modules/dashboard/chats/helpers/create-sdk-permissions-access-level.ts
  packages/sdk/src/modules/dashboard/chats/helpers/index.ts
  packages/sdk/src/modules/dashboard/chats/index.ts
  packages/sdk/src/modules/dashboard/permissions/dto/sdk-upsert-permission.dto.ts
Labels: app: backend, app: chat, package: sdk

feat(backend): add `permissions` to ES output
  apps/backend/src/modules/apps/elasticsearch/apps-es-search.repo.ts
  apps/backend/src/modules/chats/elasticsearch/chats-es-search.repo.ts
  apps/backend/src/modules/permissions/record-protection/index.ts
  apps/backend/src/modules/permissions/record-protection/map-raw-es-doc-to-sdk-permissions.ts
  apps/backend/src/modules/permissions/record-protection/permissions-row-protection-filters.ts
  apps/backend/src/modules/projects/elasticsearch/projects-es-search.repo.ts
Labels: app: backend

feat(backend): add `getAllUsersGroupsIds` method to users groups repo
  apps/backend/src/modules/chats/elasticsearch/chats-es-search.repo.ts
  apps/backend/src/modules/permissions/record-protection/index.ts
  apps/backend/src/modules/permissions/record-protection/permissions-row-protection-filters.ts
  apps/backend/src/modules/users-groups/repo/users-groups-users.repo.ts
  apps/backend/src/modules/users-groups/repo/users-groups.repo.ts
  packages/sdk/src/modules/dashboard/chats/chats.sdk.ts
  packages/sdk/src/modules/dashboard/chats/dto/sdk-search-chats.dto.ts
Labels: app: backend, package: sdk

feat(backend): add basic permissions system
  apps/backend/src/modules/chats/chats.firewall.ts
  apps/backend/src/modules/chats/chats.service.ts
  apps/backend/src/modules/permissions/permissions.service.ts
  apps/backend/src/modules/permissions/record-protection/index.ts
  apps/backend/src/modules/permissions/record-protection/permissions-row-protection-filters.ts
  apps/backend/src/modules/permissions/record-protection/permissions-row-protection-filters.types.ts
  apps/backend/src/modules/users-groups/repo/users-groups-users.repo.ts
  packages/commons/src/helpers/cache/cache-async-task.ts
  packages/commons/src/helpers/cache/index.ts
  packages/commons/src/helpers/cache/wrap-with-cache.ts
  packages/commons/src/helpers/index.ts
  packages/commons/src/helpers/tap-task.ts
  packages/commons/src/helpers/time.ts
  packages/sdk/src/modules/dashboard/permissions/dto/drop-sdk-permissions-key.ts
  packages/sdk/src/modules/dashboard/permissions/dto/index.ts
  packages/sdk/src/shared/dto/sdk-offset-pagination.dto.ts
Labels: app: backend, package: commons, package: sdk

feat(backend): add basic indexation of permissions
  apps/backend/src/modules/chats/chats.repo.ts
  apps/backend/src/modules/chats/chats.service.ts
  apps/backend/src/modules/projects/elasticsearch/projects-es-search.repo.ts
  apps/backend/src/modules/projects/projects.firewall.ts
  apps/backend/src/modules/projects/projects.repo.ts
  apps/backend/src/modules/projects/projects.service.ts
  apps/backend/src/modules/projects/projects.tables.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/layouts/parts/layout-header.tsx
  apps/chat/src/modules/chats/grid/chat-card.tsx
  apps/chat/src/modules/projects/controls/projects-search-select.tsx
  apps/chat/src/modules/projects/form/create/use-project-create-form.tsx
  apps/chat/src/routes/project/project-content.tsx
  apps/chat/src/routes/project/project.route.tsx
  packages/sdk/src/modules/dashboard/chats/dto/sdk-create-chat.dto.ts
  packages/sdk/src/modules/dashboard/projects/dto/sdk-create-project.dto.ts
  packages/sdk/src/modules/dashboard/projects/dto/sdk-search-projects.dto.ts
  packages/sdk/src/modules/dashboard/projects/dto/sdk-update-project.dto.ts
  packages/sdk/src/modules/dashboard/projects/projects.sdk.ts
  packages/ui/src/components/card/card-title.tsx
Labels: app: backend, app: chat, package: sdk, package: ui

feat(backend): adjusted permissions
  apps/backend/src/modules/apps/apps.repo.ts
  apps/backend/src/modules/apps/elasticsearch/apps-es-index.repo.ts
  apps/backend/src/modules/chats/chats.repo.ts
  apps/backend/src/modules/chats/elasticsearch/chats-es-index.repo.ts
  apps/backend/src/modules/messages/helpers/create-action-buttons-prompt.ts
  apps/backend/src/modules/permissions/record-protection/create-es-permissions-filters.ts
  apps/backend/src/modules/permissions/record-protection/index.ts
  apps/backend/src/modules/permissions/record-protection/map-raw-es-doc-to-sdk-permissions.ts
  apps/backend/src/modules/permissions/record-protection/permissions-row-protection-es.ts
  apps/backend/src/modules/permissions/record-protection/permissions-row-protection-filters.ts
  apps/backend/src/modules/permissions/record-protection/permissions-row-protection.tables.ts
  apps/backend/src/modules/projects/elasticsearch/projects-es-index.repo.ts
  apps/backend/src/modules/projects/projects.repo.ts
Labels: app: backend

feat(backend): improve security
  apps/backend/src/modules/apps/apps.firewall.ts
  apps/backend/src/modules/apps/apps.service.ts
  apps/backend/src/modules/apps/elasticsearch/apps-es-search.repo.ts
  apps/chat/src/layouts/navigation/links/navigation-links.tsx
  apps/chat/src/layouts/navigation/navigation-workspace-selector.tsx
  apps/chat/src/layouts/navigation/navigation.tsx
Labels: app: backend, app: chat

feat(backend): add chat getter permission check
  apps/backend/src/modules/auth/firewall/auth-firewall-service.ts
  apps/backend/src/modules/auth/firewall/check-if-user-can-see-fetched-content-te.ts
  apps/backend/src/modules/auth/firewall/index.ts
  apps/backend/src/modules/chats/chats.firewall.ts
  apps/backend/src/modules/database/errors/database.error.ts
  apps/backend/src/modules/permissions/permissions.service.ts
  apps/backend/src/modules/permissions/record-protection/check-permissions-match.ts
  apps/backend/src/modules/permissions/record-protection/index.ts
  apps/backend/src/modules/permissions/record-protection/map-raw-es-doc-to-sdk-permissions.ts
  apps/backend/src/modules/permissions/record-protection/permissions-row-protection.tables.ts
  apps/backend/src/modules/users-groups/repo/users-groups-users.repo.ts
  packages/sdk/src/modules/dashboard/permissions/dto/sdk-permission.dto.ts
  packages/sdk/src/shared/errors/sdk-unauthorized.error.ts
Labels: app: backend, package: sdk

feat(backend): add chats firewall
  apps/backend/src/modules/apps/apps.firewall.ts
  apps/backend/src/modules/chats/chats.firewall.ts
  apps/backend/src/modules/permissions/index.ts
  apps/backend/src/modules/permissions/permissions.firewall.ts
  apps/backend/src/modules/permissions/permissions.service.ts
  apps/chat/src/modules/chats/conversation/config-panel/use-chat-config-form.tsx
  packages/sdk/src/modules/dashboard/permissions/dto/drop-sdk-permissions-key.ts
Labels: app: backend, app: chat, package: sdk

feat(backend): add permissions to apps listing
  apps/backend/src/modules/apps/apps.firewall.ts
Labels: app: backend

feat(backend): add tech users to database
  apps/admin/src/i18n/packs/i18n-lang-en.ts
  apps/admin/src/i18n/packs/i18n-lang-pl.ts
  apps/backend/src/migrations/0032-add-tech-users-to-organization-roles.ts
  apps/backend/src/migrations/index.ts
  apps/backend/src/modules/projects/projects.firewall.ts
  packages/sdk/src/modules/dashboard/organizations/dto/sdk-organization-user.dto.ts
Labels: app: admin, app: backend, package: sdk

fix(chat): improve typings
  apps/admin/src/modules/apps/form/update/app-update-form-modal.tsx
  apps/admin/src/modules/apps/form/update/use-app-update-form.tsx
  apps/admin/src/modules/projects/form/update/project-update-form-modal.tsx
  apps/admin/src/modules/projects/form/update/use-project-update-form.tsx
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/apps-creator/update/app-update-form-modal.tsx
  apps/chat/src/modules/chats/conversation/chat-conversation-with-sidebar.tsx
  apps/chat/src/modules/chats/conversation/config-panel/chat-config-panel.tsx
  apps/chat/src/modules/chats/conversation/config-panel/use-chat-config-form.tsx
  apps/chat/src/modules/organizations/organization-user-role-badge.tsx
  apps/chat/src/modules/projects/form/update/project-update-form-modal.tsx
  apps/chat/src/modules/projects/form/update/use-project-update-form.tsx
Labels: app: admin, app: chat

feat(backend): more strict firewalls
  apps/backend/src/modules/apps/apps.firewall.ts
  apps/backend/src/modules/auth/firewall/try-task-either-if-user.ts
  apps/backend/src/modules/chats/chats.firewall.ts
  apps/backend/src/modules/permissions/permissions.firewall.ts
  apps/backend/src/modules/permissions/record-protection/check-permissions-match.ts
  apps/backend/src/modules/permissions/record-protection/create-es-permissions-filters.ts
  apps/backend/src/modules/projects/projects.firewall.ts
  apps/chat/src/modules/apps-creator/creator/app-create-form-modal.tsx
  apps/chat/src/modules/chats/internal-conversation/internal-conversation-panel.tsx
  packages/sdk/src/modules/dashboard/organizations/dto/sdk-organization-user.dto.ts
  packages/sdk/src/modules/dashboard/organizations/guards/index.ts
  packages/sdk/src/modules/dashboard/organizations/guards/is-sdk-record-with-organization.ts
  packages/sdk/src/modules/dashboard/organizations/index.ts
  packages/sdk/src/modules/dashboard/permissions/guards/index.ts
  packages/sdk/src/modules/dashboard/permissions/guards/is-sdk-record-with-creator.ts
  packages/sdk/src/modules/dashboard/permissions/index.ts
  packages/ui/src/components/modal/modal.tsx
Labels: app: backend, app: chat, package: sdk, package: ui

feat(backend): improve security of ai models endpoints
  apps/backend/src/modules/ai-models/ai-models.firewall.ts
  packages/sdk/src/modules/auth/firewall/create-access-level-guard.ts
Labels: app: backend, package: sdk

feat(chat): improve style of organization selector in navigation
  apps/chat/src/layouts/navigation/navigation-workspace-selector.tsx
  apps/chat/src/layouts/navigation/navigation.tsx
Labels: app: chat

feat(chat): add chats controller protections
  apps/backend/src/modules/api/controllers/dashboard/chats.controller.ts
  apps/backend/src/modules/messages/messages.firewall.ts
Labels: app: backend

feat(backend): add messages firewall
  apps/backend/src/modules/messages/elasticsearch/messages-es-index.repo.ts
  apps/backend/src/modules/messages/elasticsearch/messages-es-search.repo.ts
  apps/backend/src/modules/messages/messages.firewall.ts
  apps/backend/src/modules/messages/messages.repo.ts
  apps/backend/src/modules/messages/messages.tables.ts
  apps/backend/src/modules/permissions/record-protection/create-es-permissions-filters.ts
Labels: app: backend

feat(backend): add users firewall
  apps/backend/src/modules/api/controllers/dashboard/apps.controller.ts
  apps/backend/src/modules/api/controllers/dashboard/users.controller.ts
  apps/backend/src/modules/apps/apps.firewall.ts
  apps/backend/src/modules/apps/apps.service.ts
  apps/backend/src/modules/permissions/permissions.firewall.ts
  apps/backend/src/modules/users/elasticsearch/users-es-search.repo.ts
  apps/backend/src/modules/users/users.boot.ts
  apps/backend/src/modules/users/users.firewall.ts
  apps/backend/src/modules/users/users.service.ts
  packages/sdk/src/modules/auth/firewall/create-access-level-guard.ts
  packages/sdk/src/modules/dashboard/organizations/dto/sdk-organization-user.dto.ts
Labels: app: backend, package: sdk

feat(backend): add users groups firewall
  apps/backend/src/modules/users-groups/users-groups.firewall.ts
  apps/backend/src/modules/users-groups/users-groups.service.ts
Labels: app: backend

feat(backend): add projects files firewall
  apps/backend/src/modules/projects-files/elasticsearch/projects-files-es-search.repo.ts
  apps/backend/src/modules/projects-files/projects-files.firewall.ts
  apps/backend/src/modules/projects-files/projects-files.service.ts
Labels: app: backend

feat(backend): add apps categories firewall
  apps/backend/src/modules/apps-categories/apps-categories.firewall.ts
  apps/backend/src/modules/apps-categories/apps-categories.service.ts
  apps/backend/src/modules/permissions/permissions.firewall.ts
Labels: app: backend

.github/labeler.yml:

'infra':
- changed-files:
  - any-glob-to-any-file: ['hetzner/**/*', 'config/**/*', 'infra/**/*', 'aws/**/*']

'ci':
- changed-files:
  - any-glob-to-any-file: ['.github/**/*']

'app: admin':
- changed-files:
  - any-glob-to-any-file: ['apps/admin/**/*']

'app: backend':
- changed-files:
  - any-glob-to-any-file: ['apps/backend/**/*']

'app: frontend':
- changed-files:
  - any-glob-to-any-file: ['apps/frontend/**/*']

'app: chat':
- changed-files:
  - any-glob-to-any-file: ['apps/chat/**/*']

'package: commons':
- changed-files:
  - any-glob-to-any-file: ['packages/commons/**/*']

'package: commons-front':
- changed-files:
  - any-glob-to-any-file: ['packages/commons-front/**/*']

'package: sdk':
- changed-files:
  - any-glob-to-any-file: ['packages/sdk/**/*']

'package: ui':
- changed-files:
  - any-glob-to-any-file: ['packages/ui/**/*']
