Repository DashHub-ai/DashHub, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, ci, app: backend, app: chat, package: commons, package: commons-front, package: sdk, package: ui

fix(chat): improve permissions checks
  apps/chat/src/modules/apps-categories/sidebar/apps-categories-sidebar.tsx
  apps/chat/src/routes/apps/apps.route.tsx
  packages/sdk/src/react-integration/me/sdk-me-provider.tsx
Labels: app: chat, package: sdk

feat(chat): switch to XML based prompts
  apps/backend/src/modules/projects-embeddings/elasticsearch/projects-embeddings-es-search.repo.ts
  apps/backend/src/modules/projects-embeddings/helpers/create-relevant-embeddings-prompt.ts
  apps/backend/src/modules/projects-embeddings/helpers/index.ts
  apps/backend/src/modules/projects-embeddings/projects-embeddings.service.ts
  apps/backend/src/modules/prompts/context/create-context-prompt.ts
  apps/backend/src/modules/prompts/context/features/create-action-buttons-context-prompt.ts
  apps/backend/src/modules/prompts/context/features/create-quotes-context-prompt.ts
  apps/backend/src/modules/prompts/context/features/feature-xml-tag.ts
  apps/backend/src/modules/prompts/context/features/wrap-with-feature-prompt-header.ts
  apps/backend/src/modules/prompts/context/personas/create-default-persona-context-prompt.ts
  apps/backend/src/modules/prompts/context/personas/index.ts
  apps/backend/src/modules/prompts/context/personas/persona-xml-tag.ts
  apps/backend/src/modules/prompts/context/personas/wrap-with-persona-prompt-header.ts
  apps/backend/src/modules/prompts/embeddings/create-relevant-embeddings-prompt.ts
  apps/backend/src/modules/prompts/embeddings/index.ts
  apps/backend/src/modules/prompts/embeddings/utils/embeddings-xml-tag.ts
  apps/backend/src/modules/prompts/embeddings/utils/group-embeddings.ts
  apps/backend/src/modules/prompts/embeddings/utils/index.ts
  apps/backend/src/modules/prompts/embeddings/utils/types.ts
  apps/backend/src/modules/prompts/index.ts
  apps/backend/src/modules/prompts/message/create-attached-files-message-prefix.ts
  apps/backend/src/modules/prompts/message/create-reply-ai-message-prefix.ts
  apps/backend/src/modules/prompts/system/create-attach-app-system-message.ts
  apps/backend/src/modules/prompts/xml.ts
Labels: app: backend

feat(backend): init users ai settings context
  apps/backend/src/migrations/0041-add-users-ai-settings-table.ts
  apps/backend/src/migrations/index.ts
  apps/backend/src/modules/database/database.tables.ts
  apps/backend/src/modules/users-ai-settings/index.ts
  apps/backend/src/modules/users-ai-settings/users-ai-settings.repo.ts
  apps/backend/src/modules/users-ai-settings/users-ai-settings.tables.ts
Labels: app: backend

feat(backend): add ai settings upsert
  apps/backend/src/modules/users-ai-settings/users-ai-settings.repo.ts
  apps/backend/src/modules/users-ai-settings/users-ai-settings.tables.ts
  apps/backend/src/modules/users/users.boot.ts
  apps/backend/src/modules/users/users.repo.ts
  apps/backend/src/modules/users/users.tables.ts
  apps/chat/src/modules/users/form/update/user-update-form-modal.tsx
  apps/chat/src/modules/users/table/users-table-container.tsx
  packages/sdk/src/modules/dashboard/users/dto/ai-settings/index.ts
  packages/sdk/src/modules/dashboard/users/dto/ai-settings/sdk-upsert-user-ai-settings.dto.ts
  packages/sdk/src/modules/dashboard/users/dto/ai-settings/sdk-user-ai-settings.dto.ts
  packages/sdk/src/modules/dashboard/users/dto/sdk-create-user.dto.ts
  packages/sdk/src/modules/dashboard/users/dto/sdk-update-user.dto.ts
  packages/sdk/src/modules/dashboard/users/dto/sdk-user.dto.ts
Labels: app: backend, app: chat, package: sdk

feat(backend): add chat context saving
  apps/backend/src/migrations/0041-add-users-ai-settings-table.ts
  apps/backend/src/modules/users-ai-settings/users-ai-settings.repo.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/users-me/form/update-me-form.tsx
  apps/chat/src/modules/users/form/create/user-create-form-modal.tsx
  apps/chat/src/modules/users/form/shared/index.ts
  apps/chat/src/modules/users/form/shared/user-ai-settings-form-field.tsx
  apps/chat/src/modules/users/form/update/user-update-form-modal.tsx
  packages/sdk/src/modules/dashboard/users/dto/index.ts
Labels: app: backend, app: chat, package: sdk

feat(backend): add personality cutomization logic
  apps/backend/src/modules/messages/messages.service.ts
  apps/backend/src/modules/prompts/context/create-context-prompt.ts
  apps/backend/src/modules/prompts/context/personas/create-custom-persona-context-prompt.ts
  apps/backend/src/modules/prompts/context/personas/index.ts
  apps/backend/src/modules/users-ai-settings/users-ai-settings.repo.ts
  apps/backend/src/modules/users-ai-settings/users-ai-settings.service.ts
  apps/chat/src/modules/users/form/shared/user-ai-settings-form-field.tsx
Labels: app: backend, app: chat

feat(backend): improve apps
  apps/backend/src/modules/prompts/system/create-attach-app-system-message.ts
Labels: app: backend

feat(backend): init search engine module skeleton
  apps/backend/src/modules/search-engine/clients/index.ts
  apps/backend/src/modules/search-engine/clients/search-engine-proxy.ts
  apps/backend/src/modules/search-engine/index.ts
  apps/backend/src/modules/search-engine/search-engine.errors.ts
  apps/backend/src/modules/search-engine/search-engine.service.ts
  packages/sdk/src/modules/dashboard/index.ts
  packages/sdk/src/modules/dashboard/search-engines/dto/index.ts
  packages/sdk/src/modules/dashboard/search-engines/dto/sdk-create-search-engine.dto.ts
  packages/sdk/src/modules/dashboard/search-engines/dto/sdk-search-engine.dto.ts
  packages/sdk/src/modules/dashboard/search-engines/dto/sdk-search-engines.dto.ts
  packages/sdk/src/modules/dashboard/search-engines/dto/sdk-update-search-engine.dto.ts
  packages/sdk/src/modules/dashboard/search-engines/index.ts
  packages/sdk/src/modules/dashboard/search-engines/search-engines.sdk.ts
Labels: app: backend, package: sdk

feat(backend): add search engines controller
  apps/backend/src/migrations/0042-add-search-engines-table.ts
  apps/backend/src/migrations/index.ts
  apps/backend/src/modules/api/controllers/dashboard/dashboard.controller.ts
  apps/backend/src/modules/api/controllers/dashboard/search-engines.controller.ts
  apps/backend/src/modules/database/database.tables.ts
  apps/backend/src/modules/elasticsearch/boot/elasticsearch-registry.boot.ts
  apps/backend/src/modules/search-engine/clients/index.ts
  apps/backend/src/modules/search-engine/index.ts
  apps/backend/src/modules/search-engine/search-engine.service.ts
  apps/backend/src/modules/search-engines/clients/get-search-engine-proxy.ts
  apps/backend/src/modules/search-engines/clients/index.ts
  apps/backend/src/modules/search-engines/clients/search-engine-proxy.error.ts
  apps/backend/src/modules/search-engines/clients/search-engine-proxy.ts
  apps/backend/src/modules/search-engines/clients/serper-proxy.ts
  apps/backend/src/modules/search-engines/elasticsearch/index.ts
  apps/backend/src/modules/search-engines/elasticsearch/search-engines-es-index.repo.ts
  apps/backend/src/modules/search-engines/elasticsearch/search-engines-es-search.repo.ts
  apps/backend/src/modules/search-engines/index.ts
  apps/backend/src/modules/search-engines/search-engines.firewall.ts
  apps/backend/src/modules/search-engines/search-engines.repo.ts
  apps/backend/src/modules/search-engines/search-engines.service.ts
  apps/backend/src/modules/search-engines/search-engines.tables.ts
  packages/sdk/src/modules/dashboard/search-engines/dto/index.ts
  packages/sdk/src/modules/dashboard/search-engines/dto/sdk-search-engine-credentials.dto.ts
  packages/sdk/src/modules/dashboard/search-engines/dto/sdk-search-engine.dto.ts
Labels: app: backend, package: sdk

feat(chat): add search engines management
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/search-engines/controls/index.ts
  apps/chat/src/modules/search-engines/controls/search-engines-search-select.tsx
  apps/chat/src/modules/search-engines/form/create/index.ts
  apps/chat/src/modules/search-engines/form/create/search-engine-create-form-modal.tsx
  apps/chat/src/modules/search-engines/form/create/search-engine-create-form.tsx
  apps/chat/src/modules/search-engines/form/create/use-search-engine-create-modal.tsx
  apps/chat/src/modules/search-engines/form/index.ts
  apps/chat/src/modules/search-engines/form/shared/index.ts
  apps/chat/src/modules/search-engines/form/shared/search-engine-credentials-form-field.tsx
  apps/chat/src/modules/search-engines/form/shared/search-engine-provider-select.tsx
  apps/chat/src/modules/search-engines/form/shared/search-engine-shared-form-fields.tsx
  apps/chat/src/modules/search-engines/form/update/index.ts
  apps/chat/src/modules/search-engines/form/update/search-engine-update-form-modal.tsx
  apps/chat/src/modules/search-engines/form/update/use-search-engine-update-form.tsx
  apps/chat/src/modules/search-engines/form/update/use-search-engine-update-modal.tsx
  apps/chat/src/modules/search-engines/index.ts
  apps/chat/src/modules/search-engines/table/index.ts
  apps/chat/src/modules/search-engines/table/search-engine-table-row.tsx
  apps/chat/src/modules/search-engines/table/search-engines-table-container.tsx
  apps/chat/src/modules/users/table/users-table-container.tsx
  apps/chat/src/modules/users/table/users-table-row.tsx
  apps/chat/src/router.tsx
  apps/chat/src/routes/management/layout/management.layout.tsx
  apps/chat/src/routes/management/pages/index.ts
  apps/chat/src/routes/management/pages/search-engines-management.route.tsx
  apps/chat/src/routes/use-sitemap.tsx
  packages/sdk/src/modules/dashboard/dashboard.sdk.ts
Labels: app: chat, package: sdk

fix(chat): typing issue
  apps/chat/src/modules/search-engines/controls/search-engines-search-select.tsx
Labels: app: chat

feat(chat): add web search button
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/chats/conversation/hooks/use-reply-conversation-handler.tsx
  apps/chat/src/modules/chats/conversation/input-toolbar/chat-input-toolbar.tsx
  apps/chat/src/modules/chats/conversation/input-toolbar/chat-web-search-button.tsx
  apps/chat/src/modules/chats/conversation/input-toolbar/index.ts
  apps/chat/src/modules/chats/start-chat/start-chat-form.tsx
  packages/sdk/src/modules/dashboard/messages/dto/sdk-create-message.dto.ts
Labels: app: chat, package: sdk

feat(chat): add basic prototype of web search
  apps/backend/src/migrations/0043-add-websearch-flag-to-messages.ts
  apps/backend/src/migrations/index.ts
  apps/backend/src/modules/ai-connector/ai-connector.service.ts
  apps/backend/src/modules/ai-connector/clients/ai-deepseek-proxy.ts
  apps/backend/src/modules/ai-connector/clients/ai-gemini-proxy.ts
  apps/backend/src/modules/ai-connector/clients/ai-openai-proxy.ts
  apps/backend/src/modules/ai-connector/clients/ai-proxy.ts
  apps/backend/src/modules/ai-connector/clients/get-ai-proxy-for-model.ts
  apps/backend/src/modules/api/controllers/dashboard/chats.controller.ts
  apps/backend/src/modules/messages/elasticsearch/messages-es-search.repo.ts
  apps/backend/src/modules/messages/messages.service.ts
  apps/backend/src/modules/messages/messages.tables.ts
  apps/backend/src/modules/prompts/context/features/index.ts
  apps/backend/src/modules/prompts/embeddings/create-relevant-embeddings-prompt.ts
  apps/backend/src/modules/prompts/index.ts
  apps/backend/src/modules/prompts/websearch/create-websearch-function-tool.ts
  apps/backend/src/modules/prompts/websearch/create-websearch-results-prompt.ts
  apps/backend/src/modules/prompts/websearch/index.ts
  apps/backend/src/modules/search-engines/clients/serper-proxy.ts
  apps/backend/src/modules/search-engines/search-engines.service.ts
  packages/commons/src/helpers/iterators/flat-map-async-iterator.ts
  packages/commons/src/helpers/iterators/index.ts
  packages/sdk/src/modules/dashboard/messages/dto/index.ts
  packages/sdk/src/modules/dashboard/messages/dto/sdk-create-message.dto.ts
  packages/sdk/src/modules/dashboard/messages/dto/sdk-message-websearch.dto.ts
  packages/sdk/src/modules/dashboard/messages/dto/sdk-message.dto.ts
Labels: app: backend, package: commons, package: sdk

feat(chat): add assistants badges
  apps/chat/src/modules/apps/chat/app-chat-badge.tsx
  apps/chat/src/modules/chats/content-badges/embeddings/index.ts
  apps/chat/src/modules/chats/content-badges/embeddings/project-embedding-chat-badge.tsx
  apps/chat/src/modules/chats/content-badges/embeddings/project-embedding-preview.tsx
  apps/chat/src/modules/chats/content-badges/index.ts
  apps/chat/src/modules/chats/content-badges/websearch/index.ts
  apps/chat/src/modules/chats/content-badges/websearch/websearch-chat-badge.tsx
  apps/chat/src/modules/chats/content-badges/websearch/websearch-preview.tsx
  apps/chat/src/modules/chats/conversation/content-parse/hydrate-with-projects-embeddings-badges.tsx
  apps/chat/src/modules/chats/conversation/content-parse/hydrate-with-web-search-sources.tsx
  apps/chat/src/modules/chats/conversation/content-parse/index.ts
  apps/chat/src/modules/chats/conversation/content-parse/use-content-hydration.ts
  apps/chat/src/modules/chats/conversation/hooks/use-optimistic-response-creator.tsx
  apps/chat/src/modules/chats/conversation/input-toolbar/chat-reply-message.tsx
  apps/chat/src/modules/chats/conversation/messages/chat-message-content.tsx
  apps/chat/src/modules/chats/conversation/messages/chat-message-replied-message.tsx
  apps/chat/src/modules/chats/conversation/messages/chat-message.tsx
  apps/chat/src/modules/index.ts
  apps/chat/src/modules/projects-embeddings/index.ts
Labels: app: chat

feat(chat): improve links parsing
  apps/chat/src/modules/chats/content-badges/websearch/websearch-chat-badge.tsx
  apps/chat/src/modules/chats/conversation/chat-conversation-panel.tsx
  apps/chat/src/modules/chats/conversation/content-parse/hydrate-with-web-search-sources.tsx
  apps/chat/src/modules/chats/conversation/input-toolbar/chat-input-toolbar.tsx
  apps/chat/src/modules/chats/conversation/messages/chat-message.tsx
Labels: app: chat

feat(chat): improve search web styling
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/chats/conversation/chat-conversation-panel.tsx
  apps/chat/src/modules/chats/conversation/input-toolbar/chat-input-toolbar.tsx
  apps/chat/src/modules/chats/conversation/messages/chat-message.tsx
Labels: app: chat

feat(chat): improve optimistic responses
  apps/chat/src/modules/chats/conversation/hooks/use-optimistic-response-creator.tsx
  apps/chat/src/modules/chats/conversation/hooks/use-reply-conversation-handler.tsx
  apps/chat/src/modules/chats/conversation/messages/chat-message-content.tsx
Labels: app: chat

feat(chat): improve pagination arrows
  apps/chat/src/ui/components/pagination/pagination-arrows.tsx
Labels: app: chat

fix(chat): improve websearch chat badge rendering
  apps/backend/src/modules/search-engines/clients/serper-proxy.ts
  apps/chat/src/modules/chats/content-badges/websearch/websearch-chat-badge.tsx
  apps/chat/src/modules/chats/conversation/content-parse/hydrate-with-web-search-sources.tsx
  packages/commons/src/helpers/decode-html-entities.ts
  packages/commons/src/helpers/index.ts
Labels: app: backend, app: chat, package: commons

fix(chat): add missing app mention in app quick action
  apps/backend/src/modules/prompts/system/create-attach-app-system-message.ts
  apps/chat/src/modules/apps-creator/shared/app-shared-form-fields.tsx
  apps/chat/src/modules/chats/conversation/chat-attached-app.tsx
  apps/chat/src/modules/users/form/shared/user-ai-settings-form-field.tsx
Labels: app: backend, app: chat

fix(chat): improve prompts
  apps/chat/src/modules/chats/conversation/chat-attached-app.tsx
Labels: app: chat

fix(chat): adjust prompts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
Labels: app: chat

fix(backend): adjust prompts
  apps/backend/src/modules/prompts/embeddings/create-relevant-embeddings-prompt.ts
  apps/backend/src/modules/prompts/system/create-attach-app-system-message.ts
Labels: app: backend

feat(backend): init pinned messages services skeleton
  .vscode/settings.json
  apps/backend/src/migrations/0044-add-pinned-messages.ts
  apps/backend/src/migrations/index.ts
  apps/backend/src/modules/database/database.tables.ts
  apps/backend/src/modules/pinned-messages/index.ts
  apps/backend/src/modules/pinned-messages/pinned-messages.firewall.ts
  apps/backend/src/modules/pinned-messages/pinned-messages.repo.ts
  apps/backend/src/modules/pinned-messages/pinned-messages.service.ts
  apps/backend/src/modules/pinned-messages/pinned-messages.tables.ts
  packages/commons/src/helpers/group-by-flat.ts
  packages/commons/src/helpers/index.ts
  packages/commons/src/helpers/pluck-ids.ts
  packages/commons/src/helpers/pluck.ts
  packages/commons/src/types/index.ts
  packages/commons/src/types/record-index-key.type.ts
Labels: app: backend, package: commons

fix(global): wrong `settings.json`
  .vscode/settings.json
Labels: none

feat(sdk): add pinned messages sdk
  packages/sdk/src/modules/dashboard/dashboard.sdk.ts
  packages/sdk/src/modules/dashboard/index.ts
  packages/sdk/src/modules/dashboard/pinned-messages/dto/index.ts
  packages/sdk/src/modules/dashboard/pinned-messages/dto/sdk-pin-message.dto.ts
  packages/sdk/src/modules/dashboard/pinned-messages/dto/sdk-pinned-message.dto.ts
  packages/sdk/src/modules/dashboard/pinned-messages/dto/sdk-pinned-search-messages.dto.ts
  packages/sdk/src/modules/dashboard/pinned-messages/index.ts
  packages/sdk/src/modules/dashboard/pinned-messages/pinned-messages.sdk.ts
Labels: package: sdk

feat(backend): add basic firewall in pinned messages
  apps/backend/src/modules/elasticsearch/boot/elasticsearch-registry.boot.ts
  apps/backend/src/modules/permissions/permissions.firewall.ts
  apps/backend/src/modules/pinned-messages/elasticsearch/index.ts
  apps/backend/src/modules/pinned-messages/elasticsearch/pinned-messages-es-index.repo.ts
  apps/backend/src/modules/pinned-messages/elasticsearch/pinned-messages-es-search.repo.ts
  apps/backend/src/modules/pinned-messages/index.ts
  apps/backend/src/modules/pinned-messages/pinned-messages.firewall.ts
  apps/backend/src/modules/pinned-messages/pinned-messages.service.ts
  packages/sdk/src/modules/dashboard/pinned-messages/dto/sdk-pinned-search-messages.dto.ts
Labels: app: backend, package: sdk

feat(backend): add pinned messages firewall
  apps/backend/src/modules/permissions/permissions.firewall.ts
  apps/backend/src/modules/pinned-messages/pinned-messages.firewall.ts
  apps/backend/src/modules/pinned-messages/pinned-messages.service.ts
Labels: app: backend

feat(backend): add pinned messages controller
  apps/backend/src/modules/api/controllers/dashboard/dashboard.controller.ts
  apps/backend/src/modules/api/controllers/dashboard/index.ts
  apps/backend/src/modules/api/controllers/dashboard/pinned-messages.controller.ts
  apps/backend/src/modules/pinned-messages/pinned-messages.firewall.ts
  packages/sdk/src/modules/dashboard/pinned-messages/pinned-messages.sdk.ts
Labels: app: backend, package: sdk

feat(backend): improve permissions
  apps/backend/src/modules/messages/elasticsearch/messages-es-search.repo.ts
  apps/backend/src/modules/pinned-messages/pinned-messages.firewall.ts
  apps/backend/src/modules/pinned-messages/pinned-messages.service.ts
  apps/chat/src/modules/chats/conversation/hooks/use-optimistic-response-creator.tsx
  packages/sdk/src/modules/dashboard/messages/dto/sdk-message.dto.ts
Labels: app: backend, app: chat, package: sdk

feat(chat): init pinned messages route
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/layouts/navigation/links/navigation-links.tsx
  apps/chat/src/router.tsx
  apps/chat/src/routes/index.ts
  apps/chat/src/routes/pinned-messages/index.ts
  apps/chat/src/routes/pinned-messages/pinned-messages.route.tsx
  apps/chat/src/routes/use-sitemap.tsx
Labels: app: chat

feat(chat): add pin button to message
  apps/backend/src/migrations/0044-add-pinned-messages.ts
  apps/backend/src/modules/pinned-messages/elasticsearch/pinned-messages-es-index.repo.ts
  apps/backend/src/modules/pinned-messages/pinned-messages.firewall.ts
  apps/backend/src/modules/pinned-messages/pinned-messages.repo.ts
  apps/backend/src/modules/pinned-messages/pinned-messages.service.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/chats/conversation/messages/chat-message-pin-action.tsx
  apps/chat/src/modules/chats/conversation/messages/chat-message.tsx
  packages/sdk/src/modules/dashboard/pinned-messages/pinned-messages.sdk.ts
Labels: app: backend, app: chat, package: sdk

feat(backend): add find all
  apps/backend/src/modules/api/controllers/dashboard/pinned-messages.controller.ts
  apps/backend/src/modules/pinned-messages/pinned-messages.firewall.ts
  apps/backend/src/modules/pinned-messages/pinned-messages.repo.ts
  apps/backend/src/modules/pinned-messages/pinned-messages.service.ts
  packages/sdk/src/modules/dashboard/pinned-messages/dto/index.ts
  packages/sdk/src/modules/dashboard/pinned-messages/dto/sdk-pin-message-list-item.dto.ts
  packages/sdk/src/modules/dashboard/pinned-messages/pinned-messages.sdk.ts
Labels: app: backend, package: sdk

feat(chat): add working pinning
  apps/chat/src/app.tsx
  apps/chat/src/modules/chats/conversation/messages/chat-message-pin-action.tsx
  packages/sdk/src/react-integration/index.ts
  packages/sdk/src/react-integration/pinned-messages/hooks/index.ts
  packages/sdk/src/react-integration/pinned-messages/hooks/use-is-sdk-pinned-message-toggled.ts
  packages/sdk/src/react-integration/pinned-messages/hooks/use-sdk-subscribe-pinned-messages-or-throw.ts
  packages/sdk/src/react-integration/pinned-messages/hooks/use-sdk-toggle-pinned-message.ts
  packages/sdk/src/react-integration/pinned-messages/index.ts
  packages/sdk/src/react-integration/pinned-messages/sdk-pinned-messages-context.tsx
  packages/sdk/src/react-integration/pinned-messages/sdk-pinned-messages-provider.tsx
Labels: app: chat, package: sdk

feat(chat): highlight pinned messages
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/chats/conversation/messages/chat-message.tsx
Labels: app: chat

feat(chat): add small border around chat message action
  apps/chat/src/modules/chats/conversation/messages/buttons/toolbar-small-action-button.tsx
Labels: app: chat

feat(chat): add prorotype pinning section
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/chats/conversation/messages/buttons/toolbar-small-action-button.tsx
  apps/chat/src/modules/chats/conversation/messages/chat-message.tsx
  apps/chat/src/modules/index.ts
  apps/chat/src/modules/pinned-messages/grid/index.ts
  apps/chat/src/modules/pinned-messages/grid/pinned-message-card.tsx
  apps/chat/src/modules/pinned-messages/grid/pinned-messages-container.tsx
  apps/chat/src/modules/pinned-messages/grid/pinned-messages-placeholder.tsx
  apps/chat/src/modules/pinned-messages/grid/pinned-messages-timeline.tsx
  apps/chat/src/modules/pinned-messages/index.ts
  apps/chat/src/routes/pinned-messages/pinned-messages.route.tsx
Labels: app: chat

feat(chat): improve styling
  apps/chat/src/modules/pinned-messages/grid/pinned-messages-timeline.tsx
Labels: app: chat

feat(chat): improve styling
  apps/chat/src/modules/chats/conversation/messages/chat-message.tsx
  apps/chat/src/modules/pinned-messages/grid/pinned-message-card.tsx
  apps/chat/src/modules/pinned-messages/grid/pinned-messages-container.tsx
  apps/chat/src/modules/pinned-messages/grid/pinned-messages-timeline.tsx
Labels: app: chat

feat(chat): larger spacing in chats
  apps/chat/src/modules/chats/conversation/messages/chat-message.tsx
Labels: app: chat

.github/labeler.yml:

'infra':
- changed-files:
  - any-glob-to-any-file: ['hetzner/**/*', 'config/**/*', 'infra/**/*', 'aws/**/*']

'ci':
- changed-files:
  - any-glob-to-any-file: ['.github/**/*']

'app: backend':
- changed-files:
  - any-glob-to-any-file: ['apps/backend/**/*']

'app: chat':
- changed-files:
  - any-glob-to-any-file: ['apps/chat/**/*']

'package: commons':
- changed-files:
  - any-glob-to-any-file: ['packages/commons/**/*']

'package: commons-front':
- changed-files:
  - any-glob-to-any-file: ['packages/commons-front/**/*']

'package: sdk':
- changed-files:
  - any-glob-to-any-file: ['packages/sdk/**/*']

'package: ui':
- changed-files:
  - any-glob-to-any-file: ['packages/ui/**/*']
