Repository DashHub-ai/DashHub, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, ci, app: backend, app: chat, package: commons, package: commons-front, package: sdk, package: ui

.github/labeler.yml:

'infra':
- changed-files:
  - any-glob-to-any-file: ['hetzner/**/*', 'config/**/*', 'infra/**/*', 'aws/**/*']

'ci':
- changed-files:
  - any-glob-to-any-file: ['.github/**/*']

'app: backend':
- changed-files:
  - any-glob-to-any-file: ['apps/backend/**/*']

'app: chat':
- changed-files:
  - any-glob-to-any-file: ['apps/chat/**/*']

'package: commons':
- changed-files:
  - any-glob-to-any-file: ['packages/commons/**/*']

'package: commons-front':
- changed-files:
  - any-glob-to-any-file: ['packages/commons-front/**/*']

'package: sdk':
- changed-files:
  - any-glob-to-any-file: ['packages/sdk/**/*']

'package: ui':
- changed-files:
  - any-glob-to-any-file: ['packages/ui/**/*']

fix: remove turbo daemon start from dev script (fixes #203)
  package.json
Labels: none

feat: add Ollama (local models) provider support
  apps/backend/src/modules/ai-connector/clients/ai-ollama-proxy.ts
  apps/backend/src/modules/ai-connector/clients/get-ai-proxy-for-model.ts
  apps/backend/src/modules/ai-connector/clients/index.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/ai-models/form/shared/ai-model-credentials-form-field.tsx
  packages/sdk/src/modules/dashboard/ai-models/dto/credentials/openai-credentials.dto.ts
  packages/sdk/src/modules/dashboard/ai-models/dto/sdk-ai-model.dto.ts
Labels: app: backend, app: chat, package: sdk

feat: add MCP (Model Context Protocol) server support
  apps/backend/package.json
  apps/backend/src/migrations/0052-add-mcp-servers-table.ts
  apps/backend/src/migrations/index.ts
  apps/backend/src/modules/ai-connector/clients/ai-proxy.ts
  apps/backend/src/modules/mcp-servers/index.ts
  apps/backend/src/modules/mcp-servers/mcp-servers.client.ts
  apps/backend/src/modules/mcp-servers/mcp-servers.repo.ts
  apps/backend/src/modules/mcp-servers/mcp-servers.service.ts
  apps/backend/src/modules/mcp-servers/mcp-servers.tables.ts
  apps/backend/src/modules/messages/messages.firewall.ts
  apps/backend/src/modules/messages/messages.service.ts
  package-lock.json
  packages/sdk/src/modules/dashboard/index.ts
  packages/sdk/src/modules/dashboard/mcp-servers/dto/index.ts
  packages/sdk/src/modules/dashboard/mcp-servers/dto/sdk-mcp-server.dto.ts
  packages/sdk/src/modules/dashboard/mcp-servers/index.ts
Labels: app: backend, package: sdk

feat(chat): add keyboard-first command palette (Cmd+K)
  apps/chat/src/app.tsx
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/command-palette/command-palette.tsx
  apps/chat/src/modules/command-palette/index.ts
  apps/chat/src/modules/command-palette/use-command-palette-items.ts
  apps/chat/src/modules/index.ts
Labels: app: chat

fix(chat): address command palette review findings
  apps/chat/src/modules/command-palette/command-palette.tsx
Labels: app: chat

docs(global): rewrite README and add one-command quick start
  README.md
  docker-compose.quickstart.yml
  quick-start.sh
Labels: none

feat: add Ollama (local models) provider support (#218)
  apps/backend/src/modules/ai-connector/clients/ai-ollama-proxy.ts
  apps/backend/src/modules/ai-connector/clients/get-ai-proxy-for-model.ts
  apps/backend/src/modules/ai-connector/clients/index.ts
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/ai-models/form/shared/ai-model-credentials-form-field.tsx
  packages/sdk/src/modules/dashboard/ai-models/dto/credentials/openai-credentials.dto.ts
  packages/sdk/src/modules/dashboard/ai-models/dto/sdk-ai-model.dto.ts
Labels: app: backend, app: chat, package: sdk

feat: add MCP (Model Context Protocol) server support (#219)
  apps/backend/package.json
  apps/backend/src/migrations/0052-add-mcp-servers-table.ts
  apps/backend/src/migrations/index.ts
  apps/backend/src/modules/ai-connector/clients/ai-proxy.ts
  apps/backend/src/modules/mcp-servers/index.ts
  apps/backend/src/modules/mcp-servers/mcp-servers.client.ts
  apps/backend/src/modules/mcp-servers/mcp-servers.repo.ts
  apps/backend/src/modules/mcp-servers/mcp-servers.service.ts
  apps/backend/src/modules/mcp-servers/mcp-servers.tables.ts
  apps/backend/src/modules/messages/messages.firewall.ts
  apps/backend/src/modules/messages/messages.service.ts
  package-lock.json
  packages/sdk/src/modules/dashboard/index.ts
  packages/sdk/src/modules/dashboard/mcp-servers/dto/index.ts
  packages/sdk/src/modules/dashboard/mcp-servers/dto/sdk-mcp-server.dto.ts
  packages/sdk/src/modules/dashboard/mcp-servers/index.ts
Labels: app: backend, package: sdk

feat: add keyboard-first command palette (Cmd+K) (#220)
  apps/chat/src/app.tsx
  apps/chat/src/i18n/packs/i18n-lang-en.ts
  apps/chat/src/i18n/packs/i18n-lang-pl.ts
  apps/chat/src/modules/command-palette/command-palette.tsx
  apps/chat/src/modules/command-palette/index.ts
  apps/chat/src/modules/command-palette/use-command-palette-items.ts
  apps/chat/src/modules/index.ts
Labels: app: chat

docs: rewrite README and add one-command quick start (#222)
  README.md
  docker-compose.quickstart.yml
  quick-start.sh
Labels: none

feat(backend): add eval/benchmark runner module
  apps/backend/src/migrations/0053-add-eval-tables.ts
  apps/backend/src/migrations/index.ts
  apps/backend/src/modules/api/controllers/dashboard/dashboard.controller.ts
  apps/backend/src/modules/api/controllers/dashboard/evals.controller.ts
  apps/backend/src/modules/api/controllers/dashboard/index.ts
  apps/backend/src/modules/database/database.tables.ts
  apps/backend/src/modules/evals/evals.firewall.ts
  apps/backend/src/modules/evals/evals.repo.ts
  apps/backend/src/modules/evals/evals.service.ts
  apps/backend/src/modules/evals/evals.tables.ts
  apps/backend/src/modules/evals/index.ts
  packages/sdk/src/modules/dashboard/dashboard.sdk.ts
  packages/sdk/src/modules/dashboard/evals/dto/index.ts
  packages/sdk/src/modules/dashboard/evals/dto/sdk-eval-case.dto.ts
  packages/sdk/src/modules/dashboard/evals/dto/sdk-eval-run.dto.ts
  packages/sdk/src/modules/dashboard/evals/dto/sdk-eval-suite.dto.ts
  packages/sdk/src/modules/dashboard/evals/evals.sdk.ts
  packages/sdk/src/modules/dashboard/evals/index.ts
  packages/sdk/src/modules/dashboard/index.ts
Labels: app: backend, package: sdk

fix(backend): address eval runner code review findings
  apps/backend/src/migrations/0053-add-eval-tables.ts
  apps/backend/src/modules/evals/evals.firewall.ts
  apps/backend/src/modules/evals/evals.repo.ts
  apps/backend/src/modules/evals/evals.service.ts
  apps/backend/src/modules/evals/evals.tables.ts
  packages/sdk/src/modules/dashboard/evals/dto/sdk-eval-run.dto.ts
Labels: app: backend, package: sdk

feat: add eval/benchmark runner for AI model testing (#221)
  apps/backend/src/migrations/0053-add-eval-tables.ts
  apps/backend/src/migrations/index.ts
  apps/backend/src/modules/api/controllers/dashboard/dashboard.controller.ts
  apps/backend/src/modules/api/controllers/dashboard/evals.controller.ts
  apps/backend/src/modules/api/controllers/dashboard/index.ts
  apps/backend/src/modules/database/database.tables.ts
  apps/backend/src/modules/evals/evals.firewall.ts
  apps/backend/src/modules/evals/evals.repo.ts
  apps/backend/src/modules/evals/evals.service.ts
  apps/backend/src/modules/evals/evals.tables.ts
  apps/backend/src/modules/evals/index.ts
  packages/sdk/src/modules/dashboard/dashboard.sdk.ts
  packages/sdk/src/modules/dashboard/evals/dto/index.ts
  packages/sdk/src/modules/dashboard/evals/dto/sdk-eval-case.dto.ts
  packages/sdk/src/modules/dashboard/evals/dto/sdk-eval-run.dto.ts
  packages/sdk/src/modules/dashboard/evals/dto/sdk-eval-suite.dto.ts
  packages/sdk/src/modules/dashboard/evals/evals.sdk.ts
  packages/sdk/src/modules/dashboard/evals/index.ts
  packages/sdk/src/modules/dashboard/index.ts
Labels: app: backend, package: sdk
